Loading the data

id: household

Choices:  
- heinz41  
- heinz32  
- heinz28  
- hunts32  

variables  
- disp (1/0)  
- feat (1/0)  
- price (Log?)

In [8]:
import pandas as pd
df = pd.read_pickle("data.pkl") 
df.head()

,id,disp.heinz41,disp.heinz32,disp.heinz28,disp.hunts32,feat.heinz41,feat.heinz32,feat.heinz28,feat.hunts32,price.heinz41,price.heinz32,price.heinz28,price.hunts32,choice,choiceindex
0,1,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,heinz28,2
1,1,0,0,0,0,0,0,0,0,4.6,4.3,5.2,4.4,heinz28,2
2,1,0,0,0,0,0,1,0,0,4.6,2.5,4.6,4.8,heinz28,2
3,1,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,heinz28,2
4,1,0,0,0,0,0,0,1,0,4.6,3.0,4.6,4.8,heinz28,2

Test split for experimenting with predicting accuracies

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection  import train_test_split

y = df.choice
X = df.iloc[:,1:13]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

Predictions with standard multivariate logit

In [7]:
predlogreg = LogisticRegression(max_iter=10000, solver='lbfgs', multi_class='multinomial')

# fit the model with data
predlogreg.fit(X_train,y_train)

#
y_pred=predlogreg.predict(X_test)

print(predlogreg.score(X,y))
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

0.6429592566118656
Accuracy: 0.6557142857142857

Fitting the standard logit model on all the data for reference parameters

Coeffecients are given per variable per choice

In [11]:
logreg = LogisticRegression(max_iter=10000, solver='lbfgs', multi_class='multinomial')

logreg.fit(X,y)

print(logreg.coef_)
print(logreg.intercept_)

[[-1.97516221e-01  3.19455522e-01  7.19765383e-01  1.72855594e-01
  -4.15806889e-01  7.81821252e-02  8.59873555e-01  4.64034166e-02
   3.59006982e-01  4.70929401e-01 -6.74109612e-01  5.94767201e-01]
 [-7.12641269e-01  5.57166768e-01 -3.65266700e-01 -2.00107756e-01
   2.52072172e-02  5.98804428e-01 -1.90059722e-01 -6.25028874e-01
   9.03014550e-02 -1.67962936e+00  2.60210726e-01  7.31644431e-01]
 [ 8.11124252e-01 -6.30309651e-01 -3.52919610e-01 -3.67312936e-01
   3.78331745e-01 -7.94818524e-01 -8.26180989e-01 -4.22871527e-01
  -8.25742223e-01  1.41973319e-01 -4.89470926e-02  4.10994430e-01]
 [ 9.90332381e-02 -2.46312640e-01 -1.57907167e-03  3.94565099e-01
   1.22679269e-02  1.17831970e-01  1.56367156e-01  1.00149698e+00
   3.76433787e-01  1.06672664e+00  4.62845979e-01 -1.73740606e+00]]
[-1.74702209  2.62645157  1.40361334 -2.28304282]

Conditional logit  
https://github.com/timothyb0912/pylogit/blob/master/examples/notebooks/Mixed%20Logit%20Example--mlogit%20Benchmark--Electricity.ipynb

In [12]:
#!pip install pylogit
import pylogit as pl                   # For choice model estimation
print(pl)

<module 'pylogit' from 'C:\\Users\\Tim\\Anaconda3\\lib\\site-packages\\pylogit\\__init__.py'>

In [2]:
import pickle
example_dict = pickle.load(open("datasets/n 1000 - seed 1234 - time 2019-06-17-172843.pickle","rb"))
example_dict['data'][45].head()

y = example_dict['data'][45].choice
X = example_dict['data'][45].iloc[:,1:13]

In [4]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=10000, solver='lbfgs', multi_class='multinomial')

logreg.fit(X,y)

print(logreg.coef_)
print(logreg.intercept_)

[[-0.50060177 -0.06069759  0.70201887  0.46363556 -0.89549786  0.68571234
   0.29544612 -0.56894825  1.0724466  -0.46135689 -1.79216897  1.00689472]
 [ 0.08087578  0.96907468 -0.11625207 -0.81389879 -0.14674233  0.39733901
  -0.36280702 -0.73148959  1.04590747 -2.42457906  0.80191178  1.17607137]
 [ 1.00536708 -0.21375057 -0.67695608 -0.58542098  2.24786165 -0.40004527
  -0.29668828  0.88574123 -2.56755665  0.42495609  0.37777995  1.27702298]
 [-0.5856411  -0.69462652  0.09118928  0.93568422 -1.20562147 -0.68300608
   0.36404918  0.41469661  0.44920258  2.46097986  0.61247724 -3.45998907]]
[ 1.73485899 -1.98824252  2.72693687 -2.47355333]

In [6]:
import numpy 
res2 = [ 34.02288442,  22.55841664,  38.385831,    59.31164747,  23.42759639,
 -28.72422184, -41.66821782,  -3.22871123,  24.08961985]

np.multiply(res2, 1.8/res2[0])

NameError: name 'np' is not defined

In [ ]:
#!pip install joblib
from math import sqrt
from joblib import Parallel, delayed
Parallel(n_jobs=5, prefer="threads")(delayed(sqrt)(i ** 2) for i in range(1000000000000))

In [24]:
from pathvalidate import sanitize_filename
save = "Filef:!@$%s?????'jlkje"

len(save.split('/'))

1

In [58]:
#!pip install ghalton
from scipy.stats import norm
import numpy as np
import ghalton

n_k = 3
n_r = 3
n_q = 2
# sequencer = ghalton.Halton(n_k)
# draws = np.random.randn(n_r, n_q, n_k);
#initialize sequencer with K dimensions
sequencer = ghalton.Halton(n_k)
            
#make the draws and discard the 10 inital values to prevent issues
halton = np.array(sequencer.get(n_q * n_r + 10)[10:])

#make the result array
draws = np.zeros((n_r, n_q, n_k))

#assign the right probablilities
for q in range(n_q):
    for r in range(n_r):
        draws[r, q, :] = halton[n_r * q + r,:]

#convert to standard variates
draws = norm.ppf(draws)
display(draws.shape)
display(draws)

(3, 2, 3)

array([[[ 0.88714656,  0.53508282, -0.58284151],
        [-0.15731068,  0.89577982,  1.17498679]],

       [[-0.88714656, -1.04440879, -0.05015358],
        [ 1.53412054, -0.64563075, -1.17498679]],

       [[ 0.48877641, -0.04643572,  0.4676988 ],
        [-1.86273187,  0.23421919, -0.4676988 ]]])

In [3]:
from src.main import Mixedlogit, datasetloader 

dataset = datasetloader("n 1000 - seed 1234 - time 2019-06-19-154935.pickle")

mixedlogit = Mixedlogit(dataset, "bigbatch").fit(drawtype="pseudo", n_draws=10, verbose=2, start=9, end=10, parallel=False)
print(mixedlogit)

Fitting 1 datasets

Fitting model 1 of 1

Making pseudo draws of shape (10, 300, 3)

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,1.226,0.630,-0.101,0.916,0.326,-0.262,1.100,1.193,0.748,200.649,0.569

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,1.015,0.425,-0.117,0.947,0.463,-0.524,1.036,1.174,0.557,164.121,0.480

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.982,0.236,-0.140,0.947,0.603,-0.413,0.967,1.137,0.424,138.261,0.423

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.818,0.480,-0.339,0.918,0.935,-0.255,0.795,0.994,0.273,115.981,0.320

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.774,0.426,-0.364,0.912,1.281,-0.249,0.562,0.670,0.317,81.626,0.214

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.706,0.384,-0.397,0.912,0.867,-0.250,0.272,0.324,0.283,46.369,0.160

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.776,0.409,-0.339,0.993,0.854,-0.282,0.255,0.302,0.270,46.458,0.167

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.830,0.415,-0.299,0.921,0.868,-0.322,0.252,0.296,0.260,45.212,0.163

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.819,0.395,-0.326,0.934,0.884,-0.333,0.255,0.296,0.257,43.314,0.153

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.826,0.348,-0.361,0.944,0.933,-0.356,0.205,0.346,0.253,32.249,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.803,0.259,-0.478,0.958,0.989,-0.402,0.294,0.185,0.202,38.484,0.137

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.821,0.179,-0.525,0.989,1.113,-0.440,0.096,0.341,0.200,10.812,0.068

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.814,0.196,-0.528,0.982,1.088,-0.430,0.094,0.308,0.195,11.149,0.077

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.808,0.206,-0.528,0.978,1.069,-0.421,0.078,0.272,0.185,14.458,0.089

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.805,0.209,-0.527,0.977,1.065,-0.418,0.058,0.250,0.176,17.783,0.097

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.804,0.206,-0.525,0.978,1.069,-0.418,0.038,0.234,0.169,20.533,0.103

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.805,0.203,-0.525,0.980,1.074,-0.420,0.025,0.230,0.166,21.940,0.105

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.806,0.201,-0.524,0.981,1.077,-0.421,0.015,0.230,0.166,22.849,0.106

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.806,0.200,-0.525,0.981,1.078,-0.422,0.007,0.231,0.170,23.460,0.106

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.806,0.202,-0.526,0.981,1.077,-0.421,0.003,0.228,0.177,23.804,0.107

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.806,0.203,-0.526,0.980,1.075,-0.421,0.001,0.216,0.182,24.127,0.110

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.806,0.204,-0.526,0.980,1.075,-0.420,0.001,0.203,0.183,24.471,0.114

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.805,0.204,-0.526,0.980,1.075,-0.420,0.001,0.190,0.183,24.788,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.182,0.182,24.983,0.120

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.180,0.182,25.036,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.805,0.203,-0.526,0.980,1.076,-0.420,0.000,0.180,0.182,25.045,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.805,0.203,-0.526,0.980,1.076,-0.420,0.000,0.181,0.181,25.032,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.805,0.203,-0.526,0.980,1.076,-0.420,0.000,0.183,0.181,24.988,0.120

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.805,0.203,-0.526,0.980,1.076,-0.420,0.000,0.187,0.181,24.918,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.190,0.181,24.877,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.191,0.181,24.865,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.189,0.181,24.894,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.912,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.925,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.805,0.203,-0.526,0.980,1.076,-0.420,0.000,0.186,0.181,24.947,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.919,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.187,0.181,24.929,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.187,0.181,24.936,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.187,0.181,24.931,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.926,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.921,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.918,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.920,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.924,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.927,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
45,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.926,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
46,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.925,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
47,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.924,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
48,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.922,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
49,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.923,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
50,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.923,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
51,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.923,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
52,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.923,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
53,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.187,0.181,24.927,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
54,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.931,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
55,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.931,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
56,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.931,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
57,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.930,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
58,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.929,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
59,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.929,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
60,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.929,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
61,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.929,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
62,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.929,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
63,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.929,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
64,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.929,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
65,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.929,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
66,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.929,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
67,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.929,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
68,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.929,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
69,0.805,0.203,-0.526,0.980,1.075,-0.420,0.000,0.188,0.181,24.929,0.119

Optimization done, time elapsed: 0:01:42

      c_0: array([0.9509165 , 0.94351782, 0.57366534, 0.8853488 , 0.18800947,
       0.24620037, 0.17926318, 0.20108699, 0.03453451])
    c_hat: array([ 8.05359861e-01,  2.03013457e-01, -5.25786573e-01,  9.80224809e-01,
        1.07543002e+00, -4.20344021e-01,  1.71465724e-05,  1.87543300e-01,
        1.81310273e-01])
   c_true: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
      dgp: 'bigbatch'
    dgp_i: 9
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 101.84752488136292
      fun: 3433.655828834015
 hess_inv: array([[ 0.00203014, -0.00157408,  0.00257274, -0.00285903, -0.00172609,
        -0.0021011 ,  0.00094961, -0.00181688,  0.00100489],
       [-0.00157408,  0.00135647, -0.00270374,  0.00271139,  0.00154168,
         0.00175845, -0.00127354,  0.00164284, -0.00076014],
       [ 0.00257274, -0.00270374,  0.00915211, -0.00982883, -0.00328998,
        -0.00487129,  0.00552514, -0.00627808,  0.00243813],
       [-0.00285903,  0.00271139, -0.00982883,  0.01522624,  0.00447321,
         0.00605535, -0.00560263,  0.00933336, -0.00504772],
       [-0.00172609,  0.00154168, -0.00328998,  0.00447321,  0.00316842,
         0.00217305, -0.00200113,  0.00232658, -0.00130966],
       [-0.0021011 ,  0.00175845, -0.00487129,  0.00605535,  0.00217305,
         0.00349066, -0.00266106,  0.00423492, -0.00206648],
       [ 0.00094961, -0.00127354,  0.00552514, -0.00560263, -0.00200113,
        -0.00266106,  0.0038557 , -0.00364499,  0.00118856],
       [-0.00181688,  0.00164284, -0.00627808,  0.00933336,  0.00232658,
         0.00423492, -0.00364499,  0.00646181, -0.00341584],
       [ 0.00100489, -0.00076014,  0.00243813, -0.00504772, -0.00130966,
        -0.00206648,  0.00118856, -0.00341584,  0.00222588]])
      jac: array([ 6.10351562e-05, -3.35693359e-04, -5.79833984e-04,  0.00000000e+00,
       -3.05175781e-05,  3.96728516e-04,  9.15527344e-05, -4.88281250e-04,
       -6.10351562e-04])
     mape: 24.92920085815122
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 10
     nfev: 2400
      nit: 70
     njev: 217
     rmse: 0.11852405966995785
   status: 2
  success: False
        x: array([ 8.05359861e-01,  2.03013457e-01, -5.25786573e-01,  9.80224809e-01,
        1.07543002e+00, -4.20344021e-01,  1.71465724e-05,  1.87543300e-01,
        1.81310273e-01])

None

In [3]:
from src.main import Analyzer
import pandas as pd
results = Analyzer(["Results/sagetest/p"])

In [4]:
results.df

,c_0,c_hat,c_true,dgp,dgp_i,dgp_n,drawtype,duration,file,folder,...,mape,message,method,n_draws,nfev,nit,njev,rmse,status,success
0,"[0.4092377519716174, 0.23664853076997583, 0.14...","[0.8071638512448208, 0.1089334753020078, -0.50...","[0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]",bigbatch,0,1000,pseudo,11.558,p - dgp bigbatch- start 0 end 4 - drawtype pse...,Results/sagetest/p,...,41.292,Desired error not necessarily achieved due to ...,BFGS,1,1538,54,139,0.197,2,False
1,"[0.018110451720126708, 0.9899998695827453, 0.6...","[0.7923453169087091, 0.16529444867598556, -0.4...","[0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]",bigbatch,1,1000,pseudo,9.014,p - dgp bigbatch- start 0 end 4 - drawtype pse...,Results/sagetest/p,...,29.328,Desired error not necessarily achieved due to ...,BFGS,1,1057,56,96,0.196,2,False
2,"[0.027773016788785743, 0.47543280491614914, 0....","[0.6790002437051674, 0.23884008633135245, -0.5...","[0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]",bigbatch,2,1000,pseudo,6.479,p - dgp bigbatch- start 0 end 4 - drawtype pse...,Results/sagetest/p,...,40.391,Desired error not necessarily achieved due to ...,BFGS,1,584,31,53,0.198,2,False
3,"[0.4685560140252206, 0.11219391153982261, 0.26...","[0.8832233737255486, 0.20247588456205884, -0.3...","[0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]",bigbatch,3,1000,pseudo,19.521,p - dgp bigbatch- start 0 end 4 - drawtype pse...,Results/sagetest/p,...,34.939,Desired error not necessarily achieved due to ...,BFGS,1,3125,126,282,0.158,2,False
4,"[0.6490137035510323, 0.3932302253712572, 0.264...","[0.7828617317786475, 0.1510028950660392, -0.47...","[0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]",bigbatch,4,1000,pseudo,8.906,p - dgp bigbatch- start 0 end 4 - drawtype pse...,Results/sagetest/p,...,38.474,Desired error not necessarily achieved due to ...,BFGS,1,1112,35,101,0.195,2,False
5,"[0.4601941612210164, 0.9936784782606041, 0.695...","[0.814457554044306, 0.10955750105901943, -0.50...","[0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]",bigbatch,0,1000,pseudo,27.410,p - dgp bigbatch- start 0 end 4 - drawtype pse...,Results/sagetest/p,...,36.243,Desired error not necessarily achieved due to ...,BFGS,5,1122,42,101,0.179,2,False
6,"[0.28539424360207555, 0.9569724302663737, 0.55...","[0.7959566581649213, 0.16628176021043375, -0.4...","[0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]",bigbatch,1,1000,pseudo,31.770,p - dgp bigbatch- start 0 end 4 - drawtype pse...,Results/sagetest/p,...,22.474,Desired error not necessarily achieved due to ...,BFGS,5,1299,67,118,0.180,2,False
7,"[0.3307994006741243, 0.6213798252206503, 0.015...","[0.6977508152730367, 0.25068537052759865, -0.5...","[0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]",bigbatch,2,1000,pseudo,41.795,p - dgp bigbatch- start 0 end 4 - drawtype pse...,Results/sagetest/p,...,41.578,Desired error not necessarily achieved due to ...,BFGS,5,1874,42,170,0.107,2,False
8,"[0.2087359088199744, 0.3950722389379875, 0.530...","[0.8937306805396341, 0.20193235633785128, -0.4...","[0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]",bigbatch,3,1000,pseudo,17.555,p - dgp bigbatch- start 0 end 4 - drawtype pse...,Results/sagetest/p,...,27.056,Desired error not necessarily achieved due to ...,BFGS,5,639,41,58,0.102,2,False
9,"[0.4866393580628492, 0.7780136312628997, 0.673...","[0.7808604095439768, 0.15277921725538848, -0.4...","[0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]",bigbatch,4,1000,pseudo,21.811,p - dgp bigbatch- start 0 end 4 - drawtype pse...,Results/sagetest/p,...,55.111,Desired error not necessarily achieved due to ...,BFGS,5,837,53,76,0.210,2,False