id: household

Choices:  
- heinz41  
- heinz32  
- heinz28  
- hunts32  

variables  
- disp (1/0)  
- feat (1/0)  
- price (Log?)

Loading the dataset

In [1]:
import pickle
dataset = pickle.load(open("datasets/n 1000 - seed 1234 - time 2019-06-19-154935.pickle","rb"))

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/n 1000 - seed 1234 - time 2019-06-19-154935.pickle'

Describing the data

In [2]:
print("Number of datasets generated is %d \n" % dataset['n'])

print("Coefficients")
print(dataset['c'])

print("\n Data preview")
dataset['data'][0].head()

NameError: name 'dataset' is not defined

Running the model

In [1]:
#!pip install pathvalidate
from src.main import Mixedlogit, datasetloader 

dataset = datasetloader("n 1000 - seed 1234 - time 2019-06-19-154935.pickle")

mixedlogit = Mixedlogit(dataset, "bigbatch").fit(drawtype="pseudo", n_draws=2, verbose=1, save="test 1", end=3)
mixedlogit = Mixedlogit(dataset, "bigbatch").fit(drawtype="pseudo", n_draws=2, verbose=1, save="test 2", start=3, end=6)

Fitting 3 datasets

Fitting model 1 of 3

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.397,0.579,0.312,0.740,0.227,0.168,1.418,2.036,0.843,277.269,0.859

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.471,0.480,-0.041,0.822,0.346,-0.494,1.130,1.702,1.102,218.054,0.683

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.945,-0.456,-0.312,0.978,0.718,-0.665,0.684,1.169,1.161,171.410,0.504

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.798,-0.544,-0.112,1.079,0.994,-0.733,0.533,0.993,1.124,156.427,0.471

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.886,-0.253,-0.131,1.149,1.487,-0.543,0.341,0.774,1.194,117.380,0.420

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.693,-0.244,-0.259,0.677,1.507,-0.457,0.203,0.896,1.154,99.668,0.404

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.733,-0.181,-0.229,0.781,1.320,-0.447,0.142,1.078,1.104,88.475,0.388

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.704,-0.130,-0.256,0.790,1.156,-0.415,0.146,0.800,1.039,75.824,0.319

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.749,-0.127,-0.354,0.811,1.567,-0.503,0.227,0.902,0.891,79.489,0.324

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,1.121,-0.024,-0.010,0.547,1.539,-0.711,0.227,0.845,0.840,89.241,0.371

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.966,0.059,-0.238,0.802,1.320,-0.700,0.201,0.729,0.651,57.942,0.221

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.799,0.137,-0.539,1.056,1.069,-0.555,0.130,0.506,0.425,19.089,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.814,0.105,-0.552,1.059,1.091,-0.570,0.108,0.387,0.306,16.111,0.080

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.818,0.113,-0.526,1.026,1.114,-0.535,0.073,0.280,0.211,17.715,0.092

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.807,0.102,-0.486,1.015,1.114,-0.569,0.053,0.210,0.149,25.108,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.800,0.107,-0.500,1.029,1.103,-0.527,0.035,0.156,0.105,28.689,0.137

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.805,0.111,-0.504,1.024,1.107,-0.538,0.026,0.126,0.081,31.609,0.149

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.807,0.107,-0.510,1.031,1.107,-0.544,0.019,0.100,0.060,34.483,0.160

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.807,0.109,-0.511,1.028,1.108,-0.544,0.014,0.082,0.047,35.941,0.167

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.807,0.108,-0.510,1.030,1.107,-0.544,0.011,0.068,0.038,37.036,0.172

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.807,0.109,-0.509,1.029,1.107,-0.544,0.009,0.060,0.032,37.639,0.175

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.807,0.108,-0.509,1.029,1.107,-0.544,0.007,0.055,0.029,38.025,0.177

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.807,0.109,-0.509,1.029,1.107,-0.544,0.007,0.053,0.027,38.201,0.178

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.807,0.109,-0.509,1.029,1.107,-0.545,0.006,0.052,0.026,38.321,0.178

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.807,0.109,-0.509,1.029,1.107,-0.545,0.006,0.051,0.025,38.440,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.807,0.109,-0.509,1.029,1.107,-0.545,0.005,0.051,0.025,38.566,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.807,0.108,-0.509,1.029,1.107,-0.545,0.005,0.051,0.024,38.698,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.807,0.108,-0.509,1.030,1.107,-0.545,0.003,0.053,0.023,38.807,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.807,0.108,-0.510,1.030,1.107,-0.545,0.002,0.059,0.023,38.815,0.177

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.807,0.108,-0.510,1.030,1.107,-0.545,0.001,0.078,0.025,38.451,0.172

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.807,0.108,-0.510,1.029,1.106,-0.545,0.001,0.103,0.028,37.820,0.165

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.807,0.108,-0.509,1.029,1.106,-0.545,0.001,0.097,0.028,37.954,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.807,0.108,-0.509,1.029,1.106,-0.545,0.001,0.097,0.028,37.932,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.807,0.108,-0.509,1.029,1.106,-0.545,0.001,0.097,0.028,37.904,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.807,0.108,-0.509,1.029,1.107,-0.545,0.001,0.097,0.029,37.864,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.807,0.108,-0.509,1.029,1.107,-0.545,0.001,0.097,0.029,37.879,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.807,0.108,-0.509,1.029,1.106,-0.545,0.001,0.097,0.029,37.899,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.807,0.108,-0.509,1.029,1.106,-0.545,0.001,0.097,0.029,37.922,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.807,0.108,-0.510,1.029,1.106,-0.545,0.001,0.096,0.028,37.950,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.807,0.108,-0.510,1.029,1.106,-0.545,0.001,0.096,0.028,37.988,0.167

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.807,0.108,-0.510,1.030,1.106,-0.545,0.000,0.094,0.028,38.043,0.167

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.807,0.108,-0.511,1.030,1.106,-0.545,0.000,0.092,0.028,38.116,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.807,0.108,-0.511,1.030,1.107,-0.545,0.000,0.089,0.028,38.212,0.169

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.808,0.108,-0.511,1.030,1.107,-0.545,0.000,0.083,0.030,38.305,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.807,0.108,-0.510,1.030,1.107,-0.545,0.000,0.077,0.032,38.306,0.171

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
45,0.807,0.108,-0.510,1.030,1.107,-0.545,0.000,0.077,0.033,38.256,0.171

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
46,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.078,0.033,38.222,0.171

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
47,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.184,0.171

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
48,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.080,0.033,38.163,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
49,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.080,0.033,38.168,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
50,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.080,0.033,38.176,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
51,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.080,0.033,38.191,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
52,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.080,0.033,38.199,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
53,0.807,0.108,-0.510,1.030,1.107,-0.545,0.000,0.079,0.032,38.230,0.171

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
54,0.807,0.108,-0.510,1.030,1.107,-0.545,0.000,0.079,0.032,38.227,0.171

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
55,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.199,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
56,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.080,0.033,38.179,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
57,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.183,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
58,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.188,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
59,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.190,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
60,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
61,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.193,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
62,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.193,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
63,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
64,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
65,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
66,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
67,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
68,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
69,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
70,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
71,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
72,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
73,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
74,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
75,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
76,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
77,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
78,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
79,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
80,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
81,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
82,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
83,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
84,0.807,0.108,-0.509,1.029,1.107,-0.545,0.000,0.079,0.033,38.192,0.170

Optimization done, time elapsed: 0:00:16

      c_0: array([0.30457283, 0.46974832, 0.6840462 , 0.6863185 , 0.17098559,
       0.64161074, 0.4873325 , 0.87271052, 0.59442065])
      dgp: 'bigbatch'
    dgp_i: 0
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 16.14910054206848
      fun: 3387.080892585808
 hess_inv: array([[ 4.10653421e-03,  7.06814648e-04,  1.95468660e-03,
        -2.97873042e-03,  2.85259977e-03, -1.61578603e-03,
         4.13090625e-04,  2.62340960e-03, -2.39931277e-03],
       [ 7.06814648e-04,  1.37319417e-03, -1.86843183e-05,
         6.70077344e-04,  8.84778990e-04,  8.18140225e-05,
         2.05076873e-03, -8.29097811e-04, -5.38286437e-04],
       [ 1.95468660e-03, -1.86843183e-05,  4.93444188e-03,
        -2.99856172e-03,  1.32531413e-03, -1.27591440e-03,
         7.04904842e-03, -1.48310282e-03, -2.12516542e-03],
       [-2.97873042e-03,  6.70077344e-04, -2.99856172e-03,
         7.10442603e-03, -2.46636178e-03,  2.18569733e-03,
        -1.60616107e-03, -4.59090902e-03,  1.11067180e-03],
       [ 2.85259977e-03,  8.84778990e-04,  1.32531413e-03,
        -2.46636178e-03,  7.34525954e-03, -1.04104486e-03,
         4.88946814e-04, -3.05445490e-03, -8.18116812e-05],
       [-1.61578603e-03,  8.18140225e-05, -1.27591440e-03,
         2.18569733e-03, -1.04104486e-03,  1.38820119e-03,
        -7.55879751e-04, -1.99380906e-03,  9.00079069e-04],
       [ 4.13090625e-04,  2.05076873e-03,  7.04904842e-03,
        -1.60616107e-03,  4.88946814e-04, -7.55879751e-04,
         4.39957600e-02, -6.53040256e-03, -2.41572338e-03],
       [ 2.62340960e-03, -8.29097811e-04, -1.48310282e-03,
        -4.59090902e-03, -3.05445490e-03, -1.99380906e-03,
        -6.53040256e-03,  1.60203032e-02,  1.78921661e-04],
       [-2.39931277e-03, -5.38286437e-04, -2.12516542e-03,
         1.11067180e-03, -8.18116812e-05,  9.00079069e-04,
        -2.41572338e-03,  1.78921661e-04,  3.10572258e-03]])
      jac: array([-1.22070312e-04, -3.66210938e-04, -6.10351562e-05,  2.13623047e-04,
       -1.22070312e-04, -2.74658203e-04,  3.05175781e-05, -9.15527344e-05,
        1.83105469e-04])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 2
     nfev: 1145
      nit: 85
     njev: 104
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 8.06964582e-01,  1.08057615e-01, -5.09220628e-01,  1.02935792e+00,
        1.10735713e+00, -5.44644250e-01,  3.89283960e-06,  7.93296975e-02,
        3.26489540e-02])

Saving run 1 of 3

Fitting model 2 of 3

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.242,0.870,-0.179,0.564,0.933,-0.182,1.530,1.238,0.618,256.630,0.652

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.729,0.281,-0.435,0.705,1.024,-0.203,1.206,1.010,0.379,156.639,0.428

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.638,0.087,-0.247,0.829,1.099,-0.300,1.055,0.867,0.369,139.076,0.367

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.764,0.318,-0.156,1.174,1.292,-0.210,0.630,0.465,0.431,94.146,0.268

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.763,0.273,-0.212,1.095,1.248,-0.243,0.598,0.399,0.481,88.468,0.242

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.683,0.286,-0.221,0.939,1.176,-0.195,0.590,0.317,0.441,87.623,0.238

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.700,0.290,-0.222,0.956,1.177,-0.213,0.679,0.276,0.430,97.692,0.259

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.632,0.225,-0.389,0.904,1.379,-0.258,0.574,0.297,0.372,77.022,0.226

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.878,0.223,-0.259,1.127,0.529,-0.496,0.369,0.366,0.280,50.565,0.243

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.986,0.251,-0.161,1.027,0.580,-0.550,0.363,0.366,0.278,54.343,0.242

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.943,0.234,-0.230,1.018,0.732,-0.534,0.365,0.338,0.265,49.468,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.861,0.194,-0.363,1.003,1.028,-0.495,0.343,0.258,0.224,39.892,0.132

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.787,0.163,-0.485,1.004,1.286,-0.455,0.289,0.180,0.171,38.336,0.147

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.779,0.161,-0.504,1.008,1.308,-0.449,0.250,0.146,0.142,36.453,0.156

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.786,0.162,-0.492,1.009,1.272,-0.447,0.182,0.094,0.097,31.774,0.164

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.792,0.165,-0.463,1.005,1.225,-0.448,0.135,0.060,0.066,28.392,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.794,0.166,-0.449,1.003,1.204,-0.447,0.100,0.038,0.045,25.949,0.177

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.793,0.166,-0.449,1.003,1.203,-0.447,0.073,0.023,0.030,29.927,0.184

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.792,0.165,-0.456,1.003,1.211,-0.446,0.052,0.013,0.019,33.006,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.791,0.165,-0.461,1.003,1.217,-0.446,0.038,0.007,0.012,35.064,0.192

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.791,0.164,-0.462,1.003,1.219,-0.446,0.027,0.004,0.008,36.472,0.194

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.791,0.164,-0.462,1.003,1.218,-0.446,0.020,0.003,0.005,37.440,0.196

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.791,0.164,-0.461,1.003,1.217,-0.446,0.015,0.002,0.004,38.101,0.196

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.791,0.164,-0.460,1.003,1.216,-0.446,0.012,0.001,0.003,38.526,0.197

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.791,0.164,-0.460,1.003,1.216,-0.446,0.009,0.001,0.002,38.817,0.197

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.791,0.164,-0.460,1.003,1.216,-0.446,0.008,0.001,0.002,38.959,0.197

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.791,0.164,-0.460,1.003,1.217,-0.446,0.008,0.000,0.001,39.038,0.197

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.791,0.164,-0.460,1.003,1.217,-0.446,0.007,0.000,0.001,39.090,0.197

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.791,0.164,-0.460,1.003,1.217,-0.446,0.007,0.000,0.001,39.135,0.197

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.791,0.164,-0.460,1.003,1.217,-0.446,0.007,0.000,0.001,39.125,0.197

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.793,0.166,-0.452,1.004,1.206,-0.447,0.044,0.001,0.005,34.803,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.793,0.166,-0.452,1.004,1.206,-0.447,0.049,0.001,0.005,34.226,0.194

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.793,0.166,-0.454,1.004,1.210,-0.447,0.058,0.001,0.004,33.233,0.194

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.791,0.165,-0.461,1.004,1.218,-0.446,0.064,0.000,0.002,32.779,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.791,0.165,-0.462,1.004,1.219,-0.446,0.064,0.000,0.001,32.803,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.791,0.165,-0.461,1.004,1.218,-0.446,0.066,0.000,0.001,32.539,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.791,0.165,-0.460,1.004,1.217,-0.446,0.061,0.000,0.000,33.181,0.196

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.791,0.165,-0.459,1.004,1.216,-0.446,0.066,0.000,0.000,32.596,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.791,0.165,-0.460,1.004,1.216,-0.446,0.066,0.000,0.000,32.651,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.791,0.165,-0.460,1.004,1.216,-0.446,0.065,0.000,0.000,32.703,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.791,0.165,-0.460,1.004,1.216,-0.446,0.065,0.000,0.000,32.724,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.791,0.165,-0.460,1.004,1.216,-0.446,0.065,0.000,0.000,32.722,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.791,0.165,-0.460,1.004,1.216,-0.446,0.065,0.000,0.000,32.766,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.791,0.165,-0.460,1.004,1.216,-0.446,0.065,0.000,0.000,32.728,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.791,0.165,-0.460,1.004,1.216,-0.446,0.065,0.000,0.000,32.725,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
45,0.791,0.165,-0.460,1.004,1.216,-0.446,0.065,0.000,0.000,32.725,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
46,0.791,0.165,-0.460,1.004,1.216,-0.446,0.065,0.000,0.000,32.725,0.195

Optimization done, time elapsed: 0:00:14

      c_0: array([0.15132268, 0.83877349, 0.22036503, 0.46214472, 0.86653203,
       0.55191452, 0.62545041, 0.34045961, 0.01036094])
      dgp: 'bigbatch'
    dgp_i: 1
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 14.302894115447998
      fun: 3426.6675872307364
 hess_inv: array([[ 5.92587093e-03,  1.23020653e-03,  3.80138353e-03,
        -9.90609730e-04,  3.13814904e-04, -2.38512465e-03,
        -3.10844126e-03, -5.90721172e-02, -3.54966635e-02],
       [ 1.23020653e-03,  3.38874437e-03,  2.34628743e-03,
         2.26622945e-04, -1.17237264e-03,  1.22606773e-04,
        -2.21043269e-02,  4.82792038e-01,  2.69573607e-01],
       [ 3.80138353e-03,  2.34628743e-03,  9.54625241e-03,
        -1.50479992e-04, -5.29295476e-03, -2.45475069e-03,
        -8.66025469e-02,  2.03581429e+00,  1.13923066e+00],
       [-9.90609730e-04,  2.26622945e-04, -1.50479992e-04,
         8.32177830e-03, -2.68786862e-03,  5.34772054e-04,
        -2.88855315e-02,  6.86351637e-01,  3.82805304e-01],
       [ 3.13814904e-04, -1.17237264e-03, -5.29295476e-03,
        -2.68786862e-03,  1.47347261e-02,  1.19040283e-03,
         1.23826637e-01, -3.15373891e+00, -1.76835186e+00],
       [-2.38512465e-03,  1.22606773e-04, -2.45475069e-03,
         5.34772054e-04,  1.19040283e-03,  2.17079942e-03,
         1.75036869e-02, -4.36650319e-01, -2.44709939e-01],
       [-3.10844126e-03, -2.21043269e-02, -8.66025469e-02,
        -2.88855315e-02,  1.23826637e-01,  1.75036869e-02,
         4.55047891e+00, -1.01375520e+02, -5.66523431e+01],
       [-5.90721172e-02,  4.82792038e-01,  2.03581429e+00,
         6.86351637e-01, -3.15373891e+00, -4.36650319e-01,
        -1.01375520e+02,  2.30136191e+03,  1.28675907e+03],
       [-3.54966635e-02,  2.69573607e-01,  1.13923066e+00,
         3.82805304e-01, -1.76835186e+00, -2.44709939e-01,
        -5.66523431e+01,  1.28675907e+03,  7.19493425e+02]])
      jac: array([-3.66210938e-04,  7.01904297e-04,  6.10351562e-04,  4.88281250e-04,
       -1.22070312e-04, -9.15527344e-04,  3.35693359e-04,  0.00000000e+00,
        3.05175781e-05])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 2
     nfev: 1420
      nit: 47
     njev: 128
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 7.91200074e-01,  1.64764987e-01, -4.60004160e-01,  1.00361490e+00,
        1.21638002e+00, -4.46213405e-01,  6.50459125e-02,  1.14557962e-11,
        1.29946723e-07])

Saving run 2 of 3

Fitting model 3 of 3

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.207,0.937,0.192,0.335,0.806,0.067,1.116,1.019,0.787,235.398,0.640

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.634,0.387,-0.098,0.446,0.878,0.036,1.002,0.929,0.370,156.410,0.444

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.509,0.145,0.053,0.542,0.938,-0.144,0.959,0.868,0.323,140.146,0.415

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.568,0.101,0.006,0.868,1.117,-0.140,0.722,0.591,0.376,105.249,0.309

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.457,0.200,0.006,0.880,1.113,-0.065,0.579,0.461,0.338,84.063,0.299

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.405,0.129,-0.070,0.720,0.987,-0.081,0.479,0.361,0.352,81.400,0.287

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.516,0.181,0.010,0.678,0.950,-0.143,0.490,0.323,0.341,79.860,0.285

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.454,0.182,-0.104,0.677,1.038,-0.142,0.552,0.304,0.324,83.853,0.280

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.316,0.149,-0.312,1.316,0.364,-0.116,0.405,0.490,0.301,71.240,0.370

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.329,0.149,-0.310,1.318,0.389,-0.128,0.356,0.551,0.301,66.089,0.357

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.416,0.188,-0.343,1.164,0.559,-0.211,0.343,0.446,0.268,53.640,0.275

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.624,0.247,-0.457,0.893,1.057,-0.374,0.270,0.336,0.196,34.236,0.111

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.682,0.249,-0.517,0.882,1.120,-0.406,0.230,0.337,0.169,28.961,0.092

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.706,0.244,-0.557,0.892,1.131,-0.412,0.190,0.353,0.142,25.492,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.710,0.238,-0.574,0.904,1.121,-0.407,0.147,0.373,0.112,21.525,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.699,0.235,-0.559,0.907,1.101,-0.397,0.106,0.385,0.082,17.773,0.086

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.686,0.237,-0.533,0.903,1.089,-0.390,0.077,0.378,0.060,20.667,0.094

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.680,0.238,-0.521,0.901,1.085,-0.387,0.059,0.366,0.047,23.481,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.679,0.238,-0.520,0.902,1.085,-0.386,0.045,0.355,0.036,25.735,0.105

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.680,0.238,-0.525,0.903,1.086,-0.387,0.034,0.347,0.028,27.616,0.109

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.682,0.237,-0.529,0.905,1.088,-0.387,0.026,0.346,0.022,28.822,0.111

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.683,0.237,-0.531,0.905,1.088,-0.388,0.021,0.348,0.018,29.532,0.111

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.683,0.237,-0.531,0.905,1.088,-0.388,0.017,0.353,0.015,29.957,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.683,0.237,-0.530,0.905,1.088,-0.388,0.015,0.356,0.013,30.195,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.683,0.237,-0.529,0.904,1.088,-0.388,0.014,0.358,0.013,30.285,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.683,0.237,-0.529,0.904,1.088,-0.388,0.013,0.358,0.013,30.335,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.683,0.237,-0.529,0.904,1.088,-0.388,0.013,0.358,0.012,30.399,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.682,0.237,-0.528,0.904,1.088,-0.387,0.012,0.358,0.012,30.499,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.682,0.237,-0.528,0.904,1.088,-0.387,0.011,0.357,0.012,30.637,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.682,0.237,-0.528,0.904,1.087,-0.387,0.010,0.356,0.011,30.827,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.682,0.237,-0.528,0.905,1.087,-0.387,0.008,0.353,0.011,31.084,0.114

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.682,0.237,-0.528,0.905,1.087,-0.387,0.006,0.350,0.011,31.392,0.114

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.681,0.237,-0.528,0.905,1.087,-0.387,0.004,0.346,0.012,31.699,0.115

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.681,0.237,-0.528,0.906,1.087,-0.387,0.002,0.342,0.015,31.884,0.115

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.682,0.237,-0.529,0.906,1.088,-0.387,0.001,0.343,0.020,31.756,0.114

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.682,0.237,-0.530,0.905,1.088,-0.388,0.001,0.349,0.019,31.683,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.683,0.237,-0.530,0.905,1.088,-0.388,0.001,0.358,0.019,31.508,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.683,0.237,-0.530,0.905,1.088,-0.388,0.001,0.358,0.019,31.511,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.358,0.019,31.525,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.682,0.237,-0.529,0.905,1.088,-0.388,0.000,0.357,0.019,31.551,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.682,0.237,-0.528,0.905,1.088,-0.388,0.000,0.357,0.018,31.569,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.683,0.237,-0.530,0.905,1.088,-0.388,0.000,0.356,0.018,31.635,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.356,0.018,31.611,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.356,0.018,31.603,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.357,0.018,31.595,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
45,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.357,0.018,31.598,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
46,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.357,0.018,31.602,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
47,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.356,0.018,31.605,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
48,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.356,0.018,31.608,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
49,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.356,0.018,31.614,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
50,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.356,0.018,31.610,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
51,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.357,0.018,31.606,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
52,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.357,0.018,31.600,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
53,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.357,0.018,31.596,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
54,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.357,0.018,31.595,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
55,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.357,0.018,31.598,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
56,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.357,0.018,31.602,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
57,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.356,0.018,31.610,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
58,0.683,0.237,-0.529,0.905,1.088,-0.388,0.000,0.356,0.018,31.609,0.112

Optimization done, time elapsed: 0:00:15

      c_0: array([0.09099857, 0.76771017, 0.71780583, 0.24913826, 0.77083402,
       0.79750705, 0.18326414, 0.05876176, 0.15145961])
      dgp: 'bigbatch'
    dgp_i: 2
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 15.461038589477539
      fun: 3459.1960961835416
 hess_inv: array([[ 5.92514215e-03,  1.27332971e-03,  3.72610244e-03,
        -8.14402735e-04, -1.96307601e-04, -2.29124819e-03,
        -7.94514906e-02,  7.75195840e-04,  3.73532058e-03],
       [ 1.27332971e-03,  3.10358304e-03,  1.77229988e-03,
        -1.42053152e-04,  6.55152214e-06,  4.95253177e-04,
         1.69868298e-01,  2.01441600e-03, -7.45440432e-03],
       [ 3.72610244e-03,  1.77229988e-03,  7.48637190e-03,
        -1.71143508e-03, -4.25323731e-04, -1.39708563e-03,
         7.24113100e-01,  8.21719651e-03, -9.90166480e-03],
       [-8.14402735e-04, -1.42053152e-04, -1.71143508e-03,
         6.92268022e-03, -1.19293131e-03,  6.50980728e-04,
        -2.44939033e-01, -2.16750596e-03,  3.90837763e-03],
       [-1.96307601e-04,  6.55152214e-06, -4.25323731e-04,
        -1.19293131e-03,  8.20538461e-03,  4.44025504e-04,
         3.61631542e-02,  3.23073848e-04,  2.26085286e-03],
       [-2.29124819e-03,  4.95253177e-04, -1.39708563e-03,
         6.50980728e-04,  4.44025504e-04,  1.91989916e-03,
         1.03743379e-01,  3.09446507e-04, -6.17587861e-03],
       [-7.94514906e-02,  1.69868298e-01,  7.24113100e-01,
        -2.44939033e-01,  3.61631542e-02,  1.03743379e-01,
         2.57291751e+02,  3.58580103e+00, -2.90183371e+00],
       [ 7.75195840e-04,  2.01441600e-03,  8.21719651e-03,
        -2.16750596e-03,  3.23073848e-04,  3.09446507e-04,
         3.58580103e+00,  1.78614923e-01, -1.16335379e-01],
       [ 3.73532058e-03, -7.45440432e-03, -9.90166480e-03,
         3.90837763e-03,  2.26085286e-03, -6.17587861e-03,
        -2.90183371e+00, -1.16335379e-01,  9.13415180e-01]])
      jac: array([ 3.87573242e-03,  4.88281250e-04, -1.04980469e-02,  1.19018555e-03,
       -1.31225586e-03, -7.99560547e-03,  0.00000000e+00, -1.49536133e-03,
       -9.15527344e-05])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 2
     nfev: 1529
      nit: 59
     njev: 138
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 6.82671572e-01,  2.37223122e-01, -5.29182745e-01,  9.04841094e-01,
        1.08811597e+00, -3.87809354e-01,  3.39030683e-05,  3.56439500e-01,
        1.84116300e-02])

Saving run 3 of 3

All results saved to pickle: Results/test 1 - dgp bigbatch- start 0 end 2 - drawtype pseudo - ndraws 2- timestamp 2019-06-19-224900
Fitting 6 datasets

Fitting model 1 of 6

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.068,0.883,-0.268,0.399,0.343,0.086,0.946,1.678,0.801,224.779,0.717

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.534,0.197,-0.427,0.571,0.514,-0.012,0.819,1.356,0.519,137.171,0.482

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.581,-0.125,-0.295,0.778,0.732,-0.301,0.695,1.116,0.673,133.820,0.380

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,1.040,0.294,-0.205,1.273,1.455,-0.254,0.379,0.553,0.799,85.314,0.309

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.949,0.304,-0.061,1.258,1.535,-0.212,0.323,0.476,0.726,79.371,0.317

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.910,0.296,-0.093,1.103,1.495,-0.203,0.262,0.398,0.734,70.839,0.287

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.859,0.298,-0.115,1.271,1.131,-0.176,0.193,0.345,0.717,61.411,0.270

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.809,0.273,-0.194,1.283,1.155,-0.173,0.169,0.385,0.690,53.296,0.251

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,1.024,0.311,-0.023,1.135,1.080,-0.323,0.153,0.441,0.631,51.043,0.242

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.912,0.270,-0.142,1.080,0.999,-0.366,0.394,0.177,0.566,73.484,0.235

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.832,0.184,-0.311,1.011,1.015,-0.473,0.197,0.198,0.454,34.939,0.149

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.809,0.103,-0.489,0.994,1.133,-0.605,0.149,0.191,0.306,24.436,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.816,0.100,-0.531,1.002,1.137,-0.597,0.109,0.191,0.243,18.417,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.827,0.107,-0.530,1.013,1.131,-0.562,0.065,0.182,0.166,23.994,0.124

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.821,0.111,-0.508,1.019,1.119,-0.553,0.044,0.166,0.122,27.606,0.132

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.809,0.110,-0.501,1.021,1.116,-0.549,0.029,0.149,0.090,30.644,0.141

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.808,0.110,-0.502,1.022,1.116,-0.548,0.020,0.133,0.068,32.935,0.149

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.809,0.109,-0.506,1.024,1.116,-0.548,0.015,0.119,0.053,34.766,0.155

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.810,0.109,-0.508,1.025,1.116,-0.548,0.011,0.108,0.043,35.952,0.160

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.810,0.109,-0.508,1.026,1.116,-0.548,0.009,0.100,0.036,36.676,0.164

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.809,0.109,-0.508,1.026,1.115,-0.548,0.007,0.095,0.033,37.051,0.165

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.809,0.109,-0.508,1.026,1.115,-0.548,0.007,0.093,0.031,37.220,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.809,0.109,-0.507,1.026,1.115,-0.548,0.007,0.092,0.030,37.308,0.167

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.809,0.109,-0.507,1.026,1.115,-0.548,0.006,0.090,0.030,37.401,0.167

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.809,0.109,-0.507,1.026,1.115,-0.548,0.006,0.088,0.029,37.515,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.809,0.109,-0.507,1.026,1.115,-0.548,0.005,0.085,0.029,37.657,0.169

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.809,0.109,-0.507,1.026,1.114,-0.548,0.005,0.081,0.029,37.838,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.809,0.109,-0.507,1.027,1.114,-0.548,0.004,0.075,0.029,38.055,0.172

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.809,0.109,-0.507,1.027,1.113,-0.548,0.002,0.066,0.032,38.267,0.174

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.809,0.109,-0.507,1.027,1.113,-0.548,0.001,0.058,0.038,38.293,0.175

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.809,0.109,-0.507,1.026,1.113,-0.548,0.001,0.058,0.039,38.253,0.175

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.809,0.109,-0.507,1.026,1.113,-0.548,0.002,0.060,0.040,38.169,0.175

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.810,0.109,-0.508,1.026,1.114,-0.548,0.002,0.065,0.041,38.003,0.173

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.810,0.109,-0.508,1.026,1.114,-0.548,0.002,0.068,0.041,37.922,0.172

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.810,0.109,-0.507,1.026,1.114,-0.548,0.002,0.072,0.040,37.841,0.171

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.809,0.109,-0.507,1.026,1.114,-0.548,0.002,0.076,0.040,37.756,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.809,0.109,-0.507,1.026,1.114,-0.548,0.002,0.082,0.039,37.674,0.169

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.809,0.109,-0.506,1.026,1.115,-0.548,0.001,0.087,0.038,37.648,0.167

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.809,0.109,-0.506,1.026,1.115,-0.548,0.001,0.086,0.038,37.730,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.809,0.109,-0.507,1.026,1.115,-0.548,0.000,0.085,0.039,37.785,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.810,0.109,-0.507,1.026,1.115,-0.548,0.000,0.083,0.040,37.817,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.810,0.109,-0.507,1.026,1.115,-0.548,0.000,0.083,0.040,37.830,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.810,0.109,-0.507,1.026,1.115,-0.548,0.000,0.083,0.040,37.837,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.809,0.109,-0.507,1.026,1.115,-0.548,0.000,0.084,0.039,37.818,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.809,0.109,-0.507,1.026,1.115,-0.548,0.000,0.084,0.039,37.825,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
45,0.810,0.109,-0.507,1.026,1.115,-0.548,0.000,0.084,0.039,37.830,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
46,0.810,0.109,-0.507,1.026,1.115,-0.548,0.000,0.084,0.039,37.829,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
47,0.810,0.109,-0.507,1.026,1.115,-0.548,0.000,0.084,0.039,37.829,0.168

Optimization done, time elapsed: 0:00:08

      c_0: array([0.04425987, 0.88065834, 0.02551391, 0.27179514, 0.2526022 ,
       0.84209122, 0.03255277, 0.65040849, 0.33667539])
      dgp: 'bigbatch'
    dgp_i: 3
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 7.673726797103882
      fun: 3387.0111318619097
 hess_inv: array([[ 6.55387515e-03,  1.45547167e-03,  4.24770945e-03,
        -1.34825692e-03, -4.05028344e-05, -2.81781407e-03,
        -2.74282941e-03,  4.21846707e-03,  4.73073907e-03],
       [ 1.45547167e-03,  3.08548624e-03,  1.42952587e-03,
        -2.68211738e-04,  1.72036859e-04,  1.55924085e-04,
        -1.81749060e-02,  1.88643942e-03,  1.47860742e-03],
       [ 4.24770945e-03,  1.42952587e-03,  6.35416664e-03,
        -1.83901500e-03, -7.82338223e-04, -2.06147542e-03,
         6.85871129e-02, -3.24409957e-04, -3.85381259e-03],
       [-1.34825692e-03, -2.68211738e-04, -1.83901500e-03,
         7.74120838e-03, -7.99240017e-04,  1.03890912e-03,
         3.28721804e-02, -2.99463723e-03, -1.99333321e-03],
       [-4.05028344e-05,  1.72036859e-04, -7.82338223e-04,
        -7.99240017e-04,  8.98738016e-03,  2.45498318e-04,
        -2.63414661e-01,  1.88185130e-02,  5.15160290e-03],
       [-2.81781407e-03,  1.55924085e-04, -2.06147542e-03,
         1.03890912e-03,  2.45498318e-04,  2.15656683e-03,
         3.18150368e-03, -2.18689224e-03, -2.94884719e-03],
       [-2.74282941e-03, -1.81749060e-02,  6.85871129e-02,
         3.28721804e-02, -2.63414661e-01,  3.18150368e-03,
         3.10368281e+02, -2.66378636e+01, -5.32576838e+00],
       [ 4.21846707e-03,  1.88643942e-03, -3.24409957e-04,
        -2.99463723e-03,  1.88185130e-02, -2.18689224e-03,
        -2.66378636e+01,  2.35714787e+00,  2.18527455e-01],
       [ 4.73073907e-03,  1.47860742e-03, -3.85381259e-03,
        -1.99333321e-03,  5.15160290e-03, -2.94884719e-03,
        -5.32576838e+00,  2.18527455e-01,  9.71758732e-01]])
      jac: array([ 0.00567627,  0.0100708 , -0.01049805,  0.00030518,  0.00430298,
       -0.00119019,  0.        ,  0.00027466,  0.00067139])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 2
     nfev: 727
      nit: 48
     njev: 66
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 8.09575824e-01,  1.09267489e-01, -5.07288995e-01,  1.02580582e+00,
        1.11489638e+00, -5.48131728e-01,  1.72534408e-06,  8.36379587e-02,
        3.94755846e-02])

Saving run 1 of 6

Fitting model 2 of 6

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.873,0.381,0.193,0.919,0.154,-0.336,1.254,1.472,0.703,209.961,0.660

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,1.117,0.107,-0.123,0.913,0.414,-0.356,1.046,1.209,0.681,168.256,0.508

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,1.060,-0.010,-0.241,0.927,0.688,-0.532,0.921,1.019,0.797,153.310,0.421

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.854,-0.135,-0.152,0.936,1.199,-0.398,0.788,0.767,0.766,136.063,0.344

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.822,0.042,-0.237,0.916,1.395,-0.289,0.768,0.661,0.790,124.569,0.332

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.675,-0.010,-0.363,0.869,1.284,-0.253,0.967,0.459,0.755,143.896,0.363

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.716,0.028,-0.300,0.971,1.159,-0.263,0.866,0.370,0.742,131.761,0.331

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.790,0.056,-0.264,0.875,1.210,-0.344,0.862,0.381,0.685,124.913,0.316

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.308,-0.031,-0.836,1.332,1.212,-0.140,0.693,0.640,0.603,126.294,0.370

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.464,0.026,-0.722,1.318,1.259,-0.265,0.678,0.530,0.526,108.463,0.309

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.380,0.041,-0.733,0.939,1.122,-0.261,0.498,0.481,0.499,81.598,0.244

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.473,0.069,-0.667,0.937,1.155,-0.320,0.477,0.448,0.450,72.469,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.638,0.116,-0.551,0.963,1.195,-0.403,0.408,0.359,0.351,53.811,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.831,0.170,-0.424,1.009,1.237,-0.492,0.293,0.233,0.221,35.361,0.128

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.846,0.181,-0.419,1.008,1.247,-0.473,0.220,0.163,0.159,31.788,0.141

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.802,0.161,-0.453,1.002,1.221,-0.462,0.155,0.106,0.106,27.808,0.152

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.788,0.163,-0.460,1.001,1.221,-0.438,0.110,0.069,0.072,25.584,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.782,0.158,-0.464,1.000,1.212,-0.448,0.076,0.043,0.047,28.726,0.176

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.791,0.164,-0.459,1.002,1.217,-0.444,0.051,0.026,0.029,32.488,0.184

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.793,0.164,-0.459,1.002,1.217,-0.447,0.034,0.015,0.018,35.113,0.190

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.792,0.164,-0.460,1.003,1.217,-0.447,0.021,0.008,0.010,36.977,0.193

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.791,0.164,-0.460,1.003,1.217,-0.446,0.013,0.004,0.006,38.198,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.791,0.164,-0.460,1.003,1.217,-0.446,0.008,0.002,0.003,38.948,0.196

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.791,0.164,-0.461,1.003,1.217,-0.446,0.004,0.001,0.002,39.389,0.197

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.791,0.164,-0.460,1.003,1.217,-0.446,0.002,0.001,0.001,39.641,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.791,0.164,-0.460,1.003,1.217,-0.446,0.001,0.000,0.000,39.784,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.791,0.164,-0.461,1.003,1.217,-0.446,0.001,0.000,0.000,39.867,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.907,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.932,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.945,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.953,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.791,0.164,-0.461,1.003,1.217,-0.446,0.000,0.000,0.000,39.957,0.198

Optimization done, time elapsed: 0:00:13

      c_0: array([0.98010693, 0.18154355, 0.42049412, 0.84607297, 0.04786251,
       0.18526296, 0.410195  , 0.50427779, 0.41041898])
      dgp: 'bigbatch'
    dgp_i: 4
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 13.183275699615479
      fun: 3426.8399928661624
 hess_inv: array([[ 4.78682919e-04,  1.17575980e-04,  3.20694132e-04,
        -6.27342335e-04,  2.63501069e-04, -1.59500545e-04,
        -6.17354373e-04, -7.72929708e-04,  1.45364732e-04],
       [ 1.17575980e-04,  2.13816724e-03,  1.50845994e-03,
        -5.75940126e-04,  3.61743106e-04,  5.56611974e-04,
        -5.69143600e-03,  8.50040113e-03,  2.89425042e-03],
       [ 3.20694132e-04,  1.50845994e-03,  2.02277641e-03,
        -1.06516145e-03, -1.77442309e-04,  2.21723552e-04,
        -4.50055019e-03,  6.73474801e-03,  3.28055048e-03],
       [-6.27342335e-04, -5.75940126e-04, -1.06516145e-03,
         2.99349337e-03, -1.03887381e-03, -2.50939041e-04,
         2.85941843e-03, -4.48636513e-03, -2.44131483e-03],
       [ 2.63501069e-04,  3.61743106e-04, -1.77442309e-04,
        -1.03887381e-03,  2.14057350e-03,  2.41678288e-04,
        -1.76498274e-03,  2.09764396e-03,  6.73621601e-05],
       [-1.59500545e-04,  5.56611974e-04,  2.21723552e-04,
        -2.50939041e-04,  2.41678288e-04,  6.71296493e-04,
        -2.13511063e-03,  4.35293141e-03,  1.32058546e-03],
       [-6.17354373e-04, -5.69143600e-03, -4.50055019e-03,
         2.85941843e-03, -1.76498274e-03, -2.13511063e-03,
         1.75071716e-02, -2.55175714e-02, -9.78373104e-03],
       [-7.72929708e-04,  8.50040113e-03,  6.73474801e-03,
        -4.48636513e-03,  2.09764396e-03,  4.35293141e-03,
        -2.55175714e-02,  5.03912202e-02,  1.63279490e-02],
       [ 1.45364732e-04,  2.89425042e-03,  3.28055048e-03,
        -2.44131483e-03,  6.73621601e-05,  1.32058546e-03,
        -9.78373104e-03,  1.63279490e-02,  7.39920520e-03]])
      jac: array([ 0.0010376 , -0.00027466, -0.00048828,  0.00064087,  0.        ,
        0.00067139,  0.00021362,  0.00015259,  0.00042725])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 2
     nfev: 1288
      nit: 45
     njev: 116
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 7.91015762e-01,  1.64316790e-01, -4.60515451e-01,  1.00292516e+00,
        1.21662396e+00, -4.46157909e-01,  4.88935742e-05,  3.53586103e-06,
        8.25801853e-06])

Saving run 2 of 6

Fitting model 3 of 6

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.329,0.490,0.111,0.368,0.594,-0.238,1.137,1.976,0.740,223.581,0.729

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.688,0.269,-0.164,0.430,0.663,-0.132,1.003,1.541,0.405,161.575,0.537

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.541,0.116,0.012,0.527,0.753,-0.252,0.903,1.348,0.310,144.001,0.474

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.524,0.252,0.050,0.696,0.956,-0.165,0.657,1.165,0.322,110.184,0.382

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.556,0.133,0.008,0.781,1.047,-0.208,0.519,1.156,0.360,92.898,0.340

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.484,0.132,-0.057,0.724,0.967,-0.202,0.390,1.292,0.344,82.200,0.359

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.535,0.152,-0.030,0.772,0.791,-0.232,0.355,1.186,0.346,75.305,0.337

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.580,0.186,-0.047,0.776,0.868,-0.269,0.365,1.181,0.329,71.007,0.319

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.246,0.083,-0.412,0.567,0.999,-0.152,0.408,0.754,0.344,73.125,0.286

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.149,0.066,-0.522,0.760,0.968,-0.100,0.430,0.784,0.334,75.662,0.305

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.258,0.111,-0.512,0.773,0.987,-0.167,0.409,0.746,0.303,64.998,0.258

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.499,0.192,-0.505,0.814,1.027,-0.306,0.347,0.619,0.238,41.428,0.155

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.697,0.250,-0.520,0.861,1.091,-0.408,0.281,0.476,0.180,31.001,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.725,0.253,-0.541,0.876,1.103,-0.417,0.248,0.403,0.154,29.931,0.080

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.720,0.248,-0.557,0.888,1.104,-0.407,0.199,0.301,0.117,28.571,0.099

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.694,0.241,-0.547,0.890,1.098,-0.390,0.157,0.222,0.089,27.105,0.122

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.678,0.239,-0.530,0.890,1.094,-0.381,0.127,0.164,0.069,25.780,0.140

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.674,0.238,-0.523,0.891,1.093,-0.379,0.105,0.126,0.056,24.774,0.153

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.675,0.239,-0.524,0.893,1.095,-0.380,0.085,0.091,0.044,27.117,0.164

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.678,0.239,-0.529,0.895,1.097,-0.382,0.069,0.065,0.034,29.938,0.173

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.680,0.239,-0.532,0.896,1.099,-0.383,0.058,0.048,0.027,31.846,0.178

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.681,0.239,-0.533,0.897,1.099,-0.384,0.050,0.038,0.023,33.047,0.182

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.680,0.239,-0.532,0.897,1.099,-0.383,0.046,0.032,0.021,33.805,0.184

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.679,0.239,-0.531,0.897,1.099,-0.383,0.043,0.027,0.019,34.315,0.186

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.679,0.239,-0.530,0.897,1.098,-0.383,0.041,0.023,0.018,34.684,0.187

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.678,0.239,-0.529,0.897,1.098,-0.382,0.040,0.019,0.017,34.878,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.677,0.239,-0.527,0.897,1.098,-0.382,0.041,0.016,0.017,34.792,0.190

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.676,0.239,-0.526,0.896,1.097,-0.381,0.047,0.013,0.018,34.154,0.190

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.671,0.238,-0.518,0.891,1.095,-0.377,0.128,0.004,0.033,30.993,0.191

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.672,0.238,-0.520,0.889,1.096,-0.378,0.153,0.004,0.037,33.621,0.191

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.678,0.239,-0.527,0.889,1.098,-0.381,0.150,0.003,0.036,33.359,0.190

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.681,0.239,-0.532,0.890,1.099,-0.383,0.148,0.003,0.036,33.199,0.190

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.681,0.239,-0.532,0.890,1.099,-0.383,0.147,0.004,0.037,33.021,0.190

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.682,0.240,-0.533,0.890,1.100,-0.383,0.145,0.004,0.038,32.710,0.190

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.683,0.240,-0.534,0.891,1.100,-0.384,0.141,0.004,0.041,32.118,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.683,0.240,-0.534,0.891,1.101,-0.383,0.132,0.005,0.046,30.896,0.188

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.682,0.240,-0.533,0.891,1.101,-0.383,0.127,0.005,0.046,30.339,0.188

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.681,0.240,-0.531,0.891,1.101,-0.382,0.122,0.005,0.047,29.745,0.188

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.679,0.240,-0.529,0.891,1.100,-0.381,0.114,0.003,0.048,28.863,0.188

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.678,0.239,-0.528,0.891,1.100,-0.381,0.107,0.002,0.048,28.076,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.678,0.240,-0.529,0.891,1.100,-0.381,0.104,0.001,0.048,27.753,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.679,0.240,-0.530,0.892,1.100,-0.381,0.103,0.001,0.048,27.727,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.680,0.240,-0.530,0.892,1.101,-0.382,0.105,0.000,0.048,27.959,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.681,0.240,-0.531,0.892,1.101,-0.382,0.108,0.000,0.048,28.255,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.680,0.240,-0.531,0.892,1.101,-0.382,0.110,0.000,0.048,28.482,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
45,0.680,0.240,-0.531,0.891,1.100,-0.382,0.110,0.000,0.048,28.526,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
46,0.680,0.240,-0.530,0.891,1.100,-0.382,0.110,0.000,0.048,28.454,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
47,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.352,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
48,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.335,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
49,0.680,0.240,-0.530,0.892,1.101,-0.382,0.108,0.000,0.048,28.266,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
50,0.680,0.240,-0.531,0.892,1.101,-0.382,0.108,0.000,0.048,28.263,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
51,0.680,0.240,-0.530,0.892,1.101,-0.382,0.108,0.000,0.048,28.292,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
52,0.680,0.240,-0.530,0.892,1.100,-0.382,0.109,0.000,0.048,28.343,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
53,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.372,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
54,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.381,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
55,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.386,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
56,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.349,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
57,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.343,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
58,0.680,0.240,-0.530,0.892,1.100,-0.382,0.109,0.000,0.048,28.329,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
59,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.332,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
60,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.338,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
61,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.347,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
62,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.351,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
63,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.349,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
64,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.346,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
65,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.344,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
66,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.344,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
67,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.344,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
68,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.344,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
69,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.343,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
70,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.342,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
71,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.342,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
72,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.342,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
73,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.342,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
74,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.342,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
75,0.680,0.240,-0.530,0.891,1.100,-0.382,0.109,0.000,0.048,28.342,0.189

Optimization done, time elapsed: 0:00:16

      c_0: array([0.21510305, 0.2176395 , 0.65786527, 0.28494833, 0.54605915,
       0.43085116, 0.20120936, 0.92102399, 0.03762883])
      dgp: 'bigbatch'
    dgp_i: 5
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 16.295663356781006
      fun: 3461.015598017076
 hess_inv: array([[ 3.48390305e-03, -1.89529933e-04,  1.65626972e-03,
        -1.20132522e-03, -1.60246294e-03, -1.23385665e-03,
         1.17910905e-03,  1.48072300e-02,  4.66301212e-03],
       [-1.89529933e-04,  2.04993816e-03,  1.71515807e-04,
         1.73127260e-03, -9.64855011e-04,  6.71868780e-04,
        -1.70805591e-03, -7.27799668e-03, -1.89758584e-03],
       [ 1.65626972e-03,  1.71515807e-04,  3.44106549e-03,
        -4.35778152e-04, -1.46897281e-03, -1.07808372e-03,
         9.02372346e-05,  6.86081301e-03,  1.74650697e-03],
       [-1.20132522e-03,  1.73127260e-03, -4.35778152e-04,
         5.58029085e-03,  1.85026347e-03,  8.87515817e-04,
        -7.66604183e-03, -3.08533734e-02, -8.86736709e-03],
       [-1.60246294e-03, -9.64855011e-04, -1.46897281e-03,
         1.85026347e-03,  3.89115006e-03, -2.35126414e-04,
        -6.02995001e-03, -2.45040363e-02, -7.63241294e-03],
       [-1.23385665e-03,  6.71868780e-04, -1.07808372e-03,
         8.87515817e-04, -2.35126414e-04,  1.45577872e-03,
         1.87798020e-04, -3.63927909e-03, -1.04605863e-03],
       [ 1.17910905e-03, -1.70805591e-03,  9.02372346e-05,
        -7.66604183e-03, -6.02995001e-03,  1.87798020e-04,
         1.87734527e-02,  6.53669209e-02,  1.99525616e-02],
       [ 1.48072300e-02, -7.27799668e-03,  6.86081301e-03,
        -3.08533734e-02, -2.45040363e-02, -3.63927909e-03,
         6.53669209e-02,  2.74761831e-01,  8.01741507e-02],
       [ 4.66301212e-03, -1.89758584e-03,  1.74650697e-03,
        -8.86736709e-03, -7.63241294e-03, -1.04605863e-03,
         1.99525616e-02,  8.01741507e-02,  2.46155740e-02]])
      jac: array([-3.05175781e-05,  0.00000000e+00, -3.05175781e-05, -1.83105469e-04,
        3.05175781e-05,  1.83105469e-04,  1.22070312e-04,  0.00000000e+00,
        9.15527344e-05])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 2
     nfev: 1552
      nit: 76
     njev: 141
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 6.80077073e-01,  2.39772234e-01, -5.30334965e-01,  8.91492091e-01,
        1.10045892e+00, -3.81740850e-01,  1.08750708e-01,  2.08634843e-06,
        4.81278085e-02])

Saving run 3 of 6

Fitting model 4 of 6

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.719,0.832,0.411,0.480,0.598,-0.145,1.553,1.538,0.752,281.419,0.762

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,1.039,0.360,0.150,0.492,0.652,-0.149,1.168,1.305,0.344,184.803,0.557

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.876,0.124,0.295,0.525,0.694,-0.284,1.028,1.258,0.307,158.908,0.520

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.823,-0.024,0.127,0.630,0.795,-0.262,0.678,1.167,0.383,123.311,0.403

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.708,0.096,0.116,0.749,0.854,-0.157,0.530,1.103,0.366,99.019,0.359

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.744,0.109,0.123,0.843,0.809,-0.183,0.512,1.151,0.360,95.425,0.364

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.720,0.135,0.085,0.752,0.764,-0.205,0.488,1.156,0.344,91.347,0.360

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.763,0.152,0.053,0.762,1.170,-0.247,0.586,0.789,0.335,87.675,0.284

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.684,0.112,-0.018,0.856,0.922,-0.220,0.645,0.525,0.339,90.883,0.273

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.743,0.142,0.018,0.830,0.902,-0.261,0.602,0.502,0.331,83.059,0.265

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.615,0.104,-0.158,0.894,0.933,-0.250,0.615,0.552,0.300,83.398,0.241

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.695,0.149,-0.194,0.871,0.945,-0.346,0.528,0.485,0.261,64.744,0.194

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.870,0.229,-0.329,0.839,1.001,-0.549,0.341,0.331,0.182,42.798,0.126

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.908,0.224,-0.379,0.850,1.041,-0.564,0.275,0.267,0.165,36.564,0.120

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.930,0.206,-0.430,0.862,1.078,-0.560,0.182,0.175,0.136,27.184,0.130

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.922,0.199,-0.432,0.867,1.084,-0.547,0.119,0.111,0.109,21.921,0.147

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.901,0.199,-0.404,0.865,1.076,-0.533,0.069,0.061,0.081,25.685,0.165

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.887,0.202,-0.383,0.862,1.069,-0.526,0.042,0.035,0.061,30.474,0.176

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.882,0.203,-0.377,0.863,1.067,-0.522,0.025,0.020,0.045,33.375,0.183

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.882,0.202,-0.382,0.866,1.067,-0.522,0.014,0.010,0.032,35.278,0.188

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.885,0.202,-0.390,0.868,1.068,-0.523,0.007,0.005,0.021,36.394,0.191

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.887,0.201,-0.395,0.870,1.069,-0.524,0.004,0.002,0.014,37.041,0.193

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.887,0.201,-0.397,0.871,1.069,-0.524,0.002,0.001,0.009,37.461,0.194

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.886,0.201,-0.396,0.871,1.069,-0.523,0.001,0.000,0.006,37.749,0.194

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.885,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.003,37.926,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.884,0.201,-0.394,0.871,1.068,-0.522,0.000,0.000,0.002,38.024,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.884,0.201,-0.394,0.871,1.068,-0.522,0.000,0.000,0.001,38.067,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.884,0.201,-0.394,0.871,1.068,-0.522,0.000,0.000,0.001,38.084,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.090,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.885,0.201,-0.395,0.871,1.068,-0.523,0.000,0.000,0.000,38.094,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.885,0.201,-0.395,0.871,1.068,-0.523,0.000,0.000,0.000,38.098,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.101,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.884,0.201,-0.394,0.871,1.068,-0.522,0.000,0.000,0.000,38.106,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.884,0.201,-0.394,0.871,1.068,-0.522,0.000,0.000,0.000,38.106,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.884,0.201,-0.394,0.871,1.068,-0.522,0.000,0.000,0.000,38.106,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.103,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
45,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
46,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
47,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
48,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
49,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
50,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
51,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
52,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
53,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
54,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
55,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
56,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
57,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
58,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
59,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
60,0.884,0.201,-0.394,0.871,1.068,-0.523,0.000,0.000,0.000,38.104,0.195

Optimization done, time elapsed: 0:00:15

      c_0: array([0.69467948, 0.65269089, 0.87626106, 0.4285287 , 0.55475326,
       0.59921306, 0.60128884, 0.58218682, 0.11948852])
      dgp: 'bigbatch'
    dgp_i: 6
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 15.25571584701538
      fun: 3434.187310008099
 hess_inv: array([[ 1.16868536e-03,  1.65225990e-03,  6.09045931e-04,
         2.15264337e-04, -7.38743577e-04, -3.50049642e-04,
         6.47600643e-03,  2.61430768e-03, -1.26079695e-03],
       [ 1.65225990e-03,  2.45898433e-03,  9.49979830e-04,
         3.51667482e-04, -1.14424142e-03, -5.18802118e-04,
         9.61651580e-03,  3.97336701e-03, -1.83541255e-03],
       [ 6.09045931e-04,  9.49979830e-04,  4.45605186e-04,
         1.39554881e-04, -4.62166457e-04, -2.01610534e-04,
         3.61922882e-03,  1.51669605e-03, -6.88891887e-04],
       [ 2.15264337e-04,  3.51667482e-04,  1.39554881e-04,
         1.17586208e-04, -2.63737814e-04, -6.07473063e-05,
         1.61770410e-03,  7.44219473e-04, -2.43538378e-04],
       [-7.38743577e-04, -1.14424142e-03, -4.62166457e-04,
        -2.63737814e-04,  7.90216710e-04,  1.49105214e-04,
        -5.30459017e-03, -2.28446364e-03,  8.50250964e-04],
       [-3.50049642e-04, -5.18802118e-04, -2.01610534e-04,
        -6.07473063e-05,  1.49105214e-04,  1.67430364e-04,
        -1.67977427e-03, -7.12545906e-04,  3.62589129e-04],
       [ 6.47600643e-03,  9.61651580e-03,  3.61922882e-03,
         1.61770410e-03, -5.30459017e-03, -1.67977427e-03,
         4.76171925e-02,  2.06813927e-02, -7.22618547e-03],
       [ 2.61430768e-03,  3.97336701e-03,  1.51669605e-03,
         7.44219473e-04, -2.28446364e-03, -7.12545906e-04,
         2.06813927e-02,  4.44196648e-02, -2.87256547e-03],
       [-1.26079695e-03, -1.83541255e-03, -6.88891887e-04,
        -2.43538378e-04,  8.50250964e-04,  3.62589129e-04,
        -7.22618547e-03, -2.87256547e-03,  1.44798451e-03]])
      jac: array([ 9.15527344e-05, -9.15527344e-05, -3.05175781e-05,  3.05175781e-04,
        9.15527344e-05,  6.10351562e-05,  0.00000000e+00,  0.00000000e+00,
        9.15527344e-05])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 2
     nfev: 1495
      nit: 61
     njev: 135
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 8.84432597e-01,  2.01351170e-01, -3.94387743e-01,  8.71390410e-01,
        1.06811845e+00, -5.22525153e-01,  4.88830840e-09,  4.34160545e-10,
        4.52585892e-06])

Saving run 4 of 6

Fitting model 5 of 6

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.252,0.254,-0.093,0.265,0.358,0.109,1.144,1.305,0.809,207.274,0.654

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.281,0.361,-0.329,0.370,0.445,-0.416,1.057,1.187,0.839,182.772,0.555

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,1.098,-0.172,-0.791,0.791,0.881,-0.638,0.721,0.791,0.879,141.336,0.374

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,1.077,-0.236,-0.415,1.299,1.503,-0.710,0.465,0.496,0.875,111.988,0.360

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,1.128,0.004,-0.444,1.317,1.648,-0.594,0.371,0.389,0.884,90.234,0.353

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.999,-0.027,-0.462,1.063,1.624,-0.559,0.244,0.250,0.877,74.261,0.312

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.991,0.010,-0.390,1.185,1.237,-0.547,0.178,0.184,0.862,64.546,0.272

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.684,0.045,-0.632,1.202,1.242,-0.429,0.106,0.254,0.730,47.415,0.227

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,1.534,0.432,0.360,0.276,1.237,-0.925,0.052,0.418,0.532,80.345,0.472

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,1.446,0.401,0.271,0.336,1.239,-0.877,0.079,0.281,0.512,72.773,0.428

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,1.247,0.339,0.047,0.496,1.243,-0.781,0.057,0.455,0.473,54.502,0.305

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.933,0.208,-0.263,0.719,1.222,-0.612,0.136,0.227,0.367,28.775,0.158

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.687,0.130,-0.555,0.930,1.211,-0.472,0.168,0.236,0.256,22.546,0.110

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.685,0.127,-0.579,0.951,1.227,-0.467,0.168,0.258,0.197,25.303,0.111

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.749,0.141,-0.521,0.905,1.225,-0.489,0.132,0.310,0.130,19.086,0.090

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.790,0.152,-0.470,0.872,1.219,-0.509,0.112,0.334,0.091,17.368,0.089

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.802,0.156,-0.456,0.859,1.215,-0.509,0.102,0.331,0.062,17.657,0.096

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.796,0.155,-0.462,0.866,1.215,-0.510,0.092,0.322,0.040,19.426,0.102

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.788,0.151,-0.476,0.871,1.221,-0.499,0.082,0.307,0.025,21.380,0.109

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.783,0.150,-0.481,0.878,1.221,-0.502,0.070,0.298,0.015,23.265,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.784,0.149,-0.482,0.877,1.223,-0.499,0.058,0.292,0.009,24.986,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.786,0.150,-0.479,0.876,1.222,-0.501,0.047,0.291,0.005,26.379,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.787,0.150,-0.477,0.875,1.222,-0.501,0.038,0.294,0.003,27.450,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.788,0.151,-0.477,0.874,1.222,-0.501,0.031,0.298,0.002,28.193,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.788,0.151,-0.477,0.874,1.222,-0.501,0.026,0.299,0.001,28.727,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.788,0.150,-0.477,0.875,1.222,-0.501,0.023,0.299,0.001,29.067,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.787,0.150,-0.477,0.875,1.222,-0.501,0.021,0.299,0.000,29.315,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.787,0.150,-0.477,0.875,1.222,-0.501,0.020,0.299,0.000,29.433,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.787,0.150,-0.477,0.875,1.222,-0.501,0.020,0.298,0.000,29.503,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.787,0.150,-0.477,0.875,1.222,-0.501,0.019,0.298,0.000,29.540,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.787,0.150,-0.477,0.875,1.222,-0.501,0.019,0.298,0.000,29.553,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.787,0.150,-0.477,0.875,1.222,-0.501,0.020,0.297,0.000,29.498,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.787,0.150,-0.477,0.875,1.222,-0.501,0.022,0.297,0.000,29.299,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.787,0.150,-0.477,0.875,1.222,-0.501,0.027,0.296,0.000,28.715,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.787,0.150,-0.478,0.875,1.222,-0.501,0.045,0.295,0.000,26.827,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.787,0.150,-0.478,0.875,1.222,-0.501,0.050,0.296,0.000,26.248,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.787,0.151,-0.477,0.875,1.221,-0.501,0.049,0.297,0.000,26.263,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.787,0.151,-0.477,0.874,1.221,-0.501,0.049,0.299,0.000,26.230,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.787,0.151,-0.477,0.874,1.221,-0.501,0.049,0.299,0.000,26.247,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.787,0.151,-0.477,0.874,1.221,-0.501,0.049,0.299,0.000,26.266,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.787,0.151,-0.477,0.874,1.221,-0.501,0.049,0.299,0.000,26.272,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.787,0.151,-0.477,0.874,1.221,-0.501,0.049,0.299,0.000,26.269,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.787,0.151,-0.477,0.874,1.221,-0.501,0.049,0.299,0.000,26.255,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.787,0.151,-0.477,0.875,1.221,-0.501,0.049,0.299,0.000,26.200,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.787,0.151,-0.477,0.875,1.221,-0.501,0.049,0.299,0.000,26.200,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
45,0.787,0.151,-0.477,0.874,1.221,-0.501,0.048,0.299,0.000,26.305,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
46,0.787,0.151,-0.477,0.874,1.221,-0.501,0.049,0.299,0.000,26.271,0.117

Optimization done, time elapsed: 0:00:13

      c_0: array([0.21908235, 0.16379502, 0.09220873, 0.19996696, 0.29115947,
       0.41754125, 0.18299521, 0.32067954, 0.71958307])
      dgp: 'bigbatch'
    dgp_i: 7
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 13.460458755493164
      fun: 3418.979385673127
 hess_inv: array([[ 5.45971092e-03,  9.40535309e-04,  3.03155248e-03,
        -6.32845168e-04,  1.91242424e-04, -2.24788201e-03,
        -5.57044598e-02,  2.53881905e-03, -4.07511642e-01],
       [ 9.40535309e-04,  2.92919145e-03,  1.03025972e-03,
         2.48672420e-06,  8.48154839e-05,  4.77756021e-04,
        -1.32228443e-02,  5.65658301e-04, -1.41504180e-01],
       [ 3.03155248e-03,  1.03025972e-03,  5.52490916e-03,
        -6.30028717e-04, -2.16793126e-04, -1.37226832e-03,
        -3.97765222e-02, -8.85385203e-04, -3.18703229e-01],
       [-6.32845168e-04,  2.48672420e-06, -6.30028717e-04,
         7.33720067e-03, -1.00621249e-03,  8.05142473e-04,
         2.02660769e-02,  4.71904047e-04,  1.38343233e-01],
       [ 1.91242424e-04,  8.48154839e-05, -2.16793126e-04,
        -1.00621249e-03,  9.19818624e-03, -2.01949612e-05,
        -1.81209903e-03,  1.35231735e-04, -1.04929426e-01],
       [-2.24788201e-03,  4.77756021e-04, -1.37226832e-03,
         8.05142473e-04, -2.01949612e-05,  1.87764532e-03,
         2.18815336e-02, -1.05168172e-03,  1.46175260e-01],
       [-5.57044598e-02, -1.32228443e-02, -3.97765222e-02,
         2.02660769e-02, -1.81209903e-03,  2.18815336e-02,
         5.05804797e+00,  5.99514971e-02,  3.12143354e+01],
       [ 2.53881905e-03,  5.65658301e-04, -8.85385203e-04,
         4.71904047e-04,  1.35231735e-04, -1.05168172e-03,
         5.99514971e-02,  1.65638896e-01,  1.37632813e-01],
       [-4.07511642e-01, -1.41504180e-01, -3.18703229e-01,
         1.38343233e-01, -1.04929426e-01,  1.46175260e-01,
         3.12143354e+01,  1.37632813e-01,  4.91673588e+02]])
      jac: array([ 1.19018555e-03,  8.85009766e-04,  1.43432617e-03, -4.27246094e-04,
        6.71386719e-04,  3.35693359e-04, -4.88281250e-04,  2.74658203e-04,
       -3.05175781e-05])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 2
     nfev: 1353
      nit: 47
     njev: 122
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 7.87164834e-01,  1.50572524e-01, -4.77222003e-01,  8.74427692e-01,
        1.22122931e+00, -5.01031592e-01,  4.87549081e-02,  2.98726121e-01,
        6.30857784e-06])

Saving run 5 of 6

Fitting model 6 of 6

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.059,0.860,-0.226,0.477,0.590,0.026,0.969,1.398,0.758,214.220,0.632

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,1.065,-0.531,-0.911,0.829,0.819,-0.398,0.694,0.757,0.116,137.048,0.381

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.741,-0.773,-0.441,1.004,0.970,-0.518,0.583,0.603,0.064,123.458,0.374

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.644,-0.232,-0.129,1.170,1.129,-0.231,0.422,0.414,0.026,91.662,0.270

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.543,-0.203,-0.140,0.879,0.968,-0.200,0.345,0.393,0.022,81.954,0.256

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.640,-0.163,-0.085,0.906,0.905,-0.260,0.193,0.417,0.023,61.176,0.234

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.375,-0.176,-0.435,0.964,1.223,-0.140,0.083,0.430,0.026,51.721,0.243

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.224,-0.103,-0.612,1.253,0.777,-0.068,0.105,0.278,0.026,59.971,0.325

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.373,0.043,-0.536,1.086,0.830,-0.154,0.163,0.172,0.027,52.315,0.257

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.511,0.349,-0.422,0.976,0.911,-0.320,0.266,0.562,0.013,51.304,0.174

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.674,0.350,-0.387,0.895,1.011,-0.438,0.195,0.110,0.025,44.120,0.175

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.627,0.209,-0.443,0.944,0.963,-0.378,0.133,0.099,0.032,31.099,0.176

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.623,0.226,-0.444,0.941,0.944,-0.373,0.122,0.090,0.032,31.252,0.180

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.624,0.238,-0.438,0.938,0.931,-0.372,0.098,0.073,0.035,30.234,0.186

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.626,0.241,-0.433,0.935,0.925,-0.373,0.073,0.053,0.039,33.504,0.191

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.628,0.237,-0.430,0.935,0.928,-0.375,0.051,0.035,0.046,35.731,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.627,0.233,-0.431,0.936,0.932,-0.376,0.040,0.025,0.052,36.699,0.197

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.626,0.232,-0.432,0.937,0.933,-0.375,0.036,0.022,0.054,37.017,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.625,0.232,-0.432,0.937,0.933,-0.375,0.035,0.019,0.056,37.226,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.624,0.232,-0.432,0.937,0.933,-0.375,0.034,0.016,0.056,37.367,0.199

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.624,0.233,-0.433,0.937,0.933,-0.375,0.035,0.012,0.056,37.376,0.200

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.624,0.233,-0.433,0.937,0.933,-0.374,0.040,0.007,0.054,37.032,0.202

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.625,0.233,-0.433,0.937,0.933,-0.375,0.058,0.003,0.049,35.353,0.203

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.627,0.232,-0.434,0.937,0.933,-0.375,0.070,0.002,0.046,34.088,0.203

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.627,0.231,-0.433,0.937,0.934,-0.375,0.069,0.001,0.046,34.116,0.203

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.627,0.231,-0.433,0.937,0.934,-0.375,0.068,0.001,0.046,34.209,0.203

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.627,0.231,-0.433,0.937,0.935,-0.375,0.066,0.001,0.046,34.422,0.203

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.627,0.231,-0.433,0.937,0.934,-0.375,0.062,0.000,0.046,34.857,0.203

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.627,0.231,-0.434,0.937,0.934,-0.375,0.061,0.000,0.045,35.116,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.627,0.231,-0.434,0.937,0.934,-0.375,0.059,0.000,0.044,35.363,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.627,0.232,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.485,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.627,0.232,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.548,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.553,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.627,0.231,-0.434,0.937,0.934,-0.375,0.058,0.000,0.042,35.561,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.627,0.231,-0.434,0.937,0.934,-0.375,0.058,0.000,0.043,35.528,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.042,35.562,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.042,35.562,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.042,35.562,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.042,35.535,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.042,35.528,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.042,35.528,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.042,35.531,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.042,35.533,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.536,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.538,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
45,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.544,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
46,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.554,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
47,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.549,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
48,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.546,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
49,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.535,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
50,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.525,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
51,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.529,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
52,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.529,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
53,0.627,0.231,-0.434,0.937,0.934,-0.375,0.058,0.000,0.043,35.528,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
54,0.627,0.231,-0.434,0.937,0.934,-0.375,0.058,0.000,0.043,35.525,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
55,0.627,0.231,-0.434,0.937,0.934,-0.375,0.058,0.000,0.043,35.524,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
56,0.627,0.231,-0.434,0.937,0.934,-0.375,0.058,0.000,0.043,35.524,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
57,0.627,0.231,-0.434,0.937,0.934,-0.375,0.058,0.000,0.043,35.524,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
58,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.523,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
59,0.627,0.231,-0.434,0.937,0.933,-0.375,0.058,0.000,0.043,35.523,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
60,0.627,0.231,-0.434,0.937,0.934,-0.375,0.058,0.000,0.043,35.524,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
61,0.627,0.231,-0.434,0.937,0.934,-0.375,0.058,0.000,0.043,35.524,0.204

Optimization done, time elapsed: 0:00:12

      c_0: array([0.08089666, 0.72253146, 0.14917424, 0.36799216, 0.54075456,
       0.85381977, 0.02206915, 0.47211781, 0.09571802])
      dgp: 'bigbatch'
    dgp_i: 8
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 11.716591596603394
      fun: 3505.5266244109025
 hess_inv: array([[ 4.01517935e-03,  6.06880574e-04,  1.92057499e-03,
        -1.44813467e-04, -6.69814399e-04, -1.64577965e-03,
         5.96050693e-04,  6.06880577e-04, -2.75296464e-03],
       [ 6.06880574e-04,  1.34043188e-03,  6.97940921e-04,
         9.19650877e-04, -5.29823621e-04,  3.34382550e-04,
         2.23335858e-04,  1.34043189e-03, -1.02398977e-03],
       [ 1.92057499e-03,  6.97940921e-04,  3.66589934e-03,
        -8.42431459e-04, -3.57673758e-04, -1.02812670e-03,
         1.13057572e-03,  6.97940923e-04, -1.17580425e-03],
       [-1.44813467e-04,  9.19650877e-04, -8.42431459e-04,
         6.26429495e-03,  1.16043304e-04,  8.20405942e-04,
        -4.14144866e-04,  9.19650870e-04, -5.13777541e-03],
       [-6.69814399e-04, -5.29823621e-04, -3.57673758e-04,
         1.16043304e-04,  4.48989433e-03,  3.99681034e-04,
        -1.58481226e-03, -5.29823618e-04, -4.05713296e-03],
       [-1.64577965e-03,  3.34382550e-04, -1.02812670e-03,
         8.20405942e-04,  3.99681034e-04,  1.56806782e-03,
         8.18157043e-05,  3.34382548e-04,  8.80740140e-05],
       [ 5.96050693e-04,  2.23335858e-04,  1.13057572e-03,
        -4.14144866e-04, -1.58481226e-03,  8.18157043e-05,
         1.52328868e-02,  2.23335800e-04, -6.66485165e-03],
       [ 6.06880577e-04,  1.34043189e-03,  6.97940923e-04,
         9.19650870e-04, -5.29823618e-04,  3.34382548e-04,
         2.23335800e-04,  1.34043236e-03, -1.02398968e-03],
       [-2.75296464e-03, -1.02398977e-03, -1.17580425e-03,
        -5.13777541e-03, -4.05713296e-03,  8.80740140e-05,
        -6.66485165e-03, -1.02398968e-03,  1.59980591e-02]])
      jac: array([-9.46044922e-04,  2.19726562e-03, -1.06811523e-03, -9.46044922e-04,
        6.10351562e-05, -1.19018555e-03, -1.22070312e-04,  9.15527344e-05,
       -1.00708008e-03])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 2
     nfev: 1167
      nit: 62
     njev: 106
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 6.27076119e-01,  2.31437370e-01, -4.33538009e-01,  9.36869920e-01,
        9.33504516e-01, -3.75385028e-01,  5.80048856e-02,  1.39923631e-05,
        4.26557484e-02])

Saving run 6 of 6

All results saved to pickle: Results/test 2 - dgp bigbatch- start 3 end 5 - drawtype pseudo - ndraws 2- timestamp 2019-06-19-224946

In [1]:
from src.main import resultsloader

    
list = [
    "test 1 - dgp bigbatch- start 0 end 2 - drawtype pseudo - ndraws 2- timestamp 2019-06-19-224900.pickle",
    "test 2 - dgp bigbatch- start 3 end 5 - drawtype pseudo - ndraws 2- timestamp 2019-06-19-224946.pickle"
]
    
results = resultsloader(list)
display(result)

9