Loading the data

id: household

Choices:  
- heinz41  
- heinz32  
- heinz28  
- hunts32  

variables  
- disp (1/0)  
- feat (1/0)  
- price (Log?)

In [19]:
import numpy as np
import pandas as pd
df = pd.read_pickle("data.pkl") 
df.head()
# choices = ['heinz41', 'heinz32', 'heinz28', 'hunts32']
# df['choiceindex'] = list(map(lambda x: choices.index(x), df.choice))

,id,disp.heinz41,disp.heinz32,disp.heinz28,disp.hunts32,feat.heinz41,feat.heinz32,feat.heinz28,feat.hunts32,price.heinz41,price.heinz32,price.heinz28,price.hunts32,choice,choiceindex
0,1,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,heinz28,2
1,1,0,0,0,0,0,0,0,0,4.6,4.3,5.2,4.4,heinz28,2
2,1,0,0,0,0,0,1,0,0,4.6,2.5,4.6,4.8,heinz28,2
3,1,0,0,0,0,0,0,0,0,4.6,3.7,5.2,3.4,heinz28,2
4,1,0,0,0,0,0,0,1,0,4.6,3.0,4.6,4.8,heinz28,2

In [213]:
%%time
def likelihood(c, data, draws):
    def sigmoid(row):
        def utility(alpha, choice):
            x = [row[1+choice], row[5+choice], row[9+choice]]
            return np.exp(alpha +  np.dot(c[3:6],x) + np.dot(np.multiply(c[6:],draws[row.id-1]),x))
        
        choices = [
        utility(c[0], 0), # heinz41
        utility(c[1],1), #heinz32
        utility(c[2],2), #heinz28
        utility(0,3) #huts32
        ]
        
        return choices[row.choiceindex] / np.sum(choices)
    
    return data.agg(sigmoid, axis="columns").sum()

Wall time: 0 ns

In [216]:
%%time
np.random.seed(1234)
draws = np.random.randn(300, 3); 

coefficients = [1, #alpha heinz41
                3, #alpha heinz32 
                2, #alpha hunts32
                2, #mu    display
                4, #mu    feat
                
                8, #mu    price
                3, #sigma dispay 
                1, #sigma feat 
                2, #sigma price 
                ]

for i in range(0,100):
    likelihood(coefficients, df, draws)

Wall time: 1min 1s

In [159]:
20 11
50 30
100 5


# draws = np.random.randn(300, 3); 

# draws
coefficients = [1, #alpha heinz41
                2, #alpha heinz32 
                3, #alpha hunts32
                4, #mu    display
                5, #mu    feat
                6, #mu    price
                7, #sigma dispay 
                8, #sigma feat 
                9, #sigma price 
                ]


print(coefficients[:3])
print(coefficients[3:6])
print(coefficients[6:])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [162]:
a = [1,2,3]
b = [2,3,4]

np.multiply(a,b)

array([ 2,  6, 12])