In [1]:
!pip install joblib
from src.main import Analyzer

data = Analyzer(['Results/Base', 'Results/Big', 'Results/Halton2'])

Requirement already satisfied: joblib in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (0.13.2)
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
number of failed results is 182 of 12818

In [2]:


# s = data.df.groupby('n_draws')[['rmse','mape']].apply(pd.DataFrame.describe).transpose()

# s = data.df.groupby('n_draws')[['rmse','mape']].describe()
# s = data.df.groupby(['n_draws','drawtype'])[['mape']].agg(["mean", "std", "min","max", "count"])
# display(s)

# def disp(df, stat, latex=False):
#     view = df.groupby(['drawtype','n_draws'])[[stat]].agg(["mean", "std", "min","max", "count"]).transpose()
#     display(view)
#     if latex: print(view)
    
# disp(data.df, "rmse")    
# disp(data.df, "mape")   
# disp(data.df, "duration")   

# table = data.df.groupby(['n_draws','drawtype'])[['rmse','mape', 'duration']].agg(["mean", "std", "count"]).transpose()

table = data.df.groupby(['n_draws','drawtype'])[['rmse','mape','duration']].agg(["mean", "std", "count"]).transpose().stack()

display(table)
print('\n')
print(table.to_latex())

n_draws                    5       10      25      50      75      100   \
               drawtype
rmse     mean  halton     0.142   0.129   0.123   0.121   0.120   0.121
               pseudo     0.160   0.145   0.130   0.126   0.123   0.126
         std   halton     0.048   0.051   0.049   0.049   0.050   0.049
               pseudo     0.042   0.048   0.051   0.050   0.050   0.050
         count halton   981.000 985.000 983.000 986.000 985.000 988.000
               pseudo   975.000 979.000 986.000 992.000 992.000 991.000
mape     mean  halton    29.681  30.920  31.379  31.214  31.556  31.576
               pseudo    33.714  31.234  30.713  31.220  30.524  31.250
         std   halton    11.251  14.311  15.311  15.403  15.637  15.465
               pseudo     9.657  11.605  13.527  14.551  14.883  15.051
         count halton   981.000 985.000 983.000 986.000 985.000 988.000
               pseudo   975.000 979.000 986.000 992.000 992.000 991.000
duration mean  halton    26.879  49.098 173.397 344.240 511.580 691.432
               pseudo    27.731  53.415 179.051 335.515 533.602 683.663
         std   halton    10.950  21.593  76.228 151.168 227.466 314.389
               pseudo    11.190  24.308  79.247 150.114 257.782 300.388
         count halton   981.000 985.000 983.000 986.000 985.000 988.000
               pseudo   975.000 979.000 986.000 992.000 992.000 991.000

n_draws                      250       500       1000       2000
               drawtype
rmse     mean  halton       0.120       nan       nan        nan
               pseudo       0.119     0.120     0.119      0.119
         std   halton       0.048       nan       nan        nan
               pseudo       0.049     0.047     0.048      0.048
         count halton     200.000       nan       nan        nan
               pseudo     199.000   197.000   200.000    199.000
mape     mean  halton      31.102       nan       nan        nan
               pseudo      30.264    31.013    30.921     30.820
         std   halton      14.737       nan       nan        nan
               pseudo      15.079    14.580    14.821     14.866
         count halton     200.000       nan       nan        nan
               pseudo     199.000   197.000   200.000    199.000
duration mean  halton   1,593.065       nan       nan        nan
               pseudo   1,783.992 3,277.670 6,762.978 13,541.047
         std   halton     662.828       nan       nan        nan
               pseudo     704.846 1,261.117 2,925.191  5,592.076
         count halton     200.000       nan       nan        nan
               pseudo     199.000   197.000   200.000    199.000

\begin{tabular}{lllrrrrrrrrrr}
\toprule
         &       & n\_draws &    5    &    10   &    25   &    50   &    75   &    100  &      250  &      500  &      1000 &       2000 \\
{} & {} & drawtype &         &         &         &         &         &         &           &           &           &            \\
\midrule
rmse & mean & halton &   0.142 &   0.129 &   0.123 &   0.121 &   0.120 &   0.121 &     0.120 &       nan &       nan &        nan \\
         &       & pseudo &   0.160 &   0.145 &   0.130 &   0.126 &   0.123 &   0.126 &     0.119 &     0.120 &     0.119 &      0.119 \\
         & std & halton &   0.048 &   0.051 &   0.049 &   0.049 &   0.050 &   0.049 &     0.048 &       nan &       nan &        nan \\
         &       & pseudo &   0.042 &   0.048 &   0.051 &   0.050 &   0.050 &   0.050 &     0.049 &     0.047 &     0.048 &      0.048 \\
         & count & halton & 981.000 & 985.000 & 983.000 & 986.000 & 985.000 & 988.000 &   200.000 &       nan &       nan &        nan \\
         &       & pseudo & 975.000 & 979.000 & 986.000 & 992.000 & 992.000 & 991.000 &   199.000 &   197.000 &   200.000 &    199.000 \\
mape & mean & halton &  29.681 &  30.920 &  31.379 &  31.214 &  31.556 &  31.576 &    31.102 &       nan &       nan &        nan \\
         &       & pseudo &  33.714 &  31.234 &  30.713 &  31.220 &  30.524 &  31.250 &    30.264 &    31.013 &    30.921 &     30.820 \\
         & std & halton &  11.251 &  14.311 &  15.311 &  15.403 &  15.637 &  15.465 &    14.737 &       nan &       nan &        nan \\
         &       & pseudo &   9.657 &  11.605 &  13.527 &  14.551 &  14.883 &  15.051 &    15.079 &    14.580 &    14.821 &     14.866 \\
         & count & halton & 981.000 & 985.000 & 983.000 & 986.000 & 985.000 & 988.000 &   200.000 &       nan &       nan &        nan \\
         &       & pseudo & 975.000 & 979.000 & 986.000 & 992.000 & 992.000 & 991.000 &   199.000 &   197.000 &   200.000 &    199.000 \\
duration & mean & halton &  26.879 &  49.098 & 173.397 & 344.240 & 511.580 & 691.432 & 1,593.065 &       nan &       nan &        nan \\
         &       & pseudo &  27.731 &  53.415 & 179.051 & 335.515 & 533.602 & 683.663 & 1,783.992 & 3,277.670 & 6,762.978 & 13,541.047 \\
         & std & halton &  10.950 &  21.593 &  76.228 & 151.168 & 227.466 & 314.389 &   662.828 &       nan &       nan &        nan \\
         &       & pseudo &  11.190 &  24.308 &  79.247 & 150.114 & 257.782 & 300.388 &   704.846 & 1,261.117 & 2,925.191 &  5,592.076 \\
         & count & halton & 981.000 & 985.000 & 983.000 & 986.000 & 985.000 & 988.000 &   200.000 &       nan &       nan &        nan \\
         &       & pseudo & 975.000 & 979.000 & 986.000 & 992.000 & 992.000 & 991.000 &   199.000 &   197.000 &   200.000 &    199.000 \\
\bottomrule
\end{tabular}