In [43]:
#!pip install joblib
from src.main import Analyzer

data = Analyzer(['Results/Base', 'Results/Big', 'Results/Halton2'])

number of failed results is 90 of 7210

In [44]:


# s = data.df.groupby('n_draws')[['rmse','mape']].apply(pd.DataFrame.describe).transpose()

# s = data.df.groupby('n_draws')[['rmse','mape']].describe()
# s = data.df.groupby(['n_draws','drawtype'])[['mape']].agg(["mean", "std", "min","max", "count"])
# display(s)

# def disp(df, stat, latex=False):
#     view = df.groupby(['drawtype','n_draws'])[[stat]].agg(["mean", "std", "min","max", "count"]).transpose()
#     display(view)
#     if latex: print(view)
    
# disp(data.df, "rmse")    
# disp(data.df, "mape")   
# disp(data.df, "duration")   

data.df.groupby(['n_draws','drawtype'])[['rmse','mape', 'duration']].agg(["mean", "std"]).transpose()

n_draws         5      10      25              50      75      100       250   \
drawtype      halton pseudo  halton  pseudo  pseudo  pseudo  pseudo    pseudo
rmse     mean  0.143  0.145   0.123   0.130   0.126   0.123   0.126     0.119
         std   0.047  0.048   0.049   0.051   0.050   0.050   0.050     0.049
mape     mean 29.900 31.234  31.379  30.713  31.220  30.524  31.250    30.264
         std  11.220 11.605  15.311  13.527  14.551  14.883  15.051    15.079
duration mean 26.402 53.415 173.397 179.051 335.515 533.602 683.663 1,783.992
         std  10.661 24.308  76.228  79.247 150.114 257.782 300.388   704.846

n_draws            500       1000       2000
drawtype         pseudo    pseudo     pseudo
rmse     mean     0.120     0.119      0.119
         std      0.047     0.048      0.048
mape     mean    31.013    30.921     30.820
         std     14.580    14.821     14.866
duration mean 3,277.670 6,762.978 13,541.047
         std  1,261.117 2,925.191  5,592.076