In [67]:
#!pip install joblib
from src.main import Analyzer

data = Analyzer(['Results/Base', 'Results/Big', 'Results/Halton2'])

number of failed results is 143 of 10857

In [68]:


# s = data.df.groupby('n_draws')[['rmse','mape']].apply(pd.DataFrame.describe).transpose()

# s = data.df.groupby('n_draws')[['rmse','mape']].describe()
# s = data.df.groupby(['n_draws','drawtype'])[['mape']].agg(["mean", "std", "min","max", "count"])
# display(s)

# def disp(df, stat, latex=False):
#     view = df.groupby(['drawtype','n_draws'])[[stat]].agg(["mean", "std", "min","max", "count"]).transpose()
#     display(view)
#     if latex: print(view)
    
# disp(data.df, "rmse")    
# disp(data.df, "mape")   
# disp(data.df, "duration")   

# table = data.df.groupby(['n_draws','drawtype'])[['rmse','mape', 'duration']].agg(["mean", "std", "count"]).transpose()

table = data.df.groupby(['n_draws','drawtype'])[['rmse','mape']].agg(["mean", "std"]).transpose().stack()

display(table)
print('\n')
print(table.to_latex())

n_draws              5      10     25     50     75     100    250    500   \
          drawtype
rmse mean halton    0.142  0.129  0.123  0.122  0.123  0.123  0.120    nan
          pseudo    0.161  0.145  0.130  0.126  0.123  0.126  0.119  0.120
     std  halton    0.048  0.051  0.049  0.051  0.051  0.051  0.048    nan
          pseudo    0.041  0.048  0.051  0.050  0.050  0.050  0.049  0.047
mape mean halton   29.681 30.920 31.379 31.817 31.960 31.909 31.102    nan
          pseudo   33.805 31.234 30.713 31.220 30.524 31.250 30.264 31.013
     std  halton   11.251 14.311 15.311 15.887 15.882 15.999 14.737    nan
          pseudo    9.784 11.605 13.527 14.551 14.883 15.051 15.079 14.580

n_draws              1000   2000
          drawtype
rmse mean halton      nan    nan
          pseudo    0.119  0.119
     std  halton      nan    nan
          pseudo    0.048  0.048
mape mean halton      nan    nan
          pseudo   30.921 30.820
     std  halton      nan    nan
          pseudo   14.821 14.866

\begin{tabular}{lllrrrrrrrrrr}
\toprule
     &     & n\_draws &   5    &   10   &   25   &   50   &   75   &   100  &   250  &   500  &   1000 &   2000 \\
{} & {} & drawtype &        &        &        &        &        &        &        &        &        &        \\
\midrule
rmse & mean & halton &  0.142 &  0.129 &  0.123 &  0.122 &  0.123 &  0.123 &  0.120 &    nan &    nan &    nan \\
     &     & pseudo &  0.161 &  0.145 &  0.130 &  0.126 &  0.123 &  0.126 &  0.119 &  0.120 &  0.119 &  0.119 \\
     & std & halton &  0.048 &  0.051 &  0.049 &  0.051 &  0.051 &  0.051 &  0.048 &    nan &    nan &    nan \\
     &     & pseudo &  0.041 &  0.048 &  0.051 &  0.050 &  0.050 &  0.050 &  0.049 &  0.047 &  0.048 &  0.048 \\
mape & mean & halton & 29.681 & 30.920 & 31.379 & 31.817 & 31.960 & 31.909 & 31.102 &    nan &    nan &    nan \\
     &     & pseudo & 33.805 & 31.234 & 30.713 & 31.220 & 30.524 & 31.250 & 30.264 & 31.013 & 30.921 & 30.820 \\
     & std & halton & 11.251 & 14.311 & 15.311 & 15.887 & 15.882 & 15.999 & 14.737 &    nan &    nan &    nan \\
     &     & pseudo &  9.784 & 11.605 & 13.527 & 14.551 & 14.883 & 15.051 & 15.079 & 14.580 & 14.821 & 14.866 \\
\bottomrule
\end{tabular}