In [1]:
#!pip install joblib
from src.main import Analyzer

data = Analyzer('Results/Base')

Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False

In [3]:
import pandas as pd
import numpy as np

s = data.df.groupby('n_draws')[['rmse','mape']].apply(pd.DataFrame.describe).transpose()

display(s)
print(s.to_latex())

n_draws     50                                                      100  \
          count   mean    std   min    25%    50%    75%    max   count
rmse    992.000  0.126  0.050 0.030  0.084  0.120  0.175  0.270 991.000
mape    992.000 31.220 14.551 6.199 21.558 27.468 36.067 96.863 991.000

n_draws
          mean    std   min    25%    50%    75%     max
rmse     0.126  0.050 0.028  0.084  0.116  0.174   0.310
mape    31.250 15.051 5.561 20.817 26.634 37.243 104.133

\begin{tabular}{lrrrrrrrrrrrrrrrr}
\toprule
n\_draws & \multicolumn{8}{l}{50} & \multicolumn{8}{l}{100} \\
{} &   count &   mean &    std &   min &    25\% &    50\% &    75\% &    max &   count &   mean &    std &   min &    25\% &    50\% &    75\% &     max \\
\midrule
rmse & 992.000 &  0.126 &  0.050 & 0.030 &  0.084 &  0.120 &  0.175 &  0.270 & 991.000 &  0.126 &  0.050 & 0.028 &  0.084 &  0.116 &  0.174 &   0.310 \\
mape & 992.000 & 31.220 & 14.551 & 6.199 & 21.558 & 27.468 & 36.067 & 96.863 & 991.000 & 31.250 & 15.051 & 5.561 & 20.817 & 26.634 & 37.243 & 104.133 \\
\bottomrule
\end{tabular}