In [5]:
#!pip install joblib
from src.main import Analyzer

data = Analyzer(['Results/Base', 'Results/Big'])

number of failed results is 55 of 5245

In [6]:
import pandas as pd
import numpy as np

# s = data.df.groupby('n_draws')[['rmse','mape']].apply(pd.DataFrame.describe).transpose()

# s = data.df.groupby('n_draws')[['rmse','mape']].describe()
# s = data.df.groupby(['n_draws','drawtype'])[['mape']].agg(["mean", "std", "min","max", "count"])
# display(s)

def disp(df, stat, latex=False):
    view = df.groupby(['n_draws','drawtype'])[[stat]].agg(["mean", "std", "min","max", "count"])
    display(view)
    if latex: print(view)
    
disp(data.df, "rmse")    
disp(data.df, "mape")

                  rmse
                  mean   std   min   max count
n_draws drawtype
10      pseudo   0.147 0.048 0.043 0.271   489
25      pseudo   0.130 0.051 0.031 0.295   986
50      pseudo   0.126 0.050 0.030 0.270   992
75      pseudo   0.123 0.050 0.035 0.319   992
100     pseudo   0.126 0.050 0.028 0.310   991
250     pseudo   0.119 0.049 0.034 0.263   199
500     pseudo   0.120 0.047 0.038 0.275   197
1000    pseudo   0.119 0.048 0.034 0.278   200
2000    pseudo   0.119 0.048 0.036 0.278   199

                   mape
                   mean    std    min     max count
n_draws drawtype
10      pseudo   31.383 11.273  7.706  89.428   489
25      pseudo   30.713 13.527  6.732  92.537   986
50      pseudo   31.220 14.551  6.199  96.863   992
75      pseudo   30.524 14.883  7.500 107.947   992
100     pseudo   31.250 15.051  5.561 104.133   991
250     pseudo   30.264 15.079  6.539  95.109   199
500     pseudo   31.013 14.580 10.495  99.027   197
1000    pseudo   30.921 14.821  7.154 100.368   200
2000    pseudo   30.820 14.866  8.214 100.263   199