In [6]:
# !pip install joblib pathvalidate ghalton sobol_seq
from src.main import Analyzer

data = Analyzer(['Results/Base', 'Results/Big', 'Results/Halton2', 'Results/Golden','Results/Sobol'])

number of failed results is 333 of 24667

In [7]:
table = data.df.groupby(['n_draws','drawtype'])[['rmse','mape','duration']].agg(["mean", "std"]).transpose().stack()
count= data.df.groupby(['n_draws','drawtype'])[['dgp_i']].agg(["count"]).transpose().stack()

display(table)
print('\n')
display(count)
print('\n')
print(table.to_latex())
print('\n')
print(count.to_latex())

n_draws                  5      10      25      50      75      100   \
              drawtype
rmse     mean golden    0.163  0.146   0.139   0.126   0.121   0.122
              halton    0.142  0.129   0.123   0.121   0.120   0.121
              pseudo    0.160  0.145   0.130   0.126   0.123   0.126
              sobol     0.148  0.129   0.124   0.121   0.121   0.120
         std  golden    0.043  0.049   0.051   0.051   0.049   0.050
              halton    0.048  0.051   0.049   0.049   0.050   0.049
              pseudo    0.042  0.048   0.051   0.050   0.050   0.050
              sobol     0.046  0.050   0.050   0.049   0.049   0.049
mape     mean golden   34.048 32.110  31.912  31.286  31.082  31.465
              halton   29.681 30.920  31.379  31.214  31.556  31.576
              pseudo   33.714 31.234  30.713  31.220  30.524  31.250
              sobol    29.996 29.341  30.707  31.255  31.306  31.068
         std  golden   12.515 13.881  14.438  15.423  15.554  15.692
              halton   11.251 14.311  15.311  15.403  15.637  15.465
              pseudo    9.657 11.605  13.527  14.551  14.883  15.051
              sobol    10.095 12.572  14.780  15.531  15.528  15.524
duration mean golden   26.773 49.654 176.712 334.954 534.454 682.467
              halton   26.879 49.098 173.397 344.240 511.580 691.432
              pseudo   27.731 53.415 179.051 335.515 533.602 683.663
              sobol    27.146 49.521 167.353 346.414 528.350 682.569
         std  golden   11.386 22.059  76.491 144.567 246.125 297.558
              halton   10.950 21.593  76.228 151.168 227.466 314.389
              pseudo   11.190 24.308  79.247 150.114 257.782 300.388
              sobol    12.052 21.532  77.012 148.236 229.906 313.125

n_draws                     250       500       1000       2000
              drawtype
rmse     mean golden         nan       nan       nan        nan
              halton       0.120       nan       nan        nan
              pseudo       0.119     0.120     0.119      0.119
              sobol          nan       nan       nan        nan
         std  golden         nan       nan       nan        nan
              halton       0.048       nan       nan        nan
              pseudo       0.049     0.047     0.048      0.048
              sobol          nan       nan       nan        nan
mape     mean golden         nan       nan       nan        nan
              halton      31.102       nan       nan        nan
              pseudo      30.264    31.013    30.921     30.820
              sobol          nan       nan       nan        nan
         std  golden         nan       nan       nan        nan
              halton      14.737       nan       nan        nan
              pseudo      15.079    14.580    14.821     14.866
              sobol          nan       nan       nan        nan
duration mean golden         nan       nan       nan        nan
              halton   1,593.065       nan       nan        nan
              pseudo   1,783.992 3,277.670 6,762.978 13,541.047
              sobol          nan       nan       nan        nan
         std  golden         nan       nan       nan        nan
              halton     662.828       nan       nan        nan
              pseudo     704.846 1,261.117 2,925.191  5,592.076
              sobol          nan       nan       nan        nan

n_draws               5     10    25    50    75    100     250     500   \
            drawtype
dgp_i count golden     987   989   989   996   986   992     nan     nan
            halton     981   985   983   986   985   988 200.000     nan
            pseudo     975   979   986   992   992   991 199.000 197.000
            sobol      986   983   979   989   987   986     nan     nan

n_draws                 1000    2000
            drawtype
dgp_i count golden       nan     nan
            halton       nan     nan
            pseudo   200.000 199.000
            sobol        nan     nan

\begin{tabular}{lllrrrrrrrrrr}
\toprule
         &     & n\_draws &   5    &   10   &    25   &    50   &    75   &    100  &      250  &      500  &      1000 &       2000 \\
{} & {} & drawtype &        &        &         &         &         &         &           &           &           &            \\
\midrule
rmse & mean & golden &  0.163 &  0.146 &   0.139 &   0.126 &   0.121 &   0.122 &       nan &       nan &       nan &        nan \\
         &     & halton &  0.142 &  0.129 &   0.123 &   0.121 &   0.120 &   0.121 &     0.120 &       nan &       nan &        nan \\
         &     & pseudo &  0.160 &  0.145 &   0.130 &   0.126 &   0.123 &   0.126 &     0.119 &     0.120 &     0.119 &      0.119 \\
         &     & sobol &  0.148 &  0.129 &   0.124 &   0.121 &   0.121 &   0.120 &       nan &       nan &       nan &        nan \\
         & std & golden &  0.043 &  0.049 &   0.051 &   0.051 &   0.049 &   0.050 &       nan &       nan &       nan &        nan \\
         &     & halton &  0.048 &  0.051 &   0.049 &   0.049 &   0.050 &   0.049 &     0.048 &       nan &       nan &        nan \\
         &     & pseudo &  0.042 &  0.048 &   0.051 &   0.050 &   0.050 &   0.050 &     0.049 &     0.047 &     0.048 &      0.048 \\
         &     & sobol &  0.046 &  0.050 &   0.050 &   0.049 &   0.049 &   0.049 &       nan &       nan &       nan &        nan \\
mape & mean & golden & 34.048 & 32.110 &  31.912 &  31.286 &  31.082 &  31.465 &       nan &       nan &       nan &        nan \\
         &     & halton & 29.681 & 30.920 &  31.379 &  31.214 &  31.556 &  31.576 &    31.102 &       nan &       nan &        nan \\
         &     & pseudo & 33.714 & 31.234 &  30.713 &  31.220 &  30.524 &  31.250 &    30.264 &    31.013 &    30.921 &     30.820 \\
         &     & sobol & 29.996 & 29.341 &  30.707 &  31.255 &  31.306 &  31.068 &       nan &       nan &       nan &        nan \\
         & std & golden & 12.515 & 13.881 &  14.438 &  15.423 &  15.554 &  15.692 &       nan &       nan &       nan &        nan \\
         &     & halton & 11.251 & 14.311 &  15.311 &  15.403 &  15.637 &  15.465 &    14.737 &       nan &       nan &        nan \\
         &     & pseudo &  9.657 & 11.605 &  13.527 &  14.551 &  14.883 &  15.051 &    15.079 &    14.580 &    14.821 &     14.866 \\
         &     & sobol & 10.095 & 12.572 &  14.780 &  15.531 &  15.528 &  15.524 &       nan &       nan &       nan &        nan \\
duration & mean & golden & 26.773 & 49.654 & 176.712 & 334.954 & 534.454 & 682.467 &       nan &       nan &       nan &        nan \\
         &     & halton & 26.879 & 49.098 & 173.397 & 344.240 & 511.580 & 691.432 & 1,593.065 &       nan &       nan &        nan \\
         &     & pseudo & 27.731 & 53.415 & 179.051 & 335.515 & 533.602 & 683.663 & 1,783.992 & 3,277.670 & 6,762.978 & 13,541.047 \\
         &     & sobol & 27.146 & 49.521 & 167.353 & 346.414 & 528.350 & 682.569 &       nan &       nan &       nan &        nan \\
         & std & golden & 11.386 & 22.059 &  76.491 & 144.567 & 246.125 & 297.558 &       nan &       nan &       nan &        nan \\
         &     & halton & 10.950 & 21.593 &  76.228 & 151.168 & 227.466 & 314.389 &   662.828 &       nan &       nan &        nan \\
         &     & pseudo & 11.190 & 24.308 &  79.247 & 150.114 & 257.782 & 300.388 &   704.846 & 1,261.117 & 2,925.191 &  5,592.076 \\
         &     & sobol & 12.052 & 21.532 &  77.012 & 148.236 & 229.906 & 313.125 &       nan &       nan &       nan &        nan \\
\bottomrule
\end{tabular}



\begin{tabular}{lllrrrrrrrrrr}
\toprule
      &       & n\_draws &  5    &  10   &  25   &  50   &  75   &  100  &    250  &    500  &    1000 &    2000 \\
{} & {} & drawtype &       &       &       &       &       &       &         &         &         &         \\
\midrule
dgp\_i & count & golden &   987 &   989 &   989 &   996 &   986 &   992 &     nan &     nan &     nan &     nan \\
      &       & halton &   981 &   985 &   983 &   986 &   985 &   988 & 200.000 &     nan &     nan &     nan \\
      &       & pseudo &   975 &   979 &   986 &   992 &   992 &   991 & 199.000 & 197.000 & 200.000 & 199.000 \\
      &       & sobol &   986 &   983 &   979 &   989 &   987 &   986 &     nan &     nan &     nan &     nan \\
\bottomrule
\end{tabular}