In [5]:
#!pip install joblib
from src.main import Analyzer

data = Analyzer(['Results/Base', 'Results/Big'])

Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False
Bad result found, is a boolean of value:
False

In [25]:
import pandas as pd
import numpy as np

# s = data.df.groupby('n_draws')[['rmse','mape']].apply(pd.DataFrame.describe).transpose()

# s = data.df.groupby('n_draws')[['rmse','mape']].describe()
s = data.df.groupby(['n_draws','drawtype'])[['rmse','mape']].agg(["mean", "std", "min","max", "count"])
display(s)
# def disp(df, stat):
#     display(df.groupby(['n_draws','drawtype'])[[stat]].agg(["mean", "std", "min","max", "count"]))
    
# disp(data.df, "rmse")    
# disp(data.df, "mape")   

# print(s.to_latex())

                  rmse                           mape                        \
                  mean   std   min   max count   mean    std    min     max
n_draws drawtype
25      pseudo   0.130 0.051 0.031 0.295   986 30.713 13.527  6.732  92.537
50      pseudo   0.126 0.050 0.030 0.270   992 31.220 14.551  6.199  96.863
75      pseudo   0.123 0.050 0.035 0.319   992 30.524 14.883  7.500 107.947
100     pseudo   0.126 0.050 0.028 0.310   991 31.250 15.051  5.561 104.133
250     pseudo   0.119 0.049 0.034 0.263   199 30.264 15.079  6.539  95.109
500     pseudo   0.120 0.047 0.038 0.275   197 31.013 14.580 10.495  99.027
1000    pseudo   0.119 0.048 0.034 0.278   200 30.921 14.821  7.154 100.368
2000    pseudo   0.119 0.048 0.036 0.278   199 30.820 14.866  8.214 100.263


                 count
n_draws drawtype
25      pseudo     986
50      pseudo     992
75      pseudo     992
100     pseudo     991
250     pseudo     199
500     pseudo     197
1000    pseudo     200
2000    pseudo     199