In [26]:
# !pip install joblib
from src.main import Analyzer

data = Analyzer(['Results/Base', 'Results/Big', 'Results/Halton2', 'Results/Golden','Results/Sobol'])

number of failed results is 222 of 15778

In [27]:


# s = data.df.groupby('n_draws')[['rmse','mape']].apply(pd.DataFrame.describe).transpose()

# s = data.df.groupby('n_draws')[['rmse','mape']].describe()
# s = data.df.groupby(['n_draws','drawtype'])[['mape']].agg(["mean", "std", "min","max", "count"])
# display(s)

# def disp(df, stat, latex=False):
#     view = df.groupby(['drawtype','n_draws'])[[stat]].agg(["mean", "std", "min","max", "count"]).transpose()
#     display(view)
#     if latex: print(view)
    
# disp(data.df, "rmse")    
# disp(data.df, "mape")   
# disp(data.df, "duration")   

# table = data.df.groupby(['n_draws','drawtype'])[['rmse','mape', 'duration']].agg(["mean", "std", "count"]).transpose()

table = data.df.groupby(['n_draws','drawtype'])[['rmse','mape','duration']].agg(["mean", "std", "count"]).transpose().stack()

display(table)
print('\n')
print(table.to_latex())

n_draws                    5       10      25      50      75      100   \
               drawtype
rmse     mean  golden     0.164   0.147   0.140     nan     nan     nan
               halton     0.142   0.129   0.123   0.121   0.120   0.121
               pseudo     0.160   0.145   0.130   0.126   0.123   0.126
               sobol      0.150   0.133   0.127     nan     nan     nan
         std   golden     0.043   0.049   0.052     nan     nan     nan
               halton     0.048   0.051   0.049   0.049   0.050   0.049
               pseudo     0.042   0.048   0.051   0.050   0.050   0.050
               sobol      0.046   0.052   0.052     nan     nan     nan
         count golden   496.000 492.000 494.000     nan     nan     nan
               halton   981.000 985.000 983.000 986.000 985.000 988.000
               pseudo   975.000 979.000 986.000 992.000 992.000 991.000
               sobol    494.000 495.000 489.000     nan     nan     nan
mape     mean  golden    34.533  32.353  32.194     nan     nan     nan
               halton    29.681  30.920  31.379  31.214  31.556  31.576
               pseudo    33.714  31.234  30.713  31.220  30.524  31.250
               sobol     30.049  30.515  31.311     nan     nan     nan
         std   golden    12.913  14.080  14.966     nan     nan     nan
               halton    11.251  14.311  15.311  15.403  15.637  15.465
               pseudo     9.657  11.605  13.527  14.551  14.883  15.051
               sobol     10.134  13.409  15.253     nan     nan     nan
         count golden   496.000 492.000 494.000     nan     nan     nan
               halton   981.000 985.000 983.000 986.000 985.000 988.000
               pseudo   975.000 979.000 986.000 992.000 992.000 991.000
               sobol    494.000 495.000 489.000     nan     nan     nan
duration mean  golden    26.580  50.134 185.048     nan     nan     nan
               halton    26.879  49.098 173.397 344.240 511.580 691.432
               pseudo    27.731  53.415 179.051 335.515 533.602 683.663
               sobol     26.953  49.425 164.497     nan     nan     nan
         std   golden    11.234  22.258  80.771     nan     nan     nan
               halton    10.950  21.593  76.228 151.168 227.466 314.389
               pseudo    11.190  24.308  79.247 150.114 257.782 300.388
               sobol     11.706  21.085  77.093     nan     nan     nan
         count golden   496.000 492.000 494.000     nan     nan     nan
               halton   981.000 985.000 983.000 986.000 985.000 988.000
               pseudo   975.000 979.000 986.000 992.000 992.000 991.000
               sobol    494.000 495.000 489.000     nan     nan     nan

n_draws                      250       500       1000       2000
               drawtype
rmse     mean  golden         nan       nan       nan        nan
               halton       0.120       nan       nan        nan
               pseudo       0.119     0.120     0.119      0.119
               sobol          nan       nan       nan        nan
         std   golden         nan       nan       nan        nan
               halton       0.048       nan       nan        nan
               pseudo       0.049     0.047     0.048      0.048
               sobol          nan       nan       nan        nan
         count golden         nan       nan       nan        nan
               halton     200.000       nan       nan        nan
               pseudo     199.000   197.000   200.000    199.000
               sobol          nan       nan       nan        nan
mape     mean  golden         nan       nan       nan        nan
               halton      31.102       nan       nan        nan
               pseudo      30.264    31.013    30.921     30.820
               sobol          nan       nan       nan        nan
         std   golden         nan       nan       nan        nan
               halton      14.737       nan       nan        nan
               pseudo      15.079    14.580    14.821     14.866
               sobol          nan       nan       nan        nan
         count golden         nan       nan       nan        nan
               halton     200.000       nan       nan        nan
               pseudo     199.000   197.000   200.000    199.000
               sobol          nan       nan       nan        nan
duration mean  golden         nan       nan       nan        nan
               halton   1,593.065       nan       nan        nan
               pseudo   1,783.992 3,277.670 6,762.978 13,541.047
               sobol          nan       nan       nan        nan
         std   golden         nan       nan       nan        nan
               halton     662.828       nan       nan        nan
               pseudo     704.846 1,261.117 2,925.191  5,592.076
               sobol          nan       nan       nan        nan
         count golden         nan       nan       nan        nan
               halton     200.000       nan       nan        nan
               pseudo     199.000   197.000   200.000    199.000
               sobol          nan       nan       nan        nan

\begin{tabular}{lllrrrrrrrrrr}
\toprule
         &       & n\_draws &    5    &    10   &    25   &    50   &    75   &    100  &      250  &      500  &      1000 &       2000 \\
{} & {} & drawtype &         &         &         &         &         &         &           &           &           &            \\
\midrule
rmse & mean & golden &   0.164 &   0.147 &   0.140 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         &       & halton &   0.142 &   0.129 &   0.123 &   0.121 &   0.120 &   0.121 &     0.120 &       nan &       nan &        nan \\
         &       & pseudo &   0.160 &   0.145 &   0.130 &   0.126 &   0.123 &   0.126 &     0.119 &     0.120 &     0.119 &      0.119 \\
         &       & sobol &   0.150 &   0.133 &   0.127 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         & std & golden &   0.043 &   0.049 &   0.052 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         &       & halton &   0.048 &   0.051 &   0.049 &   0.049 &   0.050 &   0.049 &     0.048 &       nan &       nan &        nan \\
         &       & pseudo &   0.042 &   0.048 &   0.051 &   0.050 &   0.050 &   0.050 &     0.049 &     0.047 &     0.048 &      0.048 \\
         &       & sobol &   0.046 &   0.052 &   0.052 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         & count & golden & 496.000 & 492.000 & 494.000 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         &       & halton & 981.000 & 985.000 & 983.000 & 986.000 & 985.000 & 988.000 &   200.000 &       nan &       nan &        nan \\
         &       & pseudo & 975.000 & 979.000 & 986.000 & 992.000 & 992.000 & 991.000 &   199.000 &   197.000 &   200.000 &    199.000 \\
         &       & sobol & 494.000 & 495.000 & 489.000 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
mape & mean & golden &  34.533 &  32.353 &  32.194 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         &       & halton &  29.681 &  30.920 &  31.379 &  31.214 &  31.556 &  31.576 &    31.102 &       nan &       nan &        nan \\
         &       & pseudo &  33.714 &  31.234 &  30.713 &  31.220 &  30.524 &  31.250 &    30.264 &    31.013 &    30.921 &     30.820 \\
         &       & sobol &  30.049 &  30.515 &  31.311 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         & std & golden &  12.913 &  14.080 &  14.966 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         &       & halton &  11.251 &  14.311 &  15.311 &  15.403 &  15.637 &  15.465 &    14.737 &       nan &       nan &        nan \\
         &       & pseudo &   9.657 &  11.605 &  13.527 &  14.551 &  14.883 &  15.051 &    15.079 &    14.580 &    14.821 &     14.866 \\
         &       & sobol &  10.134 &  13.409 &  15.253 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         & count & golden & 496.000 & 492.000 & 494.000 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         &       & halton & 981.000 & 985.000 & 983.000 & 986.000 & 985.000 & 988.000 &   200.000 &       nan &       nan &        nan \\
         &       & pseudo & 975.000 & 979.000 & 986.000 & 992.000 & 992.000 & 991.000 &   199.000 &   197.000 &   200.000 &    199.000 \\
         &       & sobol & 494.000 & 495.000 & 489.000 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
duration & mean & golden &  26.580 &  50.134 & 185.048 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         &       & halton &  26.879 &  49.098 & 173.397 & 344.240 & 511.580 & 691.432 & 1,593.065 &       nan &       nan &        nan \\
         &       & pseudo &  27.731 &  53.415 & 179.051 & 335.515 & 533.602 & 683.663 & 1,783.992 & 3,277.670 & 6,762.978 & 13,541.047 \\
         &       & sobol &  26.953 &  49.425 & 164.497 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         & std & golden &  11.234 &  22.258 &  80.771 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         &       & halton &  10.950 &  21.593 &  76.228 & 151.168 & 227.466 & 314.389 &   662.828 &       nan &       nan &        nan \\
         &       & pseudo &  11.190 &  24.308 &  79.247 & 150.114 & 257.782 & 300.388 &   704.846 & 1,261.117 & 2,925.191 &  5,592.076 \\
         &       & sobol &  11.706 &  21.085 &  77.093 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         & count & golden & 496.000 & 492.000 & 494.000 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
         &       & halton & 981.000 & 985.000 & 983.000 & 986.000 & 985.000 & 988.000 &   200.000 &       nan &       nan &        nan \\
         &       & pseudo & 975.000 & 979.000 & 986.000 & 992.000 & 992.000 & 991.000 &   199.000 &   197.000 &   200.000 &    199.000 \\
         &       & sobol & 494.000 & 495.000 & 489.000 &     nan &     nan &     nan &       nan &       nan &       nan &        nan \\
\bottomrule
\end{tabular}