In [ ]:
#!pip install pathvalidate
%cd C:\\Users\\tim\\Code\\mixedlogit
from src.main import Mixedlogit, datasetloader 

dataset = datasetloader("n 1000 - seed 1234 - time 2019-06-19-154935.pickle")

mixedlogit = Mixedlogit(dataset, "bigbatch").fit(drawtype="pseudo", n_draws=500, verbose=1, save="Big", start=21, end=250)

C:\Users\tim\Code\mixedlogit
Fitting 250 datasets

Fitting model 1 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.803,0.369,-0.406,0.185,0.460,0.452,2.102,1.633,1.303,342.387,0.958

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.595,0.105,-0.549,0.388,0.652,-0.554,1.766,1.479,0.918,257.773,0.722

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.599,0.046,-0.548,0.488,0.745,-0.761,1.609,1.395,0.632,231.368,0.637

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.650,-0.149,-0.422,0.686,0.919,-0.770,1.309,1.229,0.613,200.290,0.519

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.727,-0.064,-0.374,0.989,1.175,-0.805,0.944,0.993,0.626,148.485,0.379

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.527,-0.110,-0.551,0.930,1.171,-0.697,0.672,0.739,0.600,112.091,0.284

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.672,-0.075,-0.418,0.870,0.794,-0.776,0.529,0.495,0.580,90.916,0.250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.814,-0.009,-0.353,0.704,1.035,-0.759,0.618,0.295,0.499,97.099,0.247

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.739,0.005,-0.538,1.289,0.969,-0.549,0.923,0.163,0.376,124.218,0.337

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.843,0.131,-0.558,1.261,0.849,-0.477,0.187,0.921,0.283,33.783,0.208

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.852,0.135,-0.546,1.228,0.899,-0.497,0.194,0.748,0.276,28.564,0.159

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.851,0.127,-0.521,1.117,1.041,-0.554,0.185,0.687,0.253,23.507,0.108

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.833,0.094,-0.483,0.968,1.243,-0.563,0.187,0.351,0.197,25.722,0.091

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.825,0.107,-0.495,1.053,1.159,-0.595,0.177,0.315,0.181,25.983,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.821,0.112,-0.503,1.016,1.095,-0.569,0.175,0.288,0.173,24.750,0.096

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.821,0.108,-0.497,1.026,1.111,-0.562,0.173,0.252,0.162,26.008,0.107

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.818,0.109,-0.498,1.025,1.120,-0.559,0.166,0.201,0.144,27.112,0.122

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.816,0.108,-0.500,1.027,1.114,-0.559,0.161,0.171,0.132,27.637,0.131

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.815,0.109,-0.502,1.026,1.114,-0.558,0.157,0.154,0.125,27.916,0.136

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.815,0.109,-0.502,1.027,1.113,-0.557,0.156,0.146,0.123,28.041,0.138

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.815,0.109,-0.502,1.027,1.113,-0.557,0.155,0.143,0.122,28.073,0.140

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.815,0.109,-0.502,1.027,1.114,-0.557,0.154,0.137,0.121,28.092,0.141

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.815,0.109,-0.502,1.027,1.114,-0.557,0.152,0.130,0.120,28.080,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.815,0.109,-0.502,1.027,1.114,-0.557,0.149,0.119,0.120,28.001,0.146

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.815,0.109,-0.502,1.027,1.114,-0.557,0.144,0.103,0.121,27.763,0.151

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.815,0.109,-0.501,1.026,1.114,-0.557,0.136,0.081,0.125,27.198,0.157

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.815,0.109,-0.501,1.026,1.114,-0.558,0.132,0.070,0.128,26.795,0.159

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.815,0.109,-0.501,1.026,1.114,-0.558,0.131,0.069,0.128,26.706,0.160

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.815,0.109,-0.501,1.026,1.114,-0.558,0.130,0.068,0.129,26.636,0.160

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.815,0.109,-0.501,1.026,1.114,-0.558,0.129,0.067,0.129,26.531,0.160

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.815,0.109,-0.501,1.026,1.114,-0.558,0.127,0.066,0.129,26.344,0.160

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.815,0.109,-0.501,1.026,1.114,-0.558,0.124,0.066,0.129,26.018,0.161

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.815,0.109,-0.501,1.026,1.114,-0.558,0.119,0.065,0.129,25.418,0.161

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.815,0.109,-0.501,1.026,1.114,-0.558,0.109,0.066,0.129,24.307,0.160

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.815,0.109,-0.501,1.026,1.114,-0.558,0.103,0.068,0.128,23.677,0.160

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.815,0.109,-0.501,1.026,1.114,-0.558,0.100,0.071,0.128,23.282,0.159

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.815,0.109,-0.501,1.026,1.114,-0.558,0.100,0.073,0.128,23.244,0.158

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.815,0.109,-0.501,1.026,1.114,-0.558,0.102,0.075,0.128,23.382,0.158

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.815,0.109,-0.501,1.026,1.114,-0.558,0.103,0.076,0.128,23.503,0.157

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.815,0.109,-0.501,1.026,1.114,-0.558,0.103,0.075,0.128,23.500,0.158

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.815,0.109,-0.501,1.026,1.114,-0.558,0.103,0.075,0.128,23.516,0.158

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.815,0.109,-0.501,1.026,1.114,-0.558,0.103,0.075,0.128,23.512,0.158

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.815,0.109,-0.501,1.026,1.114,-0.558,0.103,0.075,0.128,23.497,0.158

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.815,0.109,-0.501,1.026,1.114,-0.558,0.103,0.075,0.128,23.493,0.158

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.815,0.109,-0.501,1.026,1.114,-0.558,0.103,0.075,0.128,23.493,0.158

Optimization done, time elapsed: 0:48:40

      c_0: array([0.26568564, 0.70495351, 0.25885652, 0.11616587, 0.3906853 ,
       0.83744848, 0.82420039, 0.5412699 , 0.36146299])
      dgp: 'bigbatch'
    dgp_i: 0
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 2920.3470792770386
      fun: 3387.0335780944556
 hess_inv: array([[ 6.63444044e-03,  1.11173237e-03,  3.93659696e-03,
        -9.39563957e-04, -4.19855554e-04, -2.90551631e-03,
        -1.91777673e-02,  4.91571095e-02,  3.77663795e-03],
       [ 1.11173237e-03,  2.89085998e-03,  1.00900957e-03,
        -2.02326477e-04,  2.29270946e-04,  3.86317635e-04,
        -5.02469244e-03,  8.79318488e-03,  9.87128363e-05],
       [ 3.93659696e-03,  1.00900957e-03,  6.05767479e-03,
        -1.29485798e-03, -1.30807294e-03, -2.00296430e-03,
        -1.61813386e-02,  4.09186909e-02,  5.21506525e-03],
       [-9.39563957e-04, -2.02326477e-04, -1.29485798e-03,
         8.09134393e-03, -6.67070038e-04,  9.54333885e-04,
        -1.55255387e-02,  1.02555092e-02, -3.94515286e-03],
       [-4.19855554e-04,  2.29270946e-04, -1.30807294e-03,
        -6.67070038e-04,  9.10945823e-03,  1.71192642e-04,
         1.13356232e-02, -8.62053828e-03,  3.32544229e-03],
       [-2.90551631e-03,  3.86317635e-04, -2.00296430e-03,
         9.54333885e-04,  1.71192642e-04,  2.39402735e-03,
         9.11356510e-03, -2.69343883e-02, -4.64496893e-03],
       [-1.91777673e-02, -5.02469244e-03, -1.61813386e-02,
        -1.55255387e-02,  1.13356232e-02,  9.11356510e-03,
         2.10464450e+00, -4.68461935e+00, -2.06996372e-01],
       [ 4.91571095e-02,  8.79318488e-03,  4.09186909e-02,
         1.02555092e-02, -8.62053828e-03, -2.69343883e-02,
        -4.68461935e+00,  1.05359583e+01,  4.89201479e-01],
       [ 3.77663795e-03,  9.87128363e-05,  5.21506525e-03,
        -3.94515286e-03,  3.32544229e-03, -4.64496893e-03,
        -2.06996372e-01,  4.89201479e-01,  1.65100989e-01]])
      jac: array([-1.22070312e-04,  2.74658203e-04, -9.15527344e-04,  3.35693359e-04,
       -2.44140625e-04, -2.44140625e-04,  6.10351562e-05,  0.00000000e+00,
        9.15527344e-05])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 979
      nit: 45
     njev: 88
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 0.81514516,  0.10857576, -0.50093473,  1.02629521,  1.11390018,
       -0.55780032,  0.10305668,  0.07525565,  0.12804207])

Saving run 1 of 250

Fitting model 2 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.850,0.270,-0.240,0.274,0.878,0.316,1.781,1.110,1.433,291.401,0.801

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.615,0.323,-0.421,0.487,1.057,-0.359,1.477,1.090,0.768,208.984,0.554

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.696,0.006,-0.438,0.696,1.191,-0.581,1.234,1.039,0.420,164.373,0.436

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.720,0.204,-0.334,0.927,1.312,-0.431,0.959,0.944,0.306,116.813,0.337

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.764,0.181,-0.314,1.130,1.307,-0.495,0.652,0.758,0.341,81.889,0.238

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.665,0.137,-0.396,1.023,1.281,-0.436,0.501,0.654,0.336,64.227,0.175

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.698,0.156,-0.364,0.965,1.248,-0.459,0.481,0.630,0.330,58.860,0.159

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.715,0.157,-0.365,0.957,1.279,-0.463,0.483,0.603,0.330,58.315,0.159

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.726,0.158,-0.380,0.984,1.235,-0.459,0.487,0.568,0.325,57.209,0.152

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.776,0.159,-0.392,0.979,1.239,-0.469,0.396,0.751,0.328,50.023,0.148

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.767,0.176,-0.459,1.007,1.271,-0.466,0.383,0.688,0.316,45.099,0.135

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.822,0.171,-0.472,1.034,1.268,-0.471,0.346,0.556,0.303,37.482,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.803,0.174,-0.482,1.035,1.276,-0.471,0.328,0.569,0.301,35.083,0.111

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.798,0.174,-0.481,1.033,1.275,-0.471,0.303,0.572,0.300,32.342,0.105

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.796,0.173,-0.475,1.032,1.272,-0.471,0.251,0.570,0.299,26.639,0.094

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.798,0.172,-0.472,1.031,1.271,-0.471,0.203,0.567,0.299,21.225,0.086

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.801,0.173,-0.471,1.031,1.270,-0.471,0.155,0.565,0.301,15.956,0.080

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.802,0.174,-0.471,1.031,1.269,-0.471,0.109,0.565,0.302,10.866,0.078

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.802,0.174,-0.470,1.030,1.269,-0.471,0.060,0.565,0.304,14.320,0.079

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.802,0.174,-0.470,1.030,1.269,-0.471,0.025,0.565,0.304,18.241,0.082

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.801,0.174,-0.470,1.030,1.270,-0.471,0.011,0.565,0.303,19.727,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.801,0.174,-0.470,1.030,1.270,-0.471,0.006,0.566,0.302,20.353,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.801,0.173,-0.470,1.030,1.270,-0.471,0.003,0.566,0.302,20.672,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.801,0.173,-0.470,1.030,1.270,-0.471,0.001,0.567,0.302,20.847,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.801,0.173,-0.470,1.030,1.270,-0.471,0.001,0.566,0.302,20.930,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.971,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.990,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.990,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.991,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.801,0.173,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.995,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.801,0.173,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.997,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.801,0.173,-0.470,1.030,1.270,-0.471,0.000,0.567,0.302,20.999,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.801,0.173,-0.470,1.030,1.270,-0.471,0.000,0.567,0.302,20.999,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.801,0.173,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.999,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.999,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.999,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.998,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.998,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.998,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.996,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.996,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.996,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.997,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.997,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.997,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
45,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.997,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
46,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.997,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
47,0.801,0.174,-0.470,1.030,1.270,-0.471,0.000,0.566,0.302,20.997,0.085

Optimization done, time elapsed: 1:24:46

      c_0: array([0.34851777, 0.02927649, 0.5429735 , 0.22313308, 0.83336493,
       0.48866014, 0.65425617, 0.11324313, 0.59936688])
      dgp: 'bigbatch'
    dgp_i: 1
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 5085.855936050415
      fun: 3412.2608723067615
 hess_inv: array([[ 5.06735585e-03, -1.84074274e-04,  4.88844889e-03,
         6.14402646e-03, -4.53676336e-03, -2.81578252e-03,
         9.43934169e-03,  6.77192195e-04, -7.49853462e-06],
       [-1.84074274e-04,  2.07293237e-03, -5.35489078e-04,
        -2.57669370e-03, -9.32440167e-04,  5.94300447e-04,
         8.45560168e-04,  6.98181930e-04, -1.17089023e-03],
       [ 4.88844889e-03, -5.35489078e-04,  9.47091488e-03,
         1.58952221e-02, -7.45766116e-03, -2.29900073e-03,
         1.33875604e-02, -2.56902591e-03,  2.87120871e-03],
       [ 6.14402646e-03, -2.57669370e-03,  1.58952221e-02,
         3.78918460e-02, -7.70753888e-03, -3.71835609e-03,
         5.02708495e-02, -7.71760544e-03,  9.66638563e-03],
       [-4.53676336e-03, -9.32440167e-04, -7.45766116e-03,
        -7.70753888e-03,  8.34481661e-03,  1.87815223e-03,
         3.04632470e-03,  8.24332538e-04, -4.21634121e-05],
       [-2.81578252e-03,  5.94300447e-04, -2.29900073e-03,
        -3.71835609e-03,  1.87815223e-03,  2.38574030e-03,
        -2.20712286e-03, -2.49633117e-04, -2.43476542e-05],
       [ 9.43934169e-03,  8.45560168e-04,  1.33875604e-02,
         5.02708495e-02,  3.04632470e-03, -2.20712286e-03,
         2.48367469e-01,  3.60044593e-03,  1.29211186e-02],
       [ 6.77192195e-04,  6.98181930e-04, -2.56902591e-03,
        -7.71760544e-03,  8.24332538e-04, -2.49633117e-04,
         3.60044593e-03,  3.87483175e-03, -2.85880444e-03],
       [-7.49853462e-06, -1.17089023e-03,  2.87120871e-03,
         9.66638563e-03, -4.21634121e-05, -2.43476542e-05,
         1.29211186e-02, -2.85880444e-03,  3.34460755e-03]])
      jac: array([0.00000000e+00, 0.00000000e+00, 3.96728516e-04, 1.22070312e-04,
       9.15527344e-05, 0.00000000e+00, 3.05175781e-05, 6.10351562e-05,
       1.22070312e-04])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 1649
      nit: 48
     njev: 149
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 8.01147284e-01,  1.73556752e-01, -4.70439553e-01,  1.02994523e+00,
        1.26970113e+00, -4.70941788e-01,  1.94487186e-05,  5.66133168e-01,
        3.02021330e-01])

Saving run 2 of 250

Fitting model 3 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.596,0.397,-0.407,0.108,0.232,-0.051,2.282,2.548,1.271,377.716,1.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.489,0.302,-0.422,0.221,0.318,-0.373,1.943,2.251,0.642,291.975,0.932

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.578,0.250,-0.321,0.375,0.435,-0.305,1.654,1.980,0.597,248.353,0.786

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.670,0.335,-0.239,0.649,0.644,-0.351,1.264,1.596,0.590,194.882,0.584

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.619,0.187,-0.314,0.794,0.828,-0.412,1.092,1.431,0.635,161.375,0.490

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.381,0.201,-0.518,0.890,1.133,-0.222,0.921,1.260,0.617,137.352,0.427

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.444,0.210,-0.485,0.743,1.283,-0.275,0.909,1.130,0.584,133.285,0.394

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.482,0.218,-0.492,0.852,1.248,-0.307,0.906,1.086,0.526,126.785,0.370

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.462,0.203,-0.570,0.662,0.727,-0.356,0.400,1.052,0.470,71.754,0.294

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.518,0.219,-0.533,0.659,0.809,-0.393,0.313,1.493,0.445,68.416,0.381

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.543,0.224,-0.534,0.710,0.832,-0.402,0.316,1.418,0.429,65.307,0.351

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.593,0.229,-0.542,0.777,0.933,-0.404,0.335,1.244,0.391,59.718,0.284

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.678,0.239,-0.552,0.920,1.134,-0.420,0.380,0.973,0.315,51.977,0.193

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.686,0.242,-0.552,0.921,1.083,-0.411,0.400,0.973,0.301,53.560,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.682,0.242,-0.554,0.914,1.056,-0.416,0.448,0.952,0.284,57.886,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.681,0.243,-0.555,0.913,1.065,-0.410,0.491,0.947,0.279,62.449,0.206

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.683,0.244,-0.553,0.916,1.072,-0.411,0.519,0.961,0.278,65.736,0.215

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.684,0.244,-0.553,0.917,1.075,-0.412,0.525,0.977,0.280,66.827,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.684,0.244,-0.554,0.917,1.074,-0.412,0.526,0.977,0.281,66.966,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.981,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.999,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.992,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.994,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.994,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.994,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.994,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.994,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.994,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.994,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.994,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.994,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.994,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.994,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.684,0.244,-0.554,0.917,1.074,-0.413,0.526,0.977,0.281,66.994,0.220

Optimization done, time elapsed: 0:26:42

      c_0: array([0.00566146, 0.4248354 , 0.27838183, 0.07013952, 0.19879298,
       0.01187167, 0.91775135, 0.98618607, 0.66775001])
      dgp: 'bigbatch'
    dgp_i: 2
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 1602.4877905845642
      fun: 3437.8240180898556
 hess_inv: array([[ 0.00110122,  0.00053688,  0.00143672,  0.00288228,  0.00161937,
        -0.00256255,  0.00645243,  0.00061265, -0.00794517],
       [ 0.00053688,  0.00035031,  0.00077482,  0.00157736,  0.00098503,
        -0.00148354,  0.0035454 ,  0.00043478, -0.00439719],
       [ 0.00143672,  0.00077482,  0.00241363,  0.00412086,  0.00249982,
        -0.00372653,  0.00970309,  0.00076597, -0.01186558],
       [ 0.00288228,  0.00157736,  0.00412086,  0.00808881,  0.00478691,
        -0.0073306 ,  0.01821704,  0.0018702 , -0.02248717],
       [ 0.00161937,  0.00098503,  0.00249982,  0.00478691,  0.00310309,
        -0.00442769,  0.01090105,  0.00125515, -0.01351645],
       [-0.00256255, -0.00148354, -0.00372653, -0.0073306 , -0.00442769,
         0.00677567, -0.01660941, -0.0018339 ,  0.02048944],
       [ 0.00645243,  0.0035454 ,  0.00970309,  0.01821704,  0.01090105,
        -0.01660941,  0.04185045,  0.00412024, -0.05136125],
       [ 0.00061265,  0.00043478,  0.00076597,  0.0018702 ,  0.00125515,
        -0.0018339 ,  0.00412024,  0.00080637, -0.00515298],
       [-0.00794517, -0.00439719, -0.01186558, -0.02248717, -0.01351645,
         0.02048944, -0.05136125, -0.00515298,  0.06323916]])
      jac: array([-1.22070312e-04, -1.22070312e-04, -3.05175781e-05,  1.83105469e-04,
       -9.15527344e-05,  3.05175781e-05,  0.00000000e+00, -6.10351562e-05,
        1.22070312e-04])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 507
      nit: 34
     njev: 46
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 0.68391791,  0.24420545, -0.5536288 ,  0.91668809,  1.07363678,
       -0.41251853,  0.52602668,  0.97659674,  0.28128792])

Saving run 3 of 250

Fitting model 4 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.838,0.484,-0.138,0.289,0.373,0.290,1.315,1.683,1.742,284.415,0.872

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.991,0.276,-0.715,0.529,0.556,-0.415,1.220,1.642,0.926,203.540,0.628

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.902,0.281,-0.720,0.590,0.603,-0.601,1.191,1.630,0.822,193.697,0.598

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.950,0.124,-0.615,0.859,0.846,-0.694,0.970,1.499,0.878,162.989,0.505

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,1.051,0.291,-0.562,1.187,1.204,-0.669,0.685,1.249,0.835,125.900,0.400

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.860,0.208,-0.703,0.940,1.579,-0.617,0.378,0.815,0.819,76.884,0.296

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.879,0.184,-0.681,0.891,1.334,-0.681,0.229,0.662,0.787,54.360,0.226

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.725,0.152,-0.799,1.017,1.246,-0.589,0.204,0.697,0.772,54.319,0.226

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.719,0.188,-0.762,0.953,1.284,-0.596,0.145,1.165,0.639,49.303,0.282

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.858,0.205,-0.527,1.121,1.071,-0.701,0.196,0.446,0.473,30.897,0.132

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.884,0.218,-0.420,0.970,0.951,-0.542,0.135,0.476,0.375,17.211,0.082

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.873,0.181,-0.426,0.870,1.204,-0.499,0.121,0.725,0.298,14.620,0.092

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.866,0.187,-0.425,0.856,1.157,-0.533,0.099,0.787,0.284,13.164,0.105

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.877,0.199,-0.429,0.905,1.100,-0.536,0.091,0.856,0.261,12.952,0.124

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.883,0.197,-0.419,0.893,1.092,-0.539,0.088,0.830,0.252,12.885,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.883,0.195,-0.419,0.891,1.102,-0.537,0.088,0.830,0.245,13.117,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.882,0.196,-0.420,0.892,1.104,-0.537,0.088,0.823,0.244,12.843,0.115

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.882,0.196,-0.420,0.892,1.104,-0.537,0.088,0.826,0.244,12.903,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.882,0.196,-0.420,0.892,1.104,-0.537,0.088,0.826,0.244,12.889,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.882,0.196,-0.420,0.892,1.104,-0.537,0.089,0.826,0.244,12.857,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.882,0.196,-0.420,0.892,1.104,-0.537,0.089,0.826,0.244,12.791,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.882,0.196,-0.420,0.892,1.104,-0.537,0.091,0.826,0.244,12.651,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.882,0.196,-0.420,0.892,1.104,-0.537,0.093,0.826,0.244,12.330,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.211,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.183,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.200,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.214,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.882,0.196,-0.420,0.892,1.104,-0.537,0.095,0.826,0.244,12.210,0.116

Optimization done, time elapsed: 0:35:36

      c_0: array([0.78553374, 0.21578383, 0.39366786, 0.20901486, 0.31795364,
       0.9286907 , 0.29868099, 0.53412925, 0.06030452])
      dgp: 'bigbatch'
    dgp_i: 3
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 2135.827567577362
      fun: 3422.9252956311234
 hess_inv: array([[ 1.46605241e-03, -1.90789780e-04, -6.89662923e-05,
        -7.42744154e-04, -4.57458767e-05, -4.00306926e-04,
         1.10964918e-03, -5.64255276e-04,  3.71417488e-04],
       [-1.90789780e-04,  1.19228127e-03, -2.36673919e-04,
        -1.05474091e-04,  5.48640038e-04,  1.35885446e-04,
         1.57583668e-04, -1.28416424e-03, -4.41969387e-04],
       [-6.89662923e-05, -2.36673919e-04,  2.96532683e-04,
         3.20240598e-04,  1.10428181e-05, -3.08976218e-04,
        -2.98629057e-04,  3.04395495e-04,  1.37299436e-04],
       [-7.42744154e-04, -1.05474091e-04,  3.20240598e-04,
         1.02786138e-03,  2.69305539e-04, -3.13693190e-04,
        -1.19904125e-03,  4.60176891e-04,  2.34168930e-04],
       [-4.57458767e-05,  5.48640038e-04,  1.10428181e-05,
         2.69305539e-04,  2.31120889e-03,  6.92300699e-05,
        -1.37838569e-03, -2.84687928e-03, -1.01782607e-04],
       [-4.00306926e-04,  1.35885446e-04, -3.08976218e-04,
        -3.13693190e-04,  6.92300699e-05,  9.20286165e-04,
        -1.38646607e-05, -5.27561421e-04, -3.68584805e-04],
       [ 1.10964918e-03,  1.57583668e-04, -2.98629057e-04,
        -1.19904125e-03, -1.37838569e-03, -1.38646607e-05,
         3.32841154e-03,  1.33338872e-03, -8.89779312e-04],
       [-5.64255276e-04, -1.28416424e-03,  3.04395495e-04,
         4.60176891e-04, -2.84687928e-03, -5.27561421e-04,
         1.33338872e-03,  5.65116214e-03, -5.19637468e-04],
       [ 3.71417488e-04, -4.41969387e-04,  1.37299436e-04,
         2.34168930e-04, -1.01782607e-04, -3.68584805e-04,
        -8.89779312e-04, -5.19637468e-04,  1.34709308e-03]])
      jac: array([-3.05175781e-05, -1.52587891e-04, -6.10351562e-05, -6.10351562e-05,
       -6.10351562e-05,  0.00000000e+00,  6.10351562e-05, -9.15527344e-05,
       -9.15527344e-05])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 683
      nit: 40
     njev: 62
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 0.88217211,  0.19608581, -0.42046319,  0.89180979,  1.10411323,
       -0.5366311 ,  0.09453712,  0.82564198,  0.24361628])

Saving run 4 of 250

Fitting model 5 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,1.004,0.605,0.125,0.529,0.733,0.096,2.050,1.052,1.185,331.194,0.830

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.794,0.333,-0.050,0.589,0.881,-0.379,1.662,1.068,0.797,236.671,0.618

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.721,0.513,-0.075,0.672,0.986,-0.443,1.378,1.019,0.481,196.909,0.506

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.736,0.430,-0.022,0.723,1.043,-0.357,1.232,0.979,0.395,173.082,0.456

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.886,0.450,0.077,1.019,1.164,-0.450,0.758,0.657,0.416,115.111,0.318

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.673,0.405,-0.133,0.781,1.147,-0.338,0.477,0.311,0.428,80.869,0.222

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.666,0.242,-0.175,0.718,0.998,-0.456,0.559,0.105,0.347,79.778,0.247

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.575,0.179,-0.286,0.776,1.272,-0.437,0.678,0.060,0.332,91.362,0.275

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.511,0.164,-0.361,0.899,1.211,-0.397,0.678,0.058,0.331,90.140,0.271

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.594,0.155,-0.410,0.892,1.225,-0.428,0.592,0.058,0.319,77.909,0.239

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.763,0.145,-0.493,0.889,1.249,-0.495,0.458,0.049,0.273,56.308,0.200

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.765,0.145,-0.508,0.891,1.255,-0.496,0.405,0.047,0.259,49.780,0.190

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.767,0.148,-0.506,0.892,1.254,-0.494,0.342,0.046,0.243,42.551,0.180

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.766,0.149,-0.497,0.891,1.249,-0.495,0.302,0.046,0.234,38.358,0.174

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.766,0.148,-0.492,0.890,1.248,-0.493,0.279,0.047,0.231,36.061,0.171

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.766,0.148,-0.490,0.890,1.247,-0.494,0.262,0.048,0.231,34.196,0.169

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.766,0.148,-0.490,0.890,1.247,-0.494,0.240,0.050,0.233,31.565,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.767,0.148,-0.491,0.891,1.247,-0.495,0.225,0.052,0.236,29.711,0.164

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.767,0.148,-0.492,0.891,1.248,-0.495,0.222,0.052,0.237,29.310,0.164

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.767,0.148,-0.492,0.891,1.248,-0.495,0.221,0.051,0.238,29.177,0.164

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.767,0.148,-0.493,0.891,1.248,-0.495,0.220,0.050,0.238,29.075,0.164

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.767,0.148,-0.493,0.891,1.248,-0.495,0.218,0.047,0.239,28.976,0.165

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.767,0.148,-0.494,0.891,1.248,-0.494,0.217,0.041,0.240,28.874,0.167

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.767,0.148,-0.494,0.891,1.248,-0.494,0.214,0.032,0.241,28.745,0.169

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.767,0.147,-0.495,0.892,1.249,-0.494,0.211,0.020,0.243,28.523,0.173

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.767,0.148,-0.496,0.892,1.249,-0.494,0.209,0.011,0.243,28.416,0.175

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.767,0.148,-0.495,0.892,1.249,-0.494,0.208,0.005,0.242,28.525,0.177

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.767,0.148,-0.493,0.892,1.248,-0.494,0.211,0.002,0.240,29.018,0.178

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.767,0.148,-0.492,0.891,1.247,-0.494,0.214,0.001,0.238,29.570,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.767,0.148,-0.491,0.891,1.247,-0.494,0.216,0.001,0.237,29.839,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.767,0.148,-0.491,0.891,1.247,-0.495,0.218,0.000,0.237,30.010,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.767,0.148,-0.491,0.891,1.247,-0.494,0.218,0.000,0.237,30.020,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.767,0.148,-0.491,0.891,1.247,-0.494,0.218,0.000,0.237,30.026,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.767,0.148,-0.492,0.891,1.247,-0.494,0.218,0.000,0.238,30.017,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.767,0.148,-0.492,0.891,1.247,-0.494,0.218,0.000,0.238,29.967,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.767,0.148,-0.492,0.891,1.247,-0.494,0.217,0.000,0.238,29.926,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.767,0.148,-0.492,0.891,1.247,-0.494,0.216,0.000,0.238,29.830,0.179

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.767,0.148,-0.492,0.891,1.247,-0.494,0.216,0.000,0.238,29.830,0.179

Optimization done, time elapsed: 0:32:44

      c_0: array([0.46607104, 0.78097007, 0.896282  , 0.5159462 , 0.67036275,
       0.22971522, 0.82060565, 0.03352669, 0.43969452])
      dgp: 'bigbatch'
    dgp_i: 4
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 1963.9748606681824
      fun: 3416.9691258672137
 hess_inv: array([[ 6.76244461e-03,  1.39467710e-03,  4.17209382e-03,
        -1.09298952e-03, -9.30886361e-05, -2.78658547e-03,
         2.55075196e-03, -4.48074752e-03, -1.03552853e-03],
       [ 1.39467710e-03,  2.83778048e-03,  1.61686888e-03,
        -3.64083991e-05,  7.62621000e-05,  1.79412488e-04,
        -6.41463297e-03,  1.41749481e-02, -3.64918919e-04],
       [ 4.17209382e-03,  1.61686888e-03,  6.61668132e-03,
        -1.62346352e-03, -8.63592776e-04, -1.83381154e-03,
        -6.32006403e-02,  1.41336976e-01, -3.01235745e-03],
       [-1.09298952e-03, -3.64083991e-05, -1.62346352e-03,
         1.02020825e-02, -9.57516897e-04,  1.19873560e-03,
         3.76213386e-03, -1.32391207e-02,  9.69767399e-04],
       [-9.30886361e-05,  7.62621000e-05, -8.63592776e-04,
        -9.57516897e-04,  8.92120095e-03,  1.53404544e-04,
         3.33131837e-02, -8.04686989e-02,  2.22156923e-03],
       [-2.78658547e-03,  1.79412488e-04, -1.83381154e-03,
         1.19873560e-03,  1.53404544e-04,  2.36451824e-03,
         9.52703638e-04, -2.47530290e-03,  4.75811451e-05],
       [ 2.55075196e-03, -6.41463297e-03, -6.32006403e-02,
         3.76213386e-03,  3.33131837e-02,  9.52703638e-04,
         3.99678294e+00, -8.15132742e+00,  1.42870405e-01],
       [-4.48074752e-03,  1.41749481e-02,  1.41336976e-01,
        -1.32391207e-02, -8.04686989e-02, -2.47530290e-03,
        -8.15132742e+00,  1.67214051e+01, -2.62880124e-01],
       [-1.03552853e-03, -3.64918919e-04, -3.01235745e-03,
         9.69767399e-04,  2.22156923e-03,  4.75811451e-05,
         1.42870405e-01, -2.62880124e-01,  3.67375399e-02]])
      jac: array([-2.77709961e-03,  1.22070312e-03,  2.16674805e-03,  5.79833984e-04,
        9.15527344e-05, -2.04467773e-03, -8.54492188e-04,  6.10351562e-05,
       -1.58691406e-03])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 628
      nit: 38
     njev: 57
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 7.66712973e-01,  1.48086283e-01, -4.91571971e-01,  8.91184674e-01,
        1.24729745e+00, -4.94485333e-01,  2.16287203e-01,  3.09488418e-05,
        2.37724811e-01])

Saving run 5 of 250

Fitting model 6 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.778,0.579,-0.338,0.971,0.841,-0.274,1.038,1.168,1.134,191.840,0.517

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.665,0.400,-0.505,0.998,0.896,-0.617,0.993,1.092,0.779,154.745,0.415

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.723,0.331,-0.654,1.006,0.936,-0.574,0.937,1.007,0.755,143.108,0.381

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.588,0.362,-0.759,1.041,1.044,-0.464,0.812,0.815,0.717,127.587,0.331

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.526,0.279,-0.747,1.067,1.085,-0.466,0.743,0.710,0.758,115.310,0.314

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.602,0.304,-0.672,1.078,1.056,-0.515,0.649,0.575,0.748,100.083,0.272

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.577,0.283,-0.649,0.808,0.866,-0.520,0.558,0.466,0.721,87.546,0.253

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.574,0.270,-0.635,0.825,0.883,-0.495,0.520,0.452,0.650,78.780,0.228

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.493,0.236,-0.647,1.161,0.526,-0.366,0.415,0.419,0.533,70.881,0.283

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.549,0.240,-0.546,1.096,0.701,-0.327,0.338,0.399,0.451,54.633,0.211

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.649,0.216,-0.395,0.926,1.089,-0.463,0.441,0.211,0.304,53.258,0.163

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.639,0.231,-0.412,0.941,0.973,-0.377,0.259,0.269,0.278,34.472,0.128

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.628,0.231,-0.421,0.978,0.930,-0.404,0.169,0.355,0.267,22.295,0.109

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.627,0.235,-0.440,0.952,0.959,-0.393,0.223,0.281,0.258,29.024,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.629,0.234,-0.427,0.951,0.960,-0.391,0.209,0.282,0.252,27.372,0.120

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.629,0.234,-0.428,0.953,0.957,-0.392,0.201,0.283,0.248,26.461,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.629,0.234,-0.429,0.952,0.957,-0.392,0.196,0.283,0.247,26.006,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.629,0.234,-0.429,0.952,0.957,-0.392,0.191,0.284,0.246,25.384,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.629,0.234,-0.430,0.952,0.956,-0.392,0.181,0.283,0.246,24.333,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.629,0.234,-0.430,0.952,0.956,-0.392,0.165,0.282,0.246,22.593,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.628,0.234,-0.430,0.951,0.956,-0.392,0.138,0.279,0.246,19.635,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.628,0.234,-0.429,0.951,0.955,-0.392,0.093,0.274,0.247,16.340,0.117

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.628,0.234,-0.427,0.951,0.953,-0.392,0.036,0.266,0.248,22.808,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.628,0.234,-0.427,0.952,0.953,-0.392,0.012,0.261,0.249,25.510,0.123

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.628,0.234,-0.427,0.952,0.954,-0.392,0.008,0.263,0.249,25.971,0.123

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.628,0.234,-0.428,0.952,0.954,-0.392,0.003,0.270,0.247,26.360,0.122

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.628,0.234,-0.428,0.952,0.955,-0.392,0.002,0.275,0.247,26.448,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.628,0.234,-0.428,0.952,0.955,-0.392,0.000,0.277,0.247,26.532,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.628,0.234,-0.428,0.952,0.955,-0.392,0.000,0.275,0.247,26.568,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.628,0.234,-0.428,0.952,0.955,-0.392,0.000,0.274,0.247,26.621,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.628,0.234,-0.428,0.952,0.955,-0.392,0.000,0.273,0.247,26.625,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.628,0.234,-0.428,0.952,0.955,-0.392,0.000,0.273,0.247,26.625,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.628,0.234,-0.428,0.952,0.955,-0.392,0.000,0.273,0.247,26.625,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.628,0.234,-0.428,0.952,0.955,-0.392,0.000,0.273,0.247,26.626,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.628,0.234,-0.428,0.952,0.955,-0.392,0.000,0.274,0.247,26.624,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.628,0.234,-0.428,0.952,0.955,-0.392,0.000,0.274,0.247,26.618,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.628,0.234,-0.428,0.952,0.955,-0.392,0.000,0.274,0.247,26.616,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.628,0.234,-0.428,0.952,0.955,-0.392,0.000,0.274,0.247,26.611,0.121

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.628,0.234,-0.428,0.952,0.955,-0.392,0.000,0.274,0.247,26.611,0.121

Optimization done, time elapsed: 0:34:15

      c_0: array([0.9891569 , 0.49310803, 0.20486933, 0.94424346, 0.7705083 ,
       0.52695634, 0.10354648, 0.24779926, 0.24239794])
      dgp: 'bigbatch'
    dgp_i: 5
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 2055.1228284835815
      fun: 3497.6419482752276
 hess_inv: array([[ 7.10110806e-03,  1.27784898e-03,  4.28972008e-03,
        -1.24934668e-03, -2.49682483e-04, -2.99534443e-03,
         2.14486004e-03,  2.88176896e-04, -4.64458283e-06],
       [ 1.27784898e-03,  2.95878986e-03,  1.51636848e-03,
        -1.93376507e-04, -2.78035388e-05,  2.70106761e-04,
         7.58184241e-04, -3.05101459e-04,  3.65295387e-04],
       [ 4.28972008e-03,  1.51636848e-03,  6.62553267e-03,
        -2.24853642e-03, -7.57118391e-04, -2.04855936e-03,
         3.31276634e-03, -7.98831420e-04, -4.21354495e-04],
       [-1.24934668e-03, -1.93376507e-04, -2.24853642e-03,
         8.78457837e-03, -1.02955652e-04,  1.16240066e-03,
        -1.12426821e-03, -3.99967722e-03,  1.57105234e-03],
       [-2.49682483e-04, -2.78035388e-05, -7.57118391e-04,
        -1.02955652e-04,  9.29991812e-03, -7.79450160e-05,
        -3.78559203e-04, -2.04728747e-03,  8.69888508e-04],
       [-2.99534443e-03,  2.70106761e-04, -2.04855936e-03,
         1.16240066e-03, -7.79450160e-05,  2.58177552e-03,
        -1.02427968e-03, -2.02361040e-03, -5.33158736e-04],
       [ 2.14486004e-03,  7.58184241e-04,  3.31276634e-03,
        -1.12426821e-03, -3.78559203e-04, -1.02427968e-03,
         1.65638416e-03, -3.99415932e-04, -2.10677259e-04],
       [ 2.88176896e-04, -3.05101459e-04, -7.98831420e-04,
        -3.99967722e-03, -2.04728747e-03, -2.02361040e-03,
        -3.99415932e-04,  1.07587791e-01, -1.21032845e-02],
       [-4.64458283e-06,  3.65295387e-04, -4.21354495e-04,
         1.57105234e-03,  8.69888508e-04, -5.33158736e-04,
        -2.10677259e-04, -1.21032845e-02,  2.07732553e-02]])
      jac: array([ 0.00015259,  0.00088501, -0.00106812,  0.00137329,  0.00042725,
       -0.00048828,  0.00033569,  0.0007019 , -0.00128174])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 639
      nit: 39
     njev: 58
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 6.28280312e-01,  2.33919267e-01, -4.28164540e-01,  9.51806507e-01,
        9.54773557e-01, -3.91979089e-01,  1.50692967e-04,  2.74431497e-01,
        2.47048868e-01])

Saving run 6 of 250

Fitting model 7 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.993,0.554,-0.384,0.342,0.681,0.136,1.282,1.344,1.508,256.234,0.727

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.889,0.440,-0.624,0.490,0.813,-0.385,1.219,1.343,0.945,201.806,0.557

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,1.081,0.542,-0.588,0.623,0.920,-0.389,0.992,1.143,0.786,169.762,0.450

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,1.133,0.627,-0.406,0.833,1.101,-0.572,0.695,0.854,0.789,130.775,0.347

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,1.269,0.386,-0.380,0.992,1.301,-0.683,0.456,0.606,0.841,94.891,0.305

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,1.206,0.358,-0.433,0.944,1.333,-0.671,0.378,0.519,0.819,79.221,0.275

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,1.095,0.283,-0.536,1.054,0.986,-0.671,0.266,0.392,0.766,60.098,0.228

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.929,0.282,-0.640,1.264,1.095,-0.536,0.247,0.406,0.709,53.635,0.216

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.929,0.275,-0.608,1.181,1.129,-0.579,0.225,0.428,0.625,46.104,0.177

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.827,0.256,-0.543,0.962,1.126,-0.497,0.064,1.083,0.540,35.391,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.612,0.144,-0.482,0.650,1.079,-0.378,0.047,0.127,0.364,31.357,0.174

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.847,0.197,-0.330,0.780,1.162,-0.578,0.108,0.159,0.292,18.734,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.856,0.224,-0.371,0.828,1.138,-0.480,0.117,0.184,0.286,17.260,0.120

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.823,0.216,-0.371,0.791,1.098,-0.495,0.088,0.199,0.285,15.118,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.825,0.206,-0.356,0.766,1.149,-0.521,0.040,0.570,0.253,14.871,0.075

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.825,0.206,-0.357,0.767,1.149,-0.521,0.037,0.629,0.252,16.382,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.826,0.208,-0.361,0.772,1.145,-0.515,0.038,0.632,0.253,16.290,0.082

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.827,0.213,-0.368,0.783,1.136,-0.505,0.038,0.640,0.259,16.300,0.079

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.828,0.217,-0.374,0.792,1.129,-0.498,0.039,0.649,0.266,16.650,0.079

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.828,0.217,-0.374,0.792,1.130,-0.498,0.038,0.651,0.268,16.803,0.079

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.829,0.216,-0.374,0.792,1.131,-0.499,0.038,0.652,0.270,16.964,0.080

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.829,0.216,-0.374,0.792,1.131,-0.499,0.037,0.652,0.270,17.030,0.080

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.829,0.216,-0.373,0.792,1.131,-0.499,0.036,0.652,0.270,17.143,0.080

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.829,0.216,-0.373,0.792,1.132,-0.500,0.034,0.652,0.270,17.351,0.080

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.829,0.216,-0.373,0.792,1.132,-0.500,0.031,0.652,0.270,17.737,0.080

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.829,0.216,-0.373,0.792,1.132,-0.501,0.025,0.652,0.271,18.414,0.081

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.829,0.216,-0.373,0.792,1.133,-0.501,0.016,0.652,0.271,19.437,0.082

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.829,0.216,-0.373,0.792,1.133,-0.501,0.008,0.652,0.271,20.280,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.829,0.217,-0.373,0.792,1.132,-0.500,0.004,0.652,0.270,20.701,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.829,0.217,-0.373,0.793,1.131,-0.499,0.002,0.651,0.270,20.885,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.829,0.217,-0.374,0.793,1.131,-0.499,0.001,0.651,0.269,20.970,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.829,0.217,-0.374,0.793,1.130,-0.499,0.001,0.651,0.269,21.020,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.829,0.217,-0.374,0.793,1.130,-0.499,0.000,0.651,0.269,21.072,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.829,0.217,-0.374,0.793,1.130,-0.499,0.000,0.651,0.269,21.091,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.829,0.217,-0.374,0.793,1.131,-0.499,0.000,0.651,0.269,21.118,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.829,0.217,-0.373,0.792,1.131,-0.499,0.000,0.651,0.270,21.139,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.133,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.133,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.132,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.132,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.131,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.829,0.217,-0.374,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
44,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
45,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
46,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
47,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
48,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
49,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
50,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
51,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
52,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
53,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
54,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
55,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
56,0.829,0.217,-0.373,0.793,1.131,-0.499,0.000,0.651,0.269,21.130,0.084

Optimization done, time elapsed: 0:51:22

      c_0: array([0.8293638 , 0.27748294, 0.33994707, 0.23510173, 0.5885045 ,
       0.74162845, 0.29767219, 0.31252946, 0.36339131])
      dgp: 'bigbatch'
    dgp_i: 6
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 3082.2302112579346
      fun: 3465.5130173064467
 hess_inv: array([[ 2.60248084e-03,  1.94927907e-03,  4.16260582e-04,
        -9.35200669e-04, -1.40044972e-04,  7.77214875e-04,
         5.78678740e-03,  1.52129440e-03,  2.06851458e-03],
       [ 1.94927907e-03,  1.48750347e-03,  2.67443093e-04,
        -6.58485056e-04, -1.66501201e-04,  6.48053712e-04,
         4.56612158e-03,  1.09715605e-03,  1.60353708e-03],
       [ 4.16260582e-04,  2.67443093e-04,  4.66014259e-04,
         1.92404421e-06,  5.71506679e-05, -2.79192121e-04,
         1.08714505e-03,  1.30957641e-04,  3.26120997e-04],
       [-9.35200669e-04, -6.58485056e-04,  1.92404421e-06,
         5.97241141e-04, -1.07081851e-04, -3.67596622e-04,
        -1.42289142e-03, -7.26920177e-04, -5.96580981e-04],
       [-1.40044972e-04, -1.66501201e-04,  5.71506679e-05,
        -1.07081851e-04,  2.24348886e-04, -1.79791210e-04,
        -8.74768480e-04, -1.67083536e-06, -2.79024957e-04],
       [ 7.77214875e-04,  6.48053712e-04, -2.79192121e-04,
        -3.67596622e-04, -1.79791210e-04,  6.72514961e-04,
         1.80398227e-03,  5.10323580e-04,  6.75353868e-04],
       [ 5.78678740e-03,  4.56612158e-03,  1.08714505e-03,
        -1.42289142e-03, -8.74768480e-04,  1.80398227e-03,
         1.62755042e-02,  2.74541433e-03,  5.33519539e-03],
       [ 1.52129440e-03,  1.09715605e-03,  1.30957641e-04,
        -7.26920177e-04, -1.67083536e-06,  5.10323580e-04,
         2.74541433e-03,  1.07424325e-03,  1.09816688e-03],
       [ 2.06851458e-03,  1.60353708e-03,  3.26120997e-04,
        -5.96580981e-04, -2.79024957e-04,  6.75353868e-04,
         5.33519539e-03,  1.09816688e-03,  1.83355581e-03]])
      jac: array([3.05175781e-05, 2.74658203e-04, 1.83105469e-04, 6.10351562e-05,
       1.22070312e-04, 0.00000000e+00, 3.05175781e-05, 1.83105469e-04,
       3.05175781e-05])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 1167
      nit: 57
     njev: 106
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 8.29109576e-01,  2.16744817e-01, -3.73495615e-01,  7.92577178e-01,
        1.13089675e+00, -4.99215851e-01,  3.11592600e-05,  6.51097792e-01,
        2.69420222e-01])

Saving run 7 of 250

Fitting model 8 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,1.238,0.620,0.073,0.102,0.658,0.247,1.516,2.231,1.482,323.625,0.978

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.959,0.388,-0.117,0.298,0.780,-0.410,1.476,1.908,0.839,244.211,0.738

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.923,0.521,-0.129,0.374,0.850,-0.527,1.373,1.736,0.582,221.039,0.654

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.898,0.394,0.020,0.480,0.953,-0.463,1.230,1.516,0.436,187.606,0.564

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.959,0.381,0.034,0.824,1.336,-0.530,0.737,0.884,0.462,116.776,0.334

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.786,0.342,-0.129,0.739,1.308,-0.428,0.576,0.736,0.451,89.057,0.248

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.818,0.283,-0.106,0.718,0.927,-0.524,0.399,0.661,0.433,63.208,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.806,0.274,-0.130,0.758,0.933,-0.523,0.379,0.708,0.426,59.776,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.840,0.251,-0.123,0.655,1.029,-0.576,0.360,0.748,0.412,58.803,0.203

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.859,0.255,-0.153,0.661,1.051,-0.573,0.426,0.652,0.396,62.811,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.892,0.258,-0.212,0.706,1.116,-0.561,0.501,0.625,0.358,66.915,0.190

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.946,0.251,-0.369,0.812,1.249,-0.545,0.701,0.525,0.270,79.654,0.220

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.972,0.257,-0.399,0.866,1.235,-0.548,0.440,0.609,0.235,51.585,0.146

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.960,0.255,-0.402,0.848,1.262,-0.546,0.539,0.522,0.224,61.173,0.171

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.959,0.256,-0.395,0.839,1.255,-0.538,0.645,0.472,0.214,73.653,0.202

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.958,0.255,-0.394,0.842,1.249,-0.542,0.601,0.481,0.211,68.588,0.188

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.958,0.255,-0.393,0.841,1.248,-0.541,0.597,0.481,0.208,68.273,0.187

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.958,0.255,-0.392,0.840,1.248,-0.541,0.600,0.481,0.206,68.712,0.188

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.958,0.255,-0.392,0.840,1.248,-0.541,0.599,0.483,0.205,68.647,0.188

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.958,0.255,-0.393,0.840,1.248,-0.541,0.600,0.486,0.205,68.663,0.188

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.958,0.255,-0.393,0.840,1.248,-0.541,0.601,0.489,0.206,68.691,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.958,0.255,-0.393,0.840,1.248,-0.541,0.601,0.489,0.206,68.688,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.958,0.255,-0.393,0.840,1.248,-0.541,0.601,0.489,0.206,68.689,0.189

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.958,0.255,-0.393,0.840,1.248,-0.541,0.601,0.489,0.206,68.689,0.189

Optimization done, time elapsed: 0:40:37

      c_0: array([0.69426179, 0.98400844, 0.69963922, 0.02956492, 0.62184318,
       0.35744519, 0.42410834, 0.86547153, 0.81426056])
      dgp: 'bigbatch'
    dgp_i: 7
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 2436.6232526302338
      fun: 3400.096854961818
 hess_inv: array([[ 0.05274042,  0.02595554,  0.03980687,  0.01767415,  0.05139883,
        -0.02187539,  0.06851454,  0.19293508,  0.15319696],
       [ 0.02595554,  0.01639146,  0.02054064,  0.01002686,  0.02701623,
        -0.00982442,  0.03643121,  0.09892532,  0.08035339],
       [ 0.03980687,  0.02054064,  0.03431464,  0.01300228,  0.03853435,
        -0.01667938,  0.05119728,  0.14584754,  0.11763105],
       [ 0.01767415,  0.01002686,  0.01300228,  0.01653709,  0.02125852,
        -0.0068319 ,  0.02728504,  0.09161217,  0.0682207 ],
       [ 0.05139883,  0.02701623,  0.03853435,  0.02125852,  0.06713575,
        -0.02120702,  0.07934228,  0.20474523,  0.16812974],
       [-0.02187539, -0.00982442, -0.01667938, -0.0068319 , -0.02120702,
         0.01029533, -0.02861487, -0.08096728, -0.06494065],
       [ 0.06851454,  0.03643121,  0.05119728,  0.02728504,  0.07934228,
        -0.02861487,  0.20464681,  0.28757076,  0.22692678],
       [ 0.19293508,  0.09892532,  0.14584754,  0.09161217,  0.20474523,
        -0.08096728,  0.28757076,  0.81893665,  0.58980233],
       [ 0.15319696,  0.08035339,  0.11763105,  0.0682207 ,  0.16812974,
        -0.06494065,  0.22692678,  0.58980233,  0.55127393]])
      jac: array([-9.15527344e-05,  3.05175781e-04,  1.83105469e-04, -6.10351562e-05,
        1.83105469e-04, -3.05175781e-05,  3.05175781e-05,  1.22070312e-04,
        2.44140625e-04])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 1002
      nit: 24
     njev: 90
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 0.9579768 ,  0.25530306, -0.39260664,  0.84000447,  1.2484145 ,
       -0.54073223,  0.60109585,  0.48927331,  0.20556197])

Saving run 8 of 250

Fitting model 9 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,1.028,0.406,-0.471,0.893,0.893,-0.120,1.424,1.055,0.881,213.357,0.552

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.839,0.378,-0.595,0.899,0.923,-0.476,1.258,1.015,0.621,171.483,0.450

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.739,0.098,-0.483,0.909,0.959,-0.491,1.090,0.956,0.431,136.775,0.373

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.707,0.235,-0.385,0.911,0.974,-0.406,0.927,0.867,0.364,114.317,0.313

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.874,0.239,-0.264,0.904,0.959,-0.520,0.583,0.604,0.382,72.258,0.196

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.774,0.205,-0.346,0.830,0.923,-0.466,0.500,0.506,0.405,58.865,0.165

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.722,0.192,-0.403,0.949,0.950,-0.437,0.495,0.438,0.410,59.543,0.160

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.718,0.195,-0.414,0.936,0.941,-0.447,0.536,0.370,0.394,64.284,0.174

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.713,0.197,-0.434,0.897,1.060,-0.450,0.517,0.373,0.389,59.766,0.158

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.705,0.198,-0.452,0.901,1.045,-0.454,0.484,0.395,0.382,54.915,0.146

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.716,0.200,-0.476,0.903,1.023,-0.456,0.456,0.364,0.356,50.860,0.138

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.724,0.200,-0.523,0.907,0.965,-0.463,0.365,0.307,0.306,40.075,0.123

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.735,0.202,-0.544,0.908,0.943,-0.462,0.294,0.259,0.273,32.497,0.120

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.736,0.202,-0.542,0.909,0.942,-0.463,0.251,0.234,0.258,27.562,0.118

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.738,0.203,-0.536,0.907,0.942,-0.461,0.209,0.209,0.251,23.006,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.739,0.203,-0.530,0.907,0.943,-0.463,0.166,0.182,0.248,18.709,0.123

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.740,0.204,-0.526,0.907,0.943,-0.462,0.117,0.148,0.252,13.943,0.131

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.739,0.203,-0.527,0.908,0.943,-0.464,0.075,0.115,0.262,15.975,0.141

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.739,0.204,-0.529,0.908,0.943,-0.463,0.053,0.094,0.268,19.225,0.148

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.739,0.203,-0.530,0.909,0.943,-0.464,0.042,0.081,0.270,20.822,0.153

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.739,0.203,-0.530,0.909,0.943,-0.464,0.028,0.063,0.269,22.730,0.159

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.739,0.203,-0.529,0.909,0.943,-0.464,0.019,0.048,0.267,24.061,0.164

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.739,0.203,-0.529,0.909,0.943,-0.464,0.013,0.038,0.266,24.862,0.167

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.739,0.203,-0.529,0.909,0.943,-0.464,0.009,0.031,0.266,25.397,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.739,0.203,-0.529,0.909,0.943,-0.464,0.006,0.024,0.266,25.880,0.172

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.739,0.203,-0.529,0.909,0.943,-0.464,0.005,0.022,0.266,26.060,0.173

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.739,0.203,-0.529,0.909,0.943,-0.464,0.003,0.017,0.267,26.394,0.174

Optimization done, time elapsed: 0:54:12

      c_0: array([0.9574156 , 0.46362546, 0.09656829, 0.90568113, 0.85587592,
       0.25185307, 0.57275619, 0.11020346, 0.57976436])
      dgp: 'bigbatch'
    dgp_i: 8
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 3251.8602108955383
      fun: 3448.911680430844
 hess_inv: array([[ 6.59011390e-03,  1.24988286e-03,  3.77339320e-03,
        -1.10242679e-03,  1.45823401e-04, -2.71837554e-03,
         1.24033388e-02,  7.06942836e-03, -5.09823572e-04],
       [ 1.24988286e-03,  2.84344142e-03,  1.29608837e-03,
        -1.93040728e-04,  1.57293097e-04,  2.83946143e-04,
         3.43358298e-03,  3.04723634e-03, -5.48209483e-05],
       [ 3.77339320e-03,  1.29608837e-03,  5.68277683e-03,
        -1.57051936e-03, -8.92200128e-04, -1.85544727e-03,
         8.62455675e-02,  5.40350523e-02, -1.44867917e-06],
       [-1.10242679e-03, -1.93040728e-04, -1.57051936e-03,
         9.40644668e-03, -9.75984922e-04,  1.16669555e-03,
        -6.48053485e-02, -4.04509993e-02, -6.70183806e-05],
       [ 1.45823401e-04,  1.57293097e-04, -8.92200128e-04,
        -9.75984922e-04,  9.99476216e-03,  8.68947710e-05,
        -2.84992637e-02, -1.48965990e-02,  7.45035505e-04],
       [-2.71837554e-03,  2.83946143e-04, -1.85544727e-03,
         1.16669555e-03,  8.68947710e-05,  2.46114062e-03,
         3.59587002e-02,  2.13057597e-02,  9.23564456e-06],
       [ 1.24033388e-02,  3.43358298e-03,  8.62455675e-02,
        -6.48053485e-02, -2.84992637e-02,  3.59587002e-02,
         4.84617294e+02,  2.97459350e+02, -9.65316669e-01],
       [ 7.06942836e-03,  3.04723634e-03,  5.40350523e-02,
        -4.04509993e-02, -1.48965990e-02,  2.13057597e-02,
         2.97459350e+02,  1.82810399e+02, -5.84097146e-01],
       [-5.09823572e-04, -5.48209483e-05, -1.44867917e-06,
        -6.70183806e-05,  7.45035505e-04,  9.23564456e-06,
        -9.65316669e-01, -5.84097146e-01,  1.43122690e-02]])
      jac: array([-0.00134277,  0.01004028, -0.01675415,  0.00204468, -0.00323486,
       -0.02355957,  0.00180054, -0.00250244,  0.03341675])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 1365
      nit: 27
     njev: 123
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 0.7387585 ,  0.20345053, -0.52900773,  0.90899448,  0.94266043,
       -0.46379102,  0.00343199,  0.01697814,  0.26660886])

Saving run 9 of 250

Fitting model 10 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.984,0.457,-0.226,0.239,0.289,0.206,1.219,1.923,1.206,253.493,0.814

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.807,0.339,-0.381,0.448,0.413,-0.349,1.230,1.808,0.786,204.778,0.667

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.683,0.364,-0.190,0.678,0.609,-0.407,1.047,1.487,0.332,158.258,0.507

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.694,0.479,-0.277,0.957,0.917,-0.410,0.774,1.044,0.331,117.036,0.323

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.649,0.365,-0.264,1.122,1.121,-0.386,0.646,0.830,0.342,94.086,0.255

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.544,0.300,-0.359,0.946,1.162,-0.384,0.543,0.643,0.334,72.179,0.194

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.559,0.274,-0.351,0.977,0.989,-0.410,0.520,0.539,0.333,66.001,0.182

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.564,0.277,-0.374,0.982,0.987,-0.389,0.587,0.469,0.330,73.282,0.198

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.725,0.281,-0.276,0.898,1.053,-0.483,0.650,0.392,0.330,78.417,0.207

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.740,0.257,-0.329,0.912,1.061,-0.481,0.545,0.441,0.322,62.796,0.165

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.774,0.225,-0.446,0.974,1.091,-0.451,0.527,0.421,0.288,55.894,0.150

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.820,0.206,-0.521,0.968,1.079,-0.431,0.422,0.382,0.246,42.250,0.119

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.805,0.192,-0.559,1.019,1.104,-0.444,0.418,0.372,0.238,43.314,0.124

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.808,0.200,-0.540,0.994,1.095,-0.441,0.393,0.357,0.233,40.001,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.807,0.202,-0.530,0.986,1.090,-0.438,0.363,0.335,0.224,37.538,0.110

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.807,0.202,-0.530,0.988,1.089,-0.439,0.349,0.320,0.220,36.392,0.109

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.806,0.201,-0.531,0.989,1.090,-0.439,0.342,0.311,0.218,35.916,0.110

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.806,0.201,-0.532,0.990,1.090,-0.439,0.337,0.302,0.218,35.533,0.110

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.805,0.201,-0.532,0.990,1.090,-0.438,0.330,0.288,0.219,35.088,0.112

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.805,0.201,-0.532,0.990,1.090,-0.438,0.328,0.280,0.221,34.906,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.805,0.201,-0.532,0.990,1.089,-0.438,0.328,0.279,0.221,34.946,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.805,0.201,-0.532,0.989,1.089,-0.438,0.329,0.279,0.221,34.998,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.805,0.201,-0.532,0.989,1.089,-0.438,0.329,0.280,0.221,35.039,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.805,0.201,-0.532,0.989,1.089,-0.438,0.329,0.280,0.221,35.065,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.805,0.201,-0.532,0.989,1.089,-0.438,0.330,0.279,0.221,35.096,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.805,0.201,-0.532,0.989,1.089,-0.438,0.330,0.279,0.221,35.102,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.805,0.201,-0.532,0.989,1.089,-0.438,0.330,0.279,0.221,35.099,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.805,0.201,-0.532,0.989,1.089,-0.438,0.330,0.279,0.221,35.099,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.805,0.201,-0.532,0.989,1.089,-0.438,0.330,0.279,0.221,35.099,0.113

Optimization done, time elapsed: 0:48:13

      c_0: array([0.44788003, 0.88978277, 0.32821102, 0.12119538, 0.22170263,
       0.32667801, 0.19238079, 0.68187378, 0.64049323])
      dgp: 'bigbatch'
    dgp_i: 9
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 2893.4979174137115
      fun: 3431.2276739244535
 hess_inv: array([[ 4.56073694e-03,  4.26429715e-04,  2.11379747e-03,
        -1.45790865e-03,  1.43872987e-03, -1.98758164e-03,
         9.17572926e-04, -7.62112774e-03,  4.97725134e-04],
       [ 4.26429715e-04,  2.61559063e-03,  5.91618351e-04,
        -4.63310344e-04,  5.45507056e-04,  5.74665874e-04,
        -2.88143937e-03, -5.29649994e-04, -1.72068344e-04],
       [ 2.11379747e-03,  5.91618351e-04,  4.80517170e-03,
        -2.12838667e-03,  6.26714501e-04, -1.14669761e-03,
        -4.45829501e-03, -2.11211155e-03,  4.58290758e-04],
       [-1.45790865e-03, -4.63310344e-04, -2.12838667e-03,
         9.92493872e-03, -9.98916017e-04,  1.53608668e-03,
         2.43184177e-02, -3.30444518e-02, -7.55063393e-04],
       [ 1.43872987e-03,  5.45507056e-04,  6.26714501e-04,
        -9.98916017e-04,  8.76135809e-03, -4.61899970e-04,
         1.38882983e-02, -2.16573599e-02, -4.46621471e-03],
       [-1.98758164e-03,  5.74665874e-04, -1.14669761e-03,
         1.53608668e-03, -4.61899970e-04,  2.09338649e-03,
         2.38569006e-03, -6.80469298e-04, -1.49640207e-03],
       [ 9.17572926e-04, -2.88143937e-03, -4.45829501e-03,
         2.43184177e-02,  1.38882983e-02,  2.38569006e-03,
         4.14092297e-01, -5.56359616e-01,  3.50954962e-02],
       [-7.62112774e-03, -5.29649994e-04, -2.11211155e-03,
        -3.30444518e-02, -2.16573599e-02, -6.80469298e-04,
        -5.56359616e-01,  8.34063498e-01, -7.52873361e-02],
       [ 4.97725134e-04, -1.72068344e-04,  4.58290758e-04,
        -7.55063393e-04, -4.46621471e-03, -1.49640207e-03,
         3.50954962e-02, -7.52873361e-02,  2.28489542e-02]])
      jac: array([ 3.05175781e-04, -6.10351562e-05,  2.13623047e-04,  4.88281250e-04,
        3.05175781e-04,  2.13623047e-04,  1.52587891e-04,  9.15527344e-05,
        3.05175781e-04])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 1178
      nit: 29
     njev: 106
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 0.80513083,  0.20096443, -0.53160397,  0.98941116,  1.08944112,
       -0.43824296,  0.32957696,  0.27902104,  0.22142253])

Saving run 10 of 250

Fitting model 11 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,1.000,0.355,-0.391,0.536,0.143,0.031,1.196,1.659,1.070,223.766,0.717

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.853,0.334,-0.524,0.594,0.317,-0.443,1.126,1.738,0.714,183.796,0.627

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.896,0.003,-0.481,0.664,0.545,-0.553,1.025,1.736,0.393,158.977,0.560

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.907,0.249,-0.356,0.716,0.806,-0.459,0.886,1.507,0.272,124.211,0.446

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,1.044,0.233,-0.240,0.703,1.446,-0.612,0.574,0.719,0.275,78.109,0.252

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.917,0.202,-0.337,0.629,1.477,-0.548,0.496,0.632,0.269,61.335,0.219

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.844,0.183,-0.387,0.737,1.265,-0.538,0.367,0.518,0.255,38.931,0.126

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.897,0.176,-0.333,0.659,1.206,-0.560,0.231,0.616,0.268,29.737,0.126

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.894,0.158,-0.337,0.730,1.230,-0.539,0.173,0.710,0.287,25.902,0.122

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.870,0.159,-0.348,0.681,1.243,-0.531,0.140,0.894,0.304,27.026,0.170

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.857,0.157,-0.354,0.683,1.223,-0.519,0.148,0.802,0.299,24.979,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.864,0.158,-0.348,0.698,1.220,-0.524,0.146,0.780,0.299,24.295,0.136

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.862,0.159,-0.349,0.695,1.218,-0.522,0.142,0.779,0.300,23.793,0.136

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.860,0.159,-0.350,0.693,1.218,-0.521,0.132,0.777,0.301,22.612,0.136

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.858,0.160,-0.350,0.692,1.218,-0.520,0.112,0.775,0.303,20.366,0.135

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.858,0.160,-0.350,0.691,1.218,-0.520,0.082,0.772,0.305,21.038,0.135

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.858,0.161,-0.349,0.690,1.219,-0.520,0.048,0.770,0.306,24.910,0.136

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.859,0.161,-0.348,0.691,1.220,-0.521,0.018,0.771,0.305,28.219,0.137

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.861,0.160,-0.349,0.693,1.221,-0.522,0.008,0.774,0.303,29.360,0.138

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.861,0.159,-0.349,0.694,1.220,-0.522,0.004,0.777,0.300,29.800,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.861,0.159,-0.349,0.695,1.220,-0.523,0.003,0.778,0.300,29.953,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.861,0.159,-0.349,0.695,1.220,-0.523,0.001,0.778,0.300,30.081,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.861,0.159,-0.349,0.694,1.220,-0.522,0.001,0.778,0.300,30.155,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.192,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.301,30.224,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.301,30.224,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.229,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.776,0.301,30.225,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.776,0.301,30.223,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.776,0.301,30.230,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.301,30.243,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.249,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.249,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.248,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.245,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.243,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.243,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.243,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.243,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.243,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.243,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.243,0.139

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.861,0.159,-0.349,0.694,1.220,-0.522,0.000,0.777,0.300,30.243,0.139

Optimization done, time elapsed: 0:32:10

      c_0: array([0.53352248, 0.24017422, 0.35879868, 0.51650897, 0.02000488,
       0.28712409, 0.24196675, 0.47699303, 0.44430379])
      dgp: 'bigbatch'
    dgp_i: 10
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 1930.4364593029022
      fun: 3458.8582932338422
 hess_inv: array([[ 0.00317612,  0.00112652,  0.00300271, -0.00614037,  0.00111895,
        -0.00128355, -0.00169748, -0.00385594,  0.00105381],
       [ 0.00112652,  0.00187159,  0.0016017 , -0.00241674,  0.00033006,
        -0.0002372 , -0.00103696, -0.00475982,  0.00142365],
       [ 0.00300271,  0.0016017 ,  0.00981887, -0.01603433,  0.0030528 ,
        -0.00220534,  0.0065698 , -0.01653034,  0.00825659],
       [-0.00614037, -0.00241674, -0.01603433,  0.03955   , -0.00695848,
         0.00499724, -0.01956803,  0.03347419, -0.02193252],
       [ 0.00111895,  0.00033006,  0.0030528 , -0.00695848,  0.00567668,
        -0.00075962,  0.00052082, -0.01080549,  0.00250148],
       [-0.00128355, -0.0002372 , -0.00220534,  0.00499724, -0.00075962,
         0.0015768 , -0.00202509,  0.00174615, -0.00154894],
       [-0.00169748, -0.00103696,  0.0065698 , -0.01956803,  0.00052082,
        -0.00202509,  0.03820452, -0.02928415,  0.0278465 ],
       [-0.00385594, -0.00475982, -0.01653034,  0.03347419, -0.01080549,
         0.00174615, -0.02928415,  0.06305347, -0.03322089],
       [ 0.00105381,  0.00142365,  0.00825659, -0.02193252,  0.00250148,
        -0.00154894,  0.0278465 , -0.03322089,  0.02486698]])
      jac: array([2.44140625e-04, 2.44140625e-04, 6.10351562e-05, 3.05175781e-04,
       3.05175781e-05, 0.00000000e+00, 0.00000000e+00, 1.22070312e-04,
       1.22070312e-04])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 782
      nit: 43
     njev: 71
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 8.61162716e-01,  1.58920707e-01, -3.49076289e-01,  6.94110306e-01,
        1.21982451e+00, -5.22359497e-01,  5.44761456e-06,  7.76946590e-01,
        3.00486889e-01])

Saving run 11 of 250

Fitting model 12 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.722,0.401,-0.591,0.555,0.592,0.125,2.157,1.934,0.986,330.586,0.922

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.639,0.334,-0.673,0.608,0.672,-0.335,1.842,1.776,0.725,268.114,0.764

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.787,-0.191,-0.499,0.813,0.941,-0.590,1.171,1.328,0.230,164.889,0.475

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.843,0.291,-0.362,1.014,1.211,-0.568,0.750,0.951,0.101,101.592,0.280

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.655,0.278,-0.503,0.881,1.292,-0.428,0.520,0.737,0.097,68.932,0.190

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.838,0.228,-0.322,1.076,1.115,-0.475,0.250,0.417,0.135,32.483,0.110

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.875,0.236,-0.286,1.001,1.084,-0.495,0.241,0.401,0.136,32.244,0.108

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.889,0.222,-0.287,0.972,1.172,-0.510,0.249,0.372,0.142,33.266,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.871,0.209,-0.317,0.967,1.159,-0.510,0.260,0.345,0.144,33.138,0.109

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.855,0.210,-0.361,0.950,1.173,-0.492,0.239,0.416,0.147,27.797,0.086

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.803,0.188,-0.471,0.923,1.164,-0.479,0.215,0.432,0.170,20.644,0.058

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.794,0.192,-0.495,0.919,1.171,-0.472,0.195,0.451,0.191,16.502,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.788,0.203,-0.503,0.922,1.174,-0.468,0.184,0.415,0.221,14.625,0.050

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.791,0.210,-0.488,0.926,1.174,-0.467,0.183,0.422,0.217,15.238,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.793,0.209,-0.479,0.926,1.173,-0.470,0.179,0.419,0.220,14.762,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.793,0.210,-0.480,0.927,1.173,-0.469,0.182,0.411,0.218,15.323,0.051

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.793,0.210,-0.480,0.927,1.173,-0.469,0.181,0.414,0.219,15.106,0.050

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.793,0.210,-0.480,0.927,1.173,-0.469,0.180,0.414,0.219,15.001,0.050

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.793,0.210,-0.480,0.927,1.173,-0.469,0.178,0.414,0.219,14.828,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.793,0.210,-0.480,0.927,1.173,-0.469,0.175,0.414,0.219,14.507,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.793,0.210,-0.480,0.927,1.173,-0.469,0.172,0.413,0.219,14.118,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.793,0.210,-0.480,0.927,1.173,-0.469,0.171,0.413,0.219,14.083,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.793,0.210,-0.480,0.927,1.173,-0.469,0.171,0.413,0.219,14.098,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.793,0.210,-0.480,0.927,1.173,-0.469,0.171,0.413,0.219,14.104,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.793,0.210,-0.480,0.927,1.173,-0.469,0.171,0.413,0.219,14.104,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.793,0.210,-0.480,0.927,1.173,-0.469,0.171,0.413,0.219,14.104,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.793,0.210,-0.480,0.927,1.173,-0.469,0.171,0.413,0.219,14.104,0.049

Optimization done, time elapsed: 0:19:56

      c_0: array([0.17494027, 0.41809376, 0.13368383, 0.53145561, 0.5430678 ,
       0.4310106 , 0.91572726, 0.73632889, 0.25015582])
      dgp: 'bigbatch'
    dgp_i: 11
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 1195.6115455627441
      fun: 3429.2589739264076
 hess_inv: array([[ 7.25159163e-03,  1.70420386e-03,  4.66084054e-03,
         1.01144704e-03,  1.43324296e-03, -2.71264062e-03,
         1.01955377e-02,  3.05341167e-02,  1.47955586e-02],
       [ 1.70420386e-03,  3.24376828e-03,  1.55332493e-03,
         7.25608822e-04,  6.83887757e-04,  3.09017699e-04,
         2.19764562e-03,  8.45380446e-03,  5.63278418e-03],
       [ 4.66084054e-03,  1.55332493e-03,  6.75280889e-03,
        -3.74928798e-04, -2.93815348e-04, -1.98550613e-03,
         1.47080170e-04,  5.94622978e-03,  4.07710732e-03],
       [ 1.01144704e-03,  7.25608822e-04, -3.74928798e-04,
         1.14934992e-02,  1.17526965e-03,  6.10543926e-04,
        -1.46427485e-03,  3.54610857e-02,  1.98654358e-02],
       [ 1.43324296e-03,  6.83887757e-04, -2.93815348e-04,
         1.17526965e-03,  1.09890022e-02, -6.00274516e-05,
         1.67810911e-03,  1.60544937e-02,  8.22873149e-03],
       [-2.71264062e-03,  3.09017699e-04, -1.98550613e-03,
         6.10543926e-04, -6.00274516e-05,  2.13695223e-03,
        -2.86880463e-03, -6.79697017e-03, -3.81831893e-03],
       [ 1.01955377e-02,  2.19764562e-03,  1.47080170e-04,
        -1.46427485e-03,  1.67810911e-03, -2.86880463e-03,
         7.05433100e-02,  1.11120738e-01, -1.92733571e-02],
       [ 3.05341167e-02,  8.45380446e-03,  5.94622978e-03,
         3.54610857e-02,  1.60544937e-02, -6.79697017e-03,
         1.11120738e-01,  3.24354154e-01,  6.76265956e-02],
       [ 1.47955586e-02,  5.63278418e-03,  4.07710732e-03,
         1.98654358e-02,  8.22873149e-03, -3.81831893e-03,
        -1.92733571e-02,  6.76265956e-02,  1.06518325e-01]])
      jac: array([9.15527344e-05, 6.10351562e-05, 1.22070312e-04, 2.13623047e-04,
       6.10351562e-05, 6.10351562e-05, 3.05175781e-05, 3.05175781e-05,
       1.22070312e-04])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 452
      nit: 27
     njev: 41
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 0.79307767,  0.20985704, -0.47981208,  0.92673632,  1.17334536,
       -0.46931318,  0.17134576,  0.41288574,  0.21859214])

Saving run 12 of 250

Fitting model 13 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.630,0.337,-0.376,0.238,0.688,0.478,1.370,1.071,1.354,249.695,0.729

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.511,0.218,-0.522,0.404,0.782,-0.106,1.276,1.039,0.951,197.385,0.553

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.473,0.152,-0.569,0.557,0.858,-0.499,1.160,0.997,0.531,156.703,0.440

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.519,-0.018,-0.555,0.655,0.911,-0.510,1.086,0.966,0.502,153.486,0.405

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.561,0.034,-0.522,0.972,1.066,-0.507,0.836,0.845,0.508,115.369,0.302

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.425,-0.004,-0.636,0.919,1.005,-0.450,0.556,0.665,0.495,87.138,0.238

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.526,0.003,-0.560,0.851,0.944,-0.527,0.494,0.589,0.502,75.837,0.203

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.541,0.011,-0.563,0.832,0.990,-0.526,0.506,0.533,0.489,74.478,0.196

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.552,0.020,-0.583,0.907,0.904,-0.513,0.535,0.460,0.462,76.307,0.204

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.611,0.055,-0.583,0.903,0.915,-0.509,0.406,0.705,0.421,60.825,0.171

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.689,0.104,-0.623,0.914,0.954,-0.476,0.390,0.440,0.347,49.648,0.132

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.723,0.123,-0.653,0.948,1.012,-0.512,0.330,0.411,0.287,39.640,0.109

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.730,0.129,-0.655,0.910,0.991,-0.476,0.302,0.405,0.270,35.551,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.723,0.125,-0.646,0.921,0.985,-0.486,0.295,0.405,0.272,34.950,0.102

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.721,0.124,-0.640,0.922,0.985,-0.487,0.281,0.402,0.269,33.234,0.099

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.720,0.125,-0.635,0.921,0.983,-0.487,0.254,0.395,0.266,30.184,0.094

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.719,0.125,-0.634,0.922,0.983,-0.486,0.226,0.390,0.265,27.213,0.090

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.719,0.125,-0.635,0.922,0.982,-0.485,0.187,0.384,0.267,23.063,0.086

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.719,0.124,-0.638,0.924,0.983,-0.485,0.151,0.382,0.270,19.334,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.719,0.124,-0.639,0.924,0.982,-0.486,0.123,0.384,0.272,16.383,0.082

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.719,0.124,-0.640,0.925,0.983,-0.486,0.097,0.389,0.274,14.164,0.081

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.719,0.124,-0.640,0.925,0.983,-0.486,0.060,0.401,0.274,17.990,0.081

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.720,0.124,-0.640,0.927,0.983,-0.486,0.027,0.421,0.273,21.148,0.081

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.720,0.125,-0.639,0.926,0.983,-0.486,0.017,0.426,0.272,22.046,0.081

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.720,0.125,-0.638,0.926,0.984,-0.486,0.011,0.425,0.271,22.683,0.081

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.719,0.125,-0.638,0.925,0.983,-0.486,0.006,0.419,0.270,23.325,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.719,0.125,-0.638,0.925,0.983,-0.486,0.004,0.414,0.270,23.679,0.083

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.719,0.125,-0.638,0.926,0.983,-0.486,0.002,0.409,0.271,24.077,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.719,0.124,-0.639,0.926,0.983,-0.486,0.001,0.407,0.272,24.238,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.719,0.124,-0.639,0.926,0.983,-0.486,0.001,0.409,0.272,24.233,0.085

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.719,0.124,-0.639,0.926,0.983,-0.486,0.000,0.411,0.271,24.192,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.719,0.125,-0.639,0.926,0.983,-0.486,0.000,0.413,0.271,24.180,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.719,0.125,-0.638,0.926,0.983,-0.486,0.000,0.413,0.271,24.191,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.719,0.125,-0.638,0.926,0.983,-0.486,0.000,0.413,0.271,24.193,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.719,0.125,-0.638,0.926,0.983,-0.486,0.000,0.412,0.271,24.202,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.719,0.125,-0.639,0.926,0.983,-0.486,0.000,0.412,0.271,24.224,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.719,0.124,-0.639,0.926,0.983,-0.486,0.000,0.411,0.271,24.239,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.719,0.124,-0.639,0.926,0.983,-0.486,0.000,0.411,0.271,24.239,0.084

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.719,0.124,-0.639,0.926,0.983,-0.486,0.000,0.411,0.271,24.239,0.084

Optimization done, time elapsed: 0:28:51

      c_0: array([0.07395036, 0.29544199, 0.41114362, 0.17929169, 0.65829182,
       0.69335908, 0.35833243, 0.08306894, 0.49278364])
      dgp: 'bigbatch'
    dgp_i: 12
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 1731.3938035964966
      fun: 3421.3694416082285
 hess_inv: array([[ 6.63697049e-03,  1.02237004e-03,  4.04360482e-03,
        -1.06972409e-03, -6.46329053e-05, -2.90868955e-03,
        -7.69858446e-03, -1.35341515e-03, -3.42036460e-04],
       [ 1.02237004e-03,  2.86273492e-03,  1.37434265e-03,
        -2.95223075e-04,  1.28393876e-05,  2.80273474e-04,
        -9.79107438e-03, -2.15647943e-05, -6.78493690e-04],
       [ 4.04360482e-03,  1.37434265e-03,  8.35379011e-03,
        -2.27612251e-03, -2.82611817e-04, -1.89557726e-03,
         2.23969619e-02, -6.03099607e-03, -4.46985204e-03],
       [-1.06972409e-03, -2.95223075e-04, -2.27612251e-03,
         8.95581223e-03, -7.82579268e-04,  1.24665959e-03,
        -2.66349363e-02, -5.12603401e-03,  2.00210546e-03],
       [-6.46329053e-05,  1.28393876e-05, -2.82611817e-04,
        -7.82579268e-04,  1.16213438e-02,  2.33936530e-04,
        -3.41278948e-02,  8.99602600e-04, -2.24979448e-04],
       [-2.90868955e-03,  2.80273474e-04, -1.89557726e-03,
         1.24665959e-03,  2.33936530e-04,  2.43124530e-03,
        -5.15881215e-03,  1.33918376e-04, -1.30798407e-04],
       [-7.69858446e-03, -9.79107438e-03,  2.23969619e-02,
        -2.66349363e-02, -3.41278948e-02, -5.15881215e-03,
         3.87408562e-01, -6.81079533e-03, -5.03306127e-02],
       [-1.35341515e-03, -2.15647943e-05, -6.03099607e-03,
        -5.12603401e-03,  8.99602600e-04,  1.33918376e-04,
        -6.81079533e-03,  1.09873303e-02,  1.41528160e-03],
       [-3.42036460e-04, -6.78493690e-04, -4.46985204e-03,
         2.00210546e-03, -2.24979448e-04, -1.30798407e-04,
        -5.03306127e-02,  1.41528160e-03,  2.93389366e-02]])
      jac: array([-1.19018555e-03, -6.10351562e-05,  2.04467773e-03,  3.66210938e-04,
        3.35693359e-04,  9.15527344e-05,  3.05175781e-05,  9.15527344e-05,
       -6.40869141e-04])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 639
      nit: 39
     njev: 58
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 7.19404852e-01,  1.24497533e-01, -6.38595509e-01,  9.25613185e-01,
        9.83222121e-01, -4.85697451e-01,  5.49785276e-06,  4.11312873e-01,
        2.71389496e-01])

Saving run 13 of 250

Fitting model 14 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,1.039,0.537,-0.302,0.622,0.994,-0.252,1.138,2.245,1.115,228.985,0.762

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.893,0.177,-0.505,0.726,1.021,-0.719,1.050,1.918,0.612,163.612,0.590

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.974,0.200,-0.660,0.777,1.040,-0.643,0.968,1.696,0.525,146.530,0.511

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.908,0.289,-0.710,0.835,1.067,-0.643,0.889,1.499,0.506,136.647,0.444

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.828,0.245,-0.742,0.926,1.116,-0.594,0.776,1.236,0.522,114.396,0.356

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.919,0.250,-0.642,0.803,1.182,-0.656,0.638,1.090,0.516,97.766,0.295

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.902,0.234,-0.648,0.841,1.125,-0.648,0.520,1.169,0.497,83.365,0.288

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.820,0.202,-0.705,0.800,1.230,-0.601,0.508,1.110,0.462,78.047,0.271

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.866,0.188,-0.642,0.977,1.293,-0.614,0.546,0.906,0.411,75.885,0.229

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.810,0.137,-0.619,0.901,0.793,-0.580,0.633,0.544,0.356,76.057,0.215

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.797,0.142,-0.616,0.906,0.832,-0.562,0.589,0.552,0.346,69.716,0.195

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.776,0.151,-0.608,0.909,0.927,-0.545,0.538,0.563,0.316,61.369,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.738,0.181,-0.580,0.917,1.087,-0.487,0.408,0.573,0.244,40.424,0.111

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.732,0.182,-0.579,0.913,1.133,-0.505,0.340,0.615,0.216,35.082,0.097

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.735,0.184,-0.580,0.910,1.123,-0.492,0.284,0.652,0.189,30.623,0.090

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.737,0.182,-0.578,0.910,1.102,-0.496,0.251,0.681,0.175,28.042,0.089

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.738,0.181,-0.578,0.907,1.097,-0.497,0.240,0.686,0.169,27.128,0.089

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.738,0.181,-0.578,0.908,1.097,-0.497,0.236,0.683,0.166,26.759,0.088

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.738,0.181,-0.578,0.908,1.098,-0.497,0.235,0.679,0.164,26.611,0.087

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.738,0.181,-0.578,0.908,1.098,-0.496,0.235,0.678,0.164,26.630,0.087

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.738,0.181,-0.578,0.908,1.098,-0.496,0.236,0.677,0.164,26.669,0.087

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.738,0.181,-0.578,0.908,1.098,-0.496,0.237,0.677,0.165,26.736,0.087

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.738,0.181,-0.578,0.908,1.098,-0.496,0.238,0.676,0.165,26.859,0.087

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.738,0.181,-0.578,0.908,1.098,-0.497,0.240,0.676,0.165,27.066,0.087

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.738,0.181,-0.578,0.908,1.098,-0.496,0.240,0.677,0.164,27.168,0.087

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.738,0.181,-0.578,0.908,1.098,-0.496,0.240,0.677,0.164,27.180,0.087

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.738,0.181,-0.578,0.908,1.098,-0.496,0.240,0.677,0.164,27.162,0.087

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.738,0.181,-0.578,0.908,1.098,-0.496,0.240,0.677,0.164,27.162,0.087

Optimization done, time elapsed: 0:30:17

      c_0: array([0.9275463 , 0.77536844, 0.33588286, 0.54946583, 0.98204495,
       0.46750524, 0.19768127, 0.93234759, 0.07467026])
      dgp: 'bigbatch'
    dgp_i: 13
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 1816.7757196426392
      fun: 3414.2722509676914
 hess_inv: array([[ 7.39027461e-03,  1.36346807e-03,  4.37099862e-03,
        -8.40978267e-04,  8.21019901e-04, -3.08484771e-03,
        -1.32024611e-03,  8.98687142e-04,  9.27025948e-04],
       [ 1.36346807e-03,  2.93816694e-03,  1.29234006e-03,
         5.92849459e-05,  7.40191722e-05,  2.40606409e-04,
         3.49197845e-03,  7.48210640e-04,  3.73875885e-04],
       [ 4.37099862e-03,  1.29234006e-03,  7.64410660e-03,
        -1.56747471e-03, -5.59378776e-04, -2.03416723e-03,
        -2.42573966e-04,  3.60601482e-05, -2.12906544e-04],
       [-8.40978267e-04,  5.92849459e-05, -1.56747471e-03,
         9.69223895e-03, -1.08188088e-03,  9.80821468e-04,
         2.57251719e-03,  1.69351886e-03,  2.22432757e-03],
       [ 8.21019901e-04,  7.40191722e-05, -5.59378776e-04,
        -1.08188088e-03,  1.06774676e-02, -3.50607813e-04,
        -1.31809411e-02, -5.30966738e-04,  3.28424259e-03],
       [-3.08484771e-03,  2.40606409e-04, -2.03416723e-03,
         9.80821468e-04, -3.50607813e-04,  2.39292763e-03,
        -1.12301979e-03, -6.02059326e-04, -8.86037098e-04],
       [-1.32024611e-03,  3.49197845e-03, -2.42573966e-04,
         2.57251719e-03, -1.31809411e-02, -1.12301979e-03,
         4.01114832e-01, -1.29623905e-01,  1.01703748e-01],
       [ 8.98687142e-04,  7.48210640e-04,  3.60601482e-05,
         1.69351886e-03, -5.30966738e-04, -6.02059326e-04,
        -1.29623905e-01,  6.92537225e-02,  4.30211560e-03],
       [ 9.27025948e-04,  3.73875885e-04, -2.12906544e-04,
         2.22432757e-03,  3.28424259e-03, -8.86037098e-04,
         1.01703748e-01,  4.30211560e-03,  1.11777869e-01]])
      jac: array([-3.05175781e-05, -3.05175781e-04, -6.10351562e-05, -1.83105469e-04,
       -3.05175781e-05,  1.52587891e-04,  3.05175781e-05,  6.10351562e-05,
       -6.10351562e-05])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 714
      nit: 28
     njev: 64
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 0.73816624,  0.18129545, -0.57834332,  0.90780236,  1.09785774,
       -0.49648819,  0.240181  ,  0.67731455,  0.16424757])

Saving run 14 of 250

Fitting model 15 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.858,0.709,0.128,0.821,0.296,0.145,1.245,1.206,1.036,244.298,0.679

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.733,0.424,0.033,0.836,0.423,-0.235,1.145,1.220,0.799,195.237,0.556

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.648,0.538,-0.040,0.830,0.548,-0.344,1.013,1.159,0.525,169.286,0.474

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.645,0.437,-0.003,0.822,0.668,-0.239,0.897,1.082,0.391,145.297,0.419

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.683,0.425,-0.007,0.794,1.094,-0.273,0.506,0.601,0.405,85.779,0.252

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.586,0.333,-0.111,0.749,0.817,-0.273,0.386,0.363,0.380,69.435,0.233

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.614,0.310,-0.104,0.937,0.782,-0.304,0.406,0.291,0.363,69.227,0.234

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.596,0.278,-0.139,0.921,0.843,-0.314,0.482,0.234,0.350,74.999,0.237

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.874,0.284,0.047,0.751,0.811,-0.491,0.479,0.211,0.320,74.488,0.269

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.878,0.259,-0.081,0.775,0.876,-0.484,0.373,0.236,0.319,57.102,0.211

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.754,0.169,-0.434,0.850,1.119,-0.419,0.312,0.186,0.283,38.390,0.134

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.760,0.178,-0.473,0.852,1.110,-0.410,0.261,0.225,0.277,30.303,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.758,0.180,-0.485,0.856,1.110,-0.411,0.219,0.277,0.271,23.821,0.092

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.761,0.182,-0.489,0.862,1.110,-0.409,0.152,0.459,0.263,11.587,0.043

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.759,0.176,-0.480,0.862,1.114,-0.412,0.153,0.427,0.261,12.893,0.048

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.759,0.174,-0.471,0.861,1.114,-0.413,0.140,0.453,0.259,11.058,0.043

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.759,0.176,-0.470,0.860,1.113,-0.412,0.139,0.440,0.260,11.258,0.045

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.759,0.177,-0.469,0.860,1.112,-0.411,0.132,0.429,0.260,10.674,0.046

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.759,0.179,-0.469,0.860,1.110,-0.410,0.116,0.418,0.260,9.082,0.047

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.759,0.180,-0.469,0.860,1.109,-0.410,0.087,0.406,0.260,9.009,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.760,0.179,-0.470,0.860,1.110,-0.410,0.055,0.403,0.261,12.592,0.052

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.760,0.178,-0.470,0.861,1.111,-0.411,0.031,0.411,0.261,15.157,0.053

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.760,0.177,-0.471,0.861,1.112,-0.411,0.016,0.424,0.262,16.587,0.053

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.760,0.177,-0.471,0.861,1.113,-0.412,0.009,0.430,0.262,17.253,0.053

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.760,0.176,-0.471,0.861,1.113,-0.412,0.006,0.431,0.262,17.686,0.054

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.760,0.177,-0.471,0.861,1.113,-0.412,0.003,0.428,0.262,18.044,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.760,0.177,-0.471,0.861,1.113,-0.411,0.001,0.425,0.262,18.239,0.056

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.760,0.177,-0.471,0.861,1.112,-0.411,0.001,0.424,0.262,18.298,0.056

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.760,0.177,-0.471,0.861,1.112,-0.411,0.000,0.424,0.262,18.331,0.056

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.759,0.177,-0.471,0.861,1.112,-0.411,0.000,0.424,0.262,18.351,0.056

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.760,0.177,-0.471,0.861,1.112,-0.411,0.000,0.425,0.262,18.352,0.056

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.760,0.177,-0.471,0.861,1.112,-0.411,0.000,0.425,0.262,18.353,0.056

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.760,0.177,-0.471,0.861,1.112,-0.411,0.000,0.425,0.262,18.353,0.056

Optimization done, time elapsed: 0:24:18

      c_0: array([0.27726145, 0.94278464, 0.87903047, 0.82927794, 0.23048397,
       0.28880628, 0.2539832 , 0.16805343, 0.22972435])
      dgp: 'bigbatch'
    dgp_i: 14
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 1458.4503855705261
      fun: 3477.1368765532075
 hess_inv: array([[ 6.50339539e-03,  1.20818030e-03,  3.96946415e-03,
        -1.03390045e-03,  3.60475044e-04, -2.63522780e-03,
         7.01141708e-03,  2.73274706e-03, -1.54947021e-04],
       [ 1.20818030e-03,  2.74619604e-03,  1.24567801e-03,
        -5.92351922e-05, -2.34200039e-05,  1.24831868e-04,
         1.16380048e-03,  1.38181609e-03, -1.60314937e-03],
       [ 3.96946415e-03,  1.24567801e-03,  6.62057309e-03,
        -1.51259019e-03, -3.34546636e-04, -1.94678386e-03,
        -2.07548200e-03,  1.25497313e-03, -6.48312477e-04],
       [-1.03390045e-03, -5.92351922e-05, -1.51259019e-03,
         8.55568879e-03, -6.71394642e-04,  1.14489366e-03,
        -1.63287352e-02,  1.42645450e-03,  5.83659959e-04],
       [ 3.60475044e-04, -2.34200039e-05, -3.34546636e-04,
        -6.71394642e-04,  9.71693611e-03,  1.19418120e-04,
         8.85031406e-03,  1.95248417e-03,  3.26941349e-03],
       [-2.63522780e-03,  1.24831868e-04, -1.94678386e-03,
         1.14489366e-03,  1.19418120e-04,  2.35906884e-03,
        -5.42815972e-03, -2.39573231e-04, -1.36546644e-03],
       [ 7.01141708e-03,  1.16380048e-03, -2.07548200e-03,
        -1.63287352e-02,  8.85031406e-03, -5.42815972e-03,
         9.22310003e-02,  2.98842786e-02,  3.60390040e-02],
       [ 2.73274706e-03,  1.38181609e-03,  1.25497313e-03,
         1.42645450e-03,  1.95248417e-03, -2.39573231e-04,
         2.98842786e-02,  2.60445970e-01,  2.88703026e-02],
       [-1.54947021e-04, -1.60314937e-03, -6.48312477e-04,
         5.83659959e-04,  3.26941349e-03, -1.36546644e-03,
         3.60390040e-02,  2.88703026e-02,  3.57982641e-02]])
      jac: array([ 1.83105469e-04,  8.36181641e-03, -3.17382812e-03, -1.15966797e-03,
       -3.29589844e-03,  1.03759766e-03,  6.10351562e-05, -5.79833984e-04,
       -8.02612305e-03])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 617
      nit: 33
     njev: 56
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 7.59515940e-01,  1.77118111e-01, -4.70940187e-01,  8.60817731e-01,
        1.11236977e+00, -4.11389374e-01,  1.20835646e-04,  4.24771584e-01,
        2.61841874e-01])

Saving run 15 of 250

Fitting model 16 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,1.038,0.515,-0.147,0.625,0.709,0.346,1.422,2.177,1.330,286.958,0.879

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.806,0.308,-0.416,0.719,0.796,-0.461,1.301,1.777,0.869,203.445,0.633

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.726,0.195,-0.389,0.774,0.868,-0.644,1.219,1.579,0.538,171.957,0.538

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.683,0.028,-0.384,0.886,1.033,-0.588,0.973,1.055,0.538,138.732,0.369

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.639,0.171,-0.443,1.004,1.241,-0.536,0.733,0.642,0.516,93.888,0.248

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.665,0.190,-0.414,0.824,1.141,-0.553,0.661,0.542,0.505,81.473,0.215

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.762,0.208,-0.337,0.858,1.095,-0.605,0.635,0.521,0.503,78.679,0.209

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.780,0.207,-0.345,0.855,1.110,-0.574,0.555,0.527,0.447,66.318,0.176

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.740,0.209,-0.393,0.936,0.985,-0.524,0.635,0.464,0.419,73.605,0.196

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.767,0.210,-0.387,0.909,1.040,-0.522,0.741,0.416,0.398,84.322,0.225

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.782,0.199,-0.411,0.905,1.061,-0.518,0.577,0.440,0.362,62.435,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.838,0.186,-0.439,0.866,1.157,-0.521,0.496,0.382,0.277,51.953,0.142

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.847,0.187,-0.443,0.865,1.163,-0.517,0.434,0.362,0.237,44.812,0.125

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.846,0.189,-0.440,0.863,1.156,-0.517,0.389,0.350,0.213,41.074,0.114

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.846,0.192,-0.434,0.861,1.151,-0.509,0.362,0.347,0.201,38.410,0.108

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.845,0.190,-0.436,0.862,1.151,-0.514,0.351,0.345,0.197,37.522,0.105

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.845,0.191,-0.436,0.861,1.152,-0.513,0.351,0.346,0.198,37.445,0.105

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.845,0.191,-0.436,0.861,1.152,-0.512,0.348,0.347,0.199,37.097,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.846,0.191,-0.436,0.861,1.152,-0.512,0.342,0.349,0.199,36.296,0.102

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.846,0.191,-0.436,0.861,1.151,-0.512,0.331,0.351,0.200,35.108,0.099

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.845,0.191,-0.436,0.861,1.151,-0.513,0.329,0.350,0.200,34.813,0.099

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.845,0.191,-0.436,0.861,1.151,-0.513,0.327,0.349,0.200,34.673,0.099

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.845,0.191,-0.436,0.861,1.151,-0.513,0.326,0.346,0.200,34.645,0.099

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.845,0.191,-0.436,0.861,1.151,-0.513,0.327,0.344,0.200,34.728,0.099

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.845,0.191,-0.436,0.861,1.151,-0.513,0.327,0.344,0.200,34.826,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.845,0.191,-0.436,0.861,1.151,-0.513,0.327,0.344,0.200,34.837,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.841,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.838,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.836,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.845,0.191,-0.436,0.861,1.151,-0.513,0.327,0.344,0.200,34.836,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.837,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.837,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.837,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.837,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.837,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.836,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.836,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.836,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.836,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.836,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.845,0.191,-0.436,0.861,1.151,-0.513,0.328,0.344,0.200,34.836,0.100

Optimization done, time elapsed: 1:05:05

      c_0: array([0.49345091, 0.74148224, 0.57237469, 0.60489754, 0.68099034,
       0.53065573, 0.39287478, 0.86640357, 0.6157581 ])
      dgp: 'bigbatch'
    dgp_i: 15
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 3905.2481441497803
      fun: 3434.81451109273
 hess_inv: array([[ 7.30690544e-03,  1.52165765e-03,  8.78460708e-03,
         1.82598116e-03,  1.21144931e-02, -3.72589683e-04,
        -9.72525605e-03, -1.52857008e-02, -7.53138966e-03],
       [ 1.52165765e-03,  6.79877035e-04,  2.28144406e-03,
         1.93965802e-04,  2.82160464e-03, -3.76722226e-04,
        -1.98125049e-03, -4.44455016e-03, -1.45720639e-03],
       [ 8.78460708e-03,  2.28144406e-03,  1.21240365e-02,
         1.61628720e-03,  1.54688249e-02, -8.97159318e-04,
        -1.09324369e-02, -2.16990019e-02, -8.41358130e-03],
       [ 1.82598116e-03,  1.93965802e-04,  1.61628720e-03,
         2.09324548e-03,  3.89923670e-03,  5.25775405e-04,
        -4.98976673e-03, -2.96821176e-03, -2.96619005e-03],
       [ 1.21144931e-02,  2.82160464e-03,  1.54688249e-02,
         3.89923670e-03,  2.18823083e-02, -6.02927033e-04,
        -1.77015798e-02, -2.78343594e-02, -1.30233991e-02],
       [-3.72589683e-04, -3.76722226e-04, -8.97159318e-04,
         5.25775405e-04, -6.02927033e-04,  4.89390614e-04,
        -2.85060933e-04,  1.95283479e-03,  2.39710702e-06],
       [-9.72525605e-03, -1.98125049e-03, -1.09324369e-02,
        -4.98976673e-03, -1.77015798e-02, -2.85060933e-04,
         1.73786471e-02,  1.94581334e-02,  1.19522374e-02],
       [-1.52857008e-02, -4.44455016e-03, -2.16990019e-02,
        -2.96821176e-03, -2.78343594e-02,  1.95283479e-03,
         1.94581334e-02,  3.99532140e-02,  1.46628229e-02],
       [-7.53138966e-03, -1.45720639e-03, -8.41358130e-03,
        -2.96619005e-03, -1.30233991e-02,  2.39710702e-06,
         1.19522374e-02,  1.46628229e-02,  8.85691974e-03]])
      jac: array([ 3.05175781e-05,  3.35693359e-04, -3.05175781e-05,  9.15527344e-05,
        2.13623047e-04,  1.22070312e-04,  1.83105469e-04,  9.15527344e-05,
       -9.15527344e-05])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 1540
      nit: 41
     njev: 139
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 0.84520391,  0.19072446, -0.43553423,  0.8614291 ,  1.15123971,
       -0.51257932,  0.32750584,  0.34364633,  0.19972551])

Saving run 16 of 250

Fitting model 17 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,1.291,0.596,0.223,0.711,0.704,0.128,1.781,1.260,1.500,324.411,0.848

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.944,0.284,-0.047,0.766,0.861,-0.483,1.468,1.239,0.862,216.802,0.587

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.910,0.375,-0.070,0.784,0.888,-0.556,1.406,1.204,0.735,207.881,0.550

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.948,0.280,0.098,0.861,0.995,-0.437,1.167,1.020,0.455,162.026,0.454

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,1.036,0.266,0.159,0.932,1.080,-0.526,0.953,0.786,0.457,133.075,0.387

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.830,0.256,-0.042,0.793,1.179,-0.374,0.689,0.454,0.469,94.805,0.268

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.722,0.158,-0.150,0.775,0.817,-0.419,0.829,0.249,0.421,111.558,0.308

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.668,0.119,-0.219,0.827,0.945,-0.435,1.076,0.192,0.404,138.632,0.366

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.719,0.111,-0.219,0.666,1.017,-0.515,0.938,0.234,0.392,121.705,0.325

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.653,0.120,-0.360,0.972,1.027,-0.488,0.680,0.344,0.396,85.912,0.221

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.858,0.192,-0.390,0.906,1.191,-0.580,0.643,0.495,0.388,73.101,0.196

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.817,0.156,-0.416,0.914,1.205,-0.570,0.604,0.498,0.384,69.339,0.182

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.815,0.161,-0.413,0.913,1.200,-0.569,0.589,0.499,0.383,67.260,0.177

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.817,0.164,-0.409,0.908,1.195,-0.567,0.560,0.488,0.381,64.046,0.168

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.818,0.163,-0.408,0.908,1.195,-0.568,0.546,0.481,0.381,62.720,0.163

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.819,0.163,-0.408,0.907,1.196,-0.569,0.541,0.477,0.382,62.315,0.162

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.819,0.163,-0.408,0.907,1.197,-0.569,0.540,0.476,0.382,62.326,0.162

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.819,0.163,-0.408,0.907,1.197,-0.569,0.541,0.476,0.382,62.375,0.162

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.819,0.163,-0.408,0.907,1.197,-0.569,0.541,0.476,0.382,62.389,0.162

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.819,0.163,-0.408,0.907,1.197,-0.569,0.541,0.476,0.382,62.389,0.162

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.819,0.163,-0.408,0.907,1.197,-0.569,0.541,0.476,0.382,62.388,0.162

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.819,0.163,-0.408,0.907,1.197,-0.569,0.541,0.476,0.382,62.388,0.162

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.819,0.163,-0.408,0.907,1.197,-0.569,0.541,0.476,0.382,62.388,0.162

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.819,0.163,-0.408,0.907,1.197,-0.569,0.541,0.476,0.382,62.388,0.162

Optimization done, time elapsed: 0:16:55

      c_0: array([0.77901589, 0.79911036, 0.98176298, 0.70438484, 0.65478724,
       0.24175203, 0.64857823, 0.22627575, 0.75301357])
      dgp: 'bigbatch'
    dgp_i: 16
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 1015.4593970775604
      fun: 3401.8912291160864
 hess_inv: array([[ 2.82174487e-03,  6.32989159e-04,  3.99856371e-04,
         1.28085106e-03, -1.44830801e-03, -9.22486675e-04,
         1.61730941e-03,  3.53313222e-03, -8.88486136e-04],
       [ 6.32989159e-04,  2.56654209e-03,  6.62280400e-04,
         5.88046778e-06, -1.75656282e-04,  4.98404729e-04,
         2.93462170e-04,  1.51041783e-03, -2.24327663e-04],
       [ 3.99856371e-04,  6.62280400e-04,  2.96193012e-03,
         7.48404426e-04, -1.87658556e-03, -4.65098954e-05,
         2.17538719e-03,  5.61637504e-03, -6.64082196e-04],
       [ 1.28085106e-03,  5.88046778e-06,  7.48404426e-04,
         9.31395773e-03, -1.34877441e-03, -5.42085300e-04,
        -1.00143608e-02, -7.32407191e-03, -7.81536154e-05],
       [-1.44830801e-03, -1.75656282e-04, -1.87658556e-03,
        -1.34877441e-03,  9.07704162e-03,  7.65461327e-04,
        -2.95654051e-03, -7.40770233e-03, -2.64556591e-04],
       [-9.22486675e-04,  4.98404729e-04, -4.65098954e-05,
        -5.42085300e-04,  7.65461327e-04,  1.91063500e-03,
        -1.88583443e-03, -2.67152498e-03, -2.52374248e-04],
       [ 1.61730941e-03,  2.93462170e-04,  2.17538719e-03,
        -1.00143608e-02, -2.95654051e-03, -1.88583443e-03,
         5.23512339e-02,  3.98922375e-02, -1.37429615e-03],
       [ 3.53313222e-03,  1.51041783e-03,  5.61637504e-03,
        -7.32407191e-03, -7.40770233e-03, -2.67152498e-03,
         3.98922375e-02,  3.90333281e-02, -1.92558728e-03],
       [-8.88486136e-04, -2.24327663e-04, -6.64082196e-04,
        -7.81536154e-05, -2.64556591e-04, -2.52374248e-04,
        -1.37429615e-03, -1.92558728e-03,  1.16666145e-02]])
      jac: array([-6.10351562e-05, -3.05175781e-05,  3.05175781e-05,  0.00000000e+00,
       -3.05175781e-05,  2.13623047e-04,  2.44140625e-04, -1.22070312e-04,
        3.05175781e-05])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 397
      nit: 24
     njev: 36
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 0.81914797,  0.16256006, -0.40779494,  0.90740642,  1.19666637,
       -0.56919499,  0.5408236 ,  0.47598279,  0.38216162])

Saving run 17 of 250

Fitting model 18 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.914,0.574,-0.209,0.634,0.895,0.212,1.608,1.809,1.826,316.720,0.902

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,1.107,0.251,-1.010,0.759,0.986,-1.007,1.171,1.403,0.801,196.083,0.569

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,1.046,0.216,-0.944,0.796,1.021,-1.068,1.100,1.333,0.790,182.490,0.536

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,1.090,0.123,-0.892,0.882,1.109,-1.080,0.914,1.138,0.830,160.621,0.470

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,1.136,0.237,-0.837,0.988,1.240,-1.058,0.682,0.883,0.811,127.194,0.390

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,1.028,0.236,-0.873,0.764,1.203,-0.988,0.522,0.710,0.810,103.449,0.333

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,1.048,0.261,-0.772,0.818,0.879,-0.980,0.460,0.651,0.808,94.945,0.314

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,1.031,0.270,-0.717,0.827,0.907,-0.942,0.439,0.680,0.803,90.877,0.298

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,1.122,0.289,-0.541,0.716,0.990,-0.940,0.552,0.485,0.758,96.609,0.301

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.901,0.247,-0.611,0.893,1.070,-0.691,0.790,0.269,0.683,112.168,0.294

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.908,0.293,-0.468,0.958,1.002,-0.464,0.194,0.680,0.541,37.267,0.134

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,1.042,0.261,-0.295,0.805,1.199,-0.577,0.267,0.392,0.435,44.359,0.150

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,1.056,0.240,-0.322,0.870,1.110,-0.651,0.232,0.536,0.364,34.149,0.131

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,1.021,0.233,-0.413,0.861,1.060,-0.586,0.217,0.599,0.301,27.119,0.102

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,1.003,0.236,-0.405,0.855,1.055,-0.592,0.228,0.562,0.288,27.198,0.098

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,1.013,0.239,-0.394,0.858,1.054,-0.594,0.234,0.575,0.281,28.535,0.103

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,1.016,0.239,-0.392,0.858,1.057,-0.594,0.254,0.573,0.276,30.553,0.107

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,1.020,0.240,-0.389,0.857,1.060,-0.594,0.301,0.575,0.270,35.634,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,1.024,0.239,-0.387,0.855,1.064,-0.594,0.420,0.573,0.262,48.548,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,1.019,0.238,-0.392,0.855,1.061,-0.593,0.393,0.592,0.267,45.977,0.137

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,1.010,0.236,-0.399,0.854,1.060,-0.592,0.415,0.600,0.275,48.537,0.141

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,1.010,0.237,-0.399,0.853,1.059,-0.592,0.424,0.587,0.278,49.400,0.142

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,1.011,0.237,-0.398,0.854,1.059,-0.592,0.426,0.590,0.278,49.791,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,1.011,0.237,-0.398,0.854,1.059,-0.592,0.425,0.589,0.278,49.603,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,1.011,0.237,-0.398,0.854,1.059,-0.592,0.425,0.589,0.278,49.622,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,1.011,0.237,-0.398,0.854,1.059,-0.592,0.425,0.589,0.278,49.623,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,1.011,0.237,-0.398,0.854,1.059,-0.592,0.425,0.589,0.278,49.623,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,1.011,0.237,-0.398,0.854,1.059,-0.592,0.425,0.589,0.278,49.623,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,1.011,0.237,-0.398,0.854,1.059,-0.592,0.425,0.589,0.278,49.623,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,1.011,0.237,-0.398,0.854,1.059,-0.592,0.425,0.589,0.278,49.624,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,1.011,0.237,-0.398,0.854,1.059,-0.592,0.425,0.589,0.278,49.624,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,1.011,0.237,-0.398,0.854,1.059,-0.592,0.425,0.589,0.278,49.624,0.143

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,1.011,0.237,-0.398,0.854,1.059,-0.592,0.425,0.589,0.278,49.624,0.143

Optimization done, time elapsed: 0:20:41

      c_0: array([0.9877744 , 0.3293421 , 0.19427375, 0.60546828, 0.87275232,
       0.91784555, 0.55385475, 0.65948717, 0.07122322])
      dgp: 'bigbatch'
    dgp_i: 17
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 1241.4492545127869
      fun: 3396.3379020044276
 hess_inv: array([[ 0.17445104, -0.06514507,  0.18413719, -0.48573286, -0.07057773,
        -0.13705857,  0.36711655, -0.05959989, -0.00594423],
       [-0.06514507,  0.02516267, -0.07004001,  0.18395932,  0.027089  ,
         0.05112296, -0.13917789,  0.02228685,  0.00247583],
       [ 0.18413719, -0.07004001,  0.19950131, -0.5186558 , -0.07684166,
        -0.14580658,  0.38960013, -0.06114088, -0.00458195],
       [-0.48573286,  0.18395932, -0.5186558 ,  1.37549296,  0.19430551,
         0.38374432, -1.03690154,  0.16737795,  0.01550276],
       [-0.07057773,  0.027089  , -0.07684166,  0.19430551,  0.03579447,
         0.05531649, -0.14730911,  0.02192325,  0.00149296],
       [-0.13705857,  0.05112296, -0.14580658,  0.38374432,  0.05531649,
         0.10860011, -0.28927179,  0.04666335,  0.00381502],
       [ 0.36711655, -0.13917789,  0.38960013, -1.03690154, -0.14730911,
        -0.28927179,  0.78476836, -0.12803391, -0.01346838],
       [-0.05959989,  0.02228685, -0.06114088,  0.16737795,  0.02192325,
         0.04666335, -0.12803391,  0.02218872,  0.00323382],
       [-0.00594423,  0.00247583, -0.00458195,  0.01550276,  0.00149296,
         0.00381502, -0.01346838,  0.00323382,  0.00173676]])
      jac: array([-6.10351562e-05,  3.05175781e-05, -3.05175781e-05, -1.22070312e-04,
       -9.15527344e-05, -1.52587891e-04,  2.13623047e-04,  2.74658203e-04,
       -1.22070312e-04])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 485
      nit: 33
     njev: 44
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 1.0108556 ,  0.23706776, -0.39799366,  0.85372142,  1.05864192,
       -0.59233101,  0.42501873,  0.58936435,  0.2776505 ])

Saving run 18 of 250

Fitting model 19 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.612,0.346,-0.662,0.234,0.475,0.400,2.025,1.313,1.198,322.957,0.881

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.513,0.288,-0.781,0.361,0.657,-0.290,1.669,1.339,0.768,246.927,0.678

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.658,0.010,-0.725,0.533,0.859,-0.545,1.318,1.305,0.368,183.930,0.521

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.696,0.215,-0.648,0.652,0.996,-0.538,1.077,1.231,0.313,138.094,0.422

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.768,0.162,-0.579,0.889,1.331,-0.537,0.656,1.083,0.349,86.717,0.283

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.675,0.142,-0.643,0.734,1.314,-0.486,0.498,0.922,0.337,70.163,0.225

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.700,0.135,-0.613,0.751,1.147,-0.515,0.437,0.806,0.337,58.242,0.172

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.693,0.148,-0.610,0.796,1.148,-0.483,0.459,0.685,0.324,56.294,0.152

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.770,0.167,-0.534,0.722,1.170,-0.509,0.467,0.642,0.322,53.173,0.149

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.766,0.173,-0.527,0.727,1.129,-0.488,0.440,0.709,0.318,50.730,0.148

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.759,0.173,-0.520,0.739,1.136,-0.481,0.437,0.664,0.313,49.254,0.140

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.744,0.172,-0.505,0.764,1.149,-0.466,0.415,0.573,0.304,44.350,0.122

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.734,0.171,-0.493,0.782,1.156,-0.456,0.384,0.483,0.296,39.670,0.109

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.734,0.170,-0.492,0.782,1.156,-0.456,0.369,0.443,0.295,38.866,0.106

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.734,0.170,-0.494,0.780,1.156,-0.457,0.354,0.407,0.295,38.003,0.105

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.735,0.170,-0.494,0.779,1.156,-0.457,0.347,0.393,0.296,37.524,0.105

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.735,0.170,-0.494,0.779,1.156,-0.457,0.344,0.390,0.296,37.339,0.105

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.735,0.170,-0.494,0.779,1.156,-0.457,0.343,0.390,0.296,37.256,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.391,0.296,37.151,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.392,0.296,37.065,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.392,0.296,37.015,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.392,0.296,37.008,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.392,0.296,37.011,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.392,0.296,37.010,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.392,0.296,37.010,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.392,0.296,37.010,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.392,0.296,37.010,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.392,0.296,37.010,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.392,0.296,37.010,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.392,0.296,37.010,0.104

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.735,0.170,-0.494,0.779,1.156,-0.457,0.342,0.392,0.296,37.010,0.104

Optimization done, time elapsed: 0:21:51

      c_0: array([0.078452  , 0.24125794, 0.07406936, 0.18486411, 0.389683  ,
       0.73261669, 0.83491003, 0.26924243, 0.39534967])
      dgp: 'bigbatch'
    dgp_i: 18
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 1310.6299109458923
      fun: 3462.474352060898
 hess_inv: array([[ 0.01214237,  0.00396094,  0.01103771,  0.01516077, -0.03099941,
        -0.00595691, -0.01910118,  0.00174947,  0.01930931],
       [ 0.00396094,  0.00251073,  0.00458268,  0.00762283, -0.01286663,
        -0.00207772, -0.00895301,  0.00145162,  0.00890378],
       [ 0.01103771,  0.00458268,  0.01407432,  0.0156288 , -0.03266715,
        -0.0057334 , -0.01969162,  0.00027511,  0.01895363],
       [ 0.01516077,  0.00762283,  0.0156288 ,  0.0319022 , -0.04669433,
        -0.00726973, -0.03475224,  0.00843525,  0.03508849],
       [-0.03099941, -0.01286663, -0.03266715, -0.04669433,  0.0886701 ,
         0.01606651,  0.05618127, -0.00548684, -0.05688814],
       [-0.00595691, -0.00207772, -0.0057334 , -0.00726973,  0.01606651,
         0.00387084,  0.00925546,  0.00052792, -0.01000782],
       [-0.01910118, -0.00895301, -0.01969162, -0.03475224,  0.05618127,
         0.00925546,  0.04057692, -0.00617578, -0.04197077],
       [ 0.00174947,  0.00145162,  0.00027511,  0.00843525, -0.00548684,
         0.00052792, -0.00617578,  0.00872562,  0.00308323],
       [ 0.01930931,  0.00890378,  0.01895363,  0.03508849, -0.05688814,
        -0.01000782, -0.04197077,  0.00308323,  0.04717677]])
      jac: array([ 1.22070312e-04,  1.83105469e-04, -9.15527344e-05,  1.83105469e-04,
       -1.52587891e-04,  9.15527344e-05, -3.05175781e-05, -1.52587891e-04,
       -9.15527344e-05])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 595
      nit: 31
     njev: 54
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 0.73464616,  0.16986806, -0.49411226,  0.77917397,  1.1563522 ,
       -0.45691228,  0.3415374 ,  0.39229231,  0.29607928])

Saving run 19 of 250

Fitting model 20 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.700,0.448,-0.265,0.747,0.613,0.077,2.163,1.156,1.099,321.543,0.825

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.626,0.327,-0.335,0.774,0.717,-0.308,1.843,1.151,0.829,256.725,0.673

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.737,0.215,-0.120,0.865,0.999,-0.418,1.107,1.006,0.219,137.953,0.400

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.737,0.330,-0.115,0.876,1.014,-0.456,1.050,0.965,0.198,137.010,0.380

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.778,0.329,-0.091,0.906,1.062,-0.462,0.715,0.664,0.214,91.426,0.257

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.673,0.275,-0.193,0.822,0.951,-0.444,0.713,0.534,0.203,87.429,0.242

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.675,0.220,-0.224,0.910,1.010,-0.481,0.802,0.439,0.199,92.134,0.258

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.651,0.206,-0.288,0.760,1.254,-0.474,0.763,0.456,0.207,87.571,0.248

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.704,0.190,-0.284,0.745,1.223,-0.516,0.661,0.534,0.216,74.739,0.214

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.528,0.172,-0.510,1.043,1.240,-0.406,0.467,0.756,0.232,58.142,0.190

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.615,0.178,-0.508,1.031,1.229,-0.445,0.464,0.698,0.241,53.395,0.165

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.800,0.176,-0.482,0.952,1.176,-0.556,0.395,0.718,0.277,43.270,0.128

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.831,0.179,-0.497,0.958,1.159,-0.578,0.361,0.583,0.286,37.151,0.100

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.834,0.182,-0.492,0.948,1.161,-0.582,0.331,0.598,0.292,34.417,0.094

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.826,0.187,-0.485,0.945,1.162,-0.581,0.272,0.610,0.297,28.050,0.080

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.821,0.187,-0.484,0.946,1.160,-0.578,0.224,0.604,0.296,22.477,0.068

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.820,0.186,-0.482,0.949,1.156,-0.575,0.168,0.593,0.291,15.774,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.824,0.184,-0.483,0.951,1.156,-0.574,0.128,0.588,0.286,11.073,0.050

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.826,0.183,-0.483,0.952,1.157,-0.575,0.101,0.589,0.283,8.158,0.049

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.827,0.183,-0.483,0.952,1.157,-0.575,0.082,0.591,0.283,10.058,0.050

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.827,0.183,-0.483,0.952,1.157,-0.575,0.064,0.593,0.283,12.135,0.052

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.826,0.183,-0.483,0.952,1.157,-0.575,0.050,0.593,0.284,13.685,0.053

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.825,0.184,-0.483,0.952,1.157,-0.575,0.041,0.592,0.285,14.620,0.054

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.825,0.184,-0.483,0.952,1.157,-0.575,0.037,0.591,0.285,15.117,0.054

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.825,0.184,-0.483,0.952,1.157,-0.575,0.033,0.591,0.285,15.491,0.054

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.591,0.285,15.693,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.591,0.285,15.685,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.705,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.705,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.705,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.705,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.704,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
32,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.704,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
33,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.705,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
34,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.704,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
35,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.704,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
36,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.704,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
37,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.704,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
38,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.704,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
39,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.704,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
40,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.704,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
41,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.704,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
42,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.704,0.055

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
43,0.825,0.183,-0.483,0.952,1.157,-0.575,0.032,0.592,0.285,15.704,0.055

Optimization done, time elapsed: 0:22:34

      c_0: array([0.11805794, 0.53378241, 0.48034218, 0.74226226, 0.55168165,
       0.26947751, 0.89890042, 0.13479573, 0.34094835])
      dgp: 'bigbatch'
    dgp_i: 19
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 1354.1030898094177
      fun: 3381.393541720067
 hess_inv: array([[ 3.31619073e-03,  4.00950044e-04,  2.52435300e-03,
        -2.77102891e-03, -5.05707072e-04, -1.05531694e-03,
         1.37016963e-04,  2.68634752e-03,  4.86828474e-04],
       [ 4.00950044e-04,  9.27198548e-04,  6.30979959e-04,
        -1.45794506e-04, -9.69977079e-04, -8.94959087e-05,
         3.44427209e-04,  1.37922205e-04, -9.53936183e-05],
       [ 2.52435300e-03,  6.30979959e-04,  4.09711225e-03,
        -3.30054088e-03, -6.13321932e-05, -1.80023477e-03,
        -2.59099030e-05,  3.22190520e-03,  8.43917911e-05],
       [-2.77102891e-03, -1.45794506e-04, -3.30054088e-03,
         5.36726757e-03, -5.76642567e-04,  1.71839922e-03,
         1.24424749e-04, -4.80383540e-03, -3.25434734e-04],
       [-5.05707072e-04, -9.69977079e-04, -6.13321932e-05,
        -5.76642567e-04,  1.48168136e-03, -3.93398551e-04,
        -4.63234649e-04,  6.11873544e-04, -3.25171303e-05],
       [-1.05531694e-03, -8.94959087e-05, -1.80023477e-03,
         1.71839922e-03, -3.93398551e-04,  9.91253200e-04,
         1.17087365e-04, -1.73111017e-03,  1.58578716e-06],
       [ 1.37016963e-04,  3.44427209e-04, -2.59099030e-05,
         1.24424749e-04, -4.63234649e-04,  1.17087365e-04,
         2.10730264e-04, -1.10213859e-04,  6.12809225e-05],
       [ 2.68634752e-03,  1.37922205e-04,  3.22190520e-03,
        -4.80383540e-03,  6.11873544e-04, -1.73111017e-03,
        -1.10213859e-04,  4.43974619e-03,  3.12419549e-04],
       [ 4.86828474e-04, -9.53936183e-05,  8.43917911e-05,
        -3.25434734e-04, -3.25171303e-05,  1.58578716e-06,
         6.12809225e-05,  3.12419549e-04,  2.28185487e-04]])
      jac: array([-3.05175781e-05, -3.05175781e-05,  6.10351562e-05,  3.05175781e-05,
       -6.10351562e-05,  1.83105469e-04, -2.44140625e-04,  3.05175781e-05,
        0.00000000e+00])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 639
      nit: 44
     njev: 58
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 0.8253379 ,  0.18347064, -0.4828428 ,  0.95183615,  1.15679337,
       -0.57490035,  0.03154116,  0.59152188,  0.28452752])

Saving run 20 of 250

Fitting model 21 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.812,0.590,-0.134,0.871,0.651,0.790,2.024,1.172,1.573,351.044,0.946

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.497,0.188,-0.470,0.913,0.940,-0.329,1.306,1.248,1.072,198.291,0.562

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.452,0.185,-0.495,0.923,0.998,-0.492,1.197,1.250,0.846,172.350,0.500

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.491,0.023,-0.424,0.934,1.087,-0.470,1.026,1.231,0.757,158.700,0.445

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,0.563,0.112,-0.368,0.939,1.300,-0.452,0.675,1.143,0.761,115.556,0.354

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.495,0.103,-0.427,0.773,1.136,-0.408,0.530,0.988,0.732,95.266,0.296

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.529,0.101,-0.420,0.920,0.921,-0.449,0.447,0.792,0.705,79.471,0.244

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.510,0.095,-0.468,0.935,1.012,-0.448,0.451,0.657,0.659,73.705,0.217

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.835,0.148,-0.251,0.683,1.022,-0.691,0.451,0.666,0.595,74.673,0.217

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.843,0.194,-0.283,0.751,0.946,-0.649,0.381,1.125,0.532,70.106,0.272

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.815,0.207,-0.409,0.828,1.053,-0.566,0.333,0.793,0.439,46.233,0.148

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.755,0.224,-0.607,0.940,1.258,-0.466,0.255,0.782,0.310,33.269,0.128

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.761,0.222,-0.619,0.933,1.239,-0.502,0.226,0.800,0.280,28.326,0.126

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.788,0.215,-0.603,0.906,1.221,-0.492,0.200,0.836,0.253,23.501,0.129

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.778,0.217,-0.598,0.917,1.239,-0.491,0.194,0.788,0.251,22.124,0.116

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.772,0.220,-0.596,0.919,1.232,-0.489,0.184,0.785,0.249,21.147,0.114

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.771,0.221,-0.592,0.918,1.228,-0.489,0.168,0.780,0.246,19.318,0.110

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.771,0.222,-0.589,0.918,1.224,-0.489,0.141,0.776,0.244,16.320,0.107

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.772,0.222,-0.589,0.917,1.223,-0.489,0.103,0.775,0.246,11.979,0.106

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.773,0.220,-0.591,0.918,1.228,-0.490,0.071,0.780,0.250,14.744,0.108

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.774,0.219,-0.594,0.918,1.233,-0.490,0.050,0.785,0.254,17.290,0.111

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.775,0.218,-0.595,0.919,1.235,-0.490,0.039,0.787,0.255,18.705,0.113

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.775,0.218,-0.595,0.919,1.236,-0.490,0.027,0.787,0.255,19.965,0.114

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
23,0.775,0.218,-0.595,0.919,1.235,-0.490,0.017,0.786,0.255,21.005,0.114

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
24,0.774,0.219,-0.594,0.918,1.233,-0.490,0.012,0.784,0.254,21.597,0.114

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
25,0.774,0.219,-0.594,0.919,1.233,-0.490,0.008,0.784,0.253,21.982,0.114

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
26,0.774,0.219,-0.593,0.918,1.232,-0.490,0.005,0.783,0.253,22.310,0.114

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
27,0.774,0.219,-0.594,0.919,1.233,-0.490,0.003,0.784,0.254,22.529,0.114

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
28,0.774,0.219,-0.594,0.919,1.233,-0.490,0.001,0.784,0.254,22.709,0.115

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
29,0.774,0.219,-0.594,0.919,1.234,-0.490,0.000,0.785,0.254,22.874,0.115

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
30,0.774,0.219,-0.594,0.919,1.233,-0.490,0.000,0.784,0.254,22.844,0.115

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
31,0.774,0.219,-0.594,0.919,1.233,-0.490,0.000,0.784,0.254,22.837,0.115

Optimization done, time elapsed: 0:42:57

      c_0: array([0.24363371, 0.75264373, 0.62753063, 0.8733042 , 0.58843945,
       0.97320059, 0.81463071, 0.13389432, 0.65388263])
      dgp: 'bigbatch'
    dgp_i: 20
    dgp_n: 1000
 drawtype: 'pseudo'
 duration: 2577.106397151947
      fun: 3389.2157910545916
 hess_inv: array([[ 7.08579837e-03,  1.25230355e-03,  4.22143955e-03,
        -1.05613782e-03,  8.87582390e-04, -3.16048570e-03,
        -2.35923899e-01,  1.63952284e-03,  8.47323448e-05],
       [ 1.25230355e-03,  2.92490193e-03,  1.69111525e-03,
        -2.27684394e-04, -6.73742408e-04,  2.31367932e-04,
         5.65957694e-01, -7.49145924e-04, -1.54810281e-03],
       [ 4.22143955e-03,  1.69111525e-03,  7.53641433e-03,
        -1.14420178e-03, -2.10903637e-03, -1.97233392e-03,
         1.18410173e+00, -3.27146182e-03, -3.80408304e-03],
       [-1.05613782e-03, -2.27684394e-04, -1.14420178e-03,
         9.18317109e-03, -1.86813701e-03,  1.07736176e-03,
         5.58651988e-01,  1.00776213e-03, -5.85502210e-04],
       [ 8.87582390e-04, -6.73742408e-04, -2.10903637e-03,
        -1.86813701e-03,  1.66484600e-02, -2.45420522e-04,
        -2.62203783e+00,  6.27277834e-03,  8.01637071e-03],
       [-3.16048570e-03,  2.31367932e-04, -1.97233392e-03,
         1.07736176e-03, -2.45420522e-04,  2.66887876e-03,
         1.34322727e-01, -9.42148029e-04, -6.96914021e-04],
       [-2.35923899e-01,  5.65957694e-01,  1.18410173e+00,
         5.58651988e-01, -2.62203783e+00,  1.34322727e-01,
         3.14102804e+03, -3.23934362e+00, -4.75587954e+00],
       [ 1.63952284e-03, -7.49145924e-04, -3.27146182e-03,
         1.00776213e-03,  6.27277834e-03, -9.42148029e-04,
        -3.23934362e+00,  6.59200005e-02,  1.49835112e-02],
       [ 8.47323448e-05, -1.54810281e-03, -3.80408304e-03,
        -5.85502210e-04,  8.01637071e-03, -6.96914021e-04,
        -4.75587954e+00,  1.49835112e-02,  3.73196810e-02]])
      jac: array([ 8.02612305e-03, -7.62939453e-03, -6.22558594e-03, -2.28881836e-03,
        3.50952148e-03,  5.31005859e-03, -3.05175781e-05,  4.57763672e-04,
        4.69970703e-03])
  message: 'Desired error not necessarily achieved due to precision loss.'
   method: 'BFGS'
  n_draws: 500
     nfev: 1210
      nit: 32
     njev: 109
   status: 2
  success: False
   true_c: [0.8, 0.2, -0.5, 0.9, 1.1, -0.5, 0.1, 0.5, 0.25]
        x: array([ 7.74212175e-01,  2.18701504e-01, -5.93833328e-01,  9.18557790e-01,
        1.23312818e+00, -4.90146684e-01,  2.94656637e-04,  7.84109224e-01,
        2.53813415e-01])

Saving run 21 of 250

Fitting model 22 of 250

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
0,0.681,0.449,-0.303,0.191,0.693,0.086,1.275,2.466,1.313,267.237,0.913

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
1,0.601,0.387,-0.362,0.340,0.736,-0.270,1.273,2.202,0.864,227.353,0.763

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
2,0.686,0.348,-0.245,0.396,0.793,-0.225,1.094,1.993,0.695,194.336,0.662

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
3,0.808,0.545,-0.112,0.493,0.923,-0.323,0.747,1.613,0.600,150.843,0.503

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
4,1.006,0.369,-0.011,0.705,1.171,-0.604,0.364,1.137,0.620,88.470,0.329

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
5,0.512,0.207,-0.452,0.796,1.354,-0.482,0.120,0.782,0.523,30.343,0.187

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
6,0.481,0.200,-0.485,0.939,1.110,-0.474,0.101,0.775,0.512,23.840,0.166

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
7,0.504,0.191,-0.475,0.840,1.040,-0.516,0.099,0.785,0.494,24.191,0.162

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
8,0.582,0.233,-0.472,0.882,1.110,-0.543,0.114,0.837,0.441,24.280,0.150

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
9,0.669,0.277,-0.524,0.857,1.015,-0.471,0.186,0.376,0.414,28.228,0.096

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
10,0.771,0.276,-0.599,0.918,1.218,-0.472,0.226,0.342,0.311,29.063,0.092

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
11,0.775,0.284,-0.595,0.920,1.137,-0.492,0.234,0.328,0.277,27.805,0.086

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
12,0.766,0.284,-0.592,0.909,1.133,-0.481,0.254,0.315,0.256,29.501,0.092

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
13,0.762,0.280,-0.586,0.905,1.141,-0.479,0.272,0.308,0.243,31.474,0.096

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
14,0.762,0.280,-0.587,0.905,1.141,-0.478,0.282,0.306,0.241,32.812,0.099

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
15,0.761,0.279,-0.587,0.905,1.141,-0.478,0.298,0.304,0.239,34.706,0.103

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
16,0.761,0.279,-0.589,0.906,1.141,-0.478,0.316,0.302,0.239,36.760,0.107

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
17,0.760,0.279,-0.589,0.906,1.141,-0.478,0.321,0.303,0.241,37.197,0.108

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
18,0.760,0.279,-0.589,0.906,1.141,-0.479,0.320,0.304,0.242,37.023,0.108

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
19,0.760,0.279,-0.589,0.906,1.141,-0.479,0.320,0.304,0.242,37.038,0.108

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
20,0.760,0.279,-0.589,0.906,1.141,-0.479,0.320,0.305,0.242,37.032,0.108

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
21,0.760,0.279,-0.589,0.906,1.141,-0.479,0.320,0.306,0.242,37.019,0.108

,a h41,a h32,a h28,m disp,m feat,m price,s disp,s feat,s price,MAPE,RMSE
22,0.760,0.279,-0.589,0.906,1.142,-0.479,0.320,0.309,0.242,36.979,0.107